In [1]:
import pandas as pd
import numpy as np
from random import randint

In [2]:
# Import tabula to read pdf file
import tabula

In [3]:
mak23 = tabula.read_pdf("examples/Mak2023-2024.pdf", pages="all")

D:\Novel\Data\Python\DataAnalysis\DataAnalysisVenv\Lib\site-packages\tabula\io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [4]:
# This data is rough and improperly structured
# length of mak23
len(mak23)

335

In [5]:
mak23[0]

,Unnamed: 0,Unnamed: 1,MAKERERE UIVERSITY,Unnamed: 2
0,NaN,NaN,ACADEMIC REGISTRAR'S DEPARTMENT,NaN
1,NaN,NaN,ADMITTED APPLICANTS FOR PRIVATE SPONSORSHIP FO...,NaN
2,NaN,NaN,BSC. Accounting (EVE),NaN
3,No,formid,Index_no name gender uace_yr code District cou...,Tot_wt
4,NaN,NaN,code,NaN
5,1,23APF412304454141015,U0391/673 LUKABWE DOUGLAS MARKM 2022 42 MUKONO...,42.2
6,2,23APF345674424112360,U1249/532 LULE ISAACM 2022 40 MPIGI ACC BSC. A...,41.1
7,3,23APF1361730063122187,U0459/676 HAULAH SULAIT BIIRAF 2022 21 KASESE ...,40.6
8,4,23APF519647933132646,U1611/887 NAMBALYE EVELYNEF 2022 33 MASAKA ACC...,38.8
9,5,23APF1481620160129238,U0083/555 KEMIGISHA RUSIAF 2022 65 IBANDA ACC...,38.4
10,6,23APF1501202078128326,U2373/501 LUWAGA TONNYM 2018 55 WAKISO ACC BSC...,38.4
11,7,23APF1139056282132364,U0856/511 NAMAGEMBE MARTINAF 2022 25 KIBOGA AC...,38.2
12,8,23APF101396019107326,U2929/521 KALUNGI TITUSM 2022 75 MITYANA ACC B...,38.1
13,9,23APF515017899120808,U1609/550 KIZITO PATRICKM 2011 16 KAMPALA ACC ...,37.9
14,10,23APF1672224247102423,U1224/882 NDYOMUHIRWA CHRISTIANM 2022 50 RUKUN...,37.9
15,11,23APF202185286140690,U1350/503 GWOKYALYA RESTYF 2022 16 KAMPALA ACC...,37.8
16,12,23APF231194390150185,U0086/599 WAISWA CEASERM 2009 17 KAMULI ACC BS...,37
17,13,23APF174935849136324,U0923/523 NABUUMA MAJOREENF 2017 55 WAKISO ACC...,36.5
18,14,23APF324272143128932,U2789/821 TAMALE COLINM 2022 91 GOMBA ACC BSC....,35.8
19,15,23APF231927019128941,U0960/506 LUUTU DOUGLASM 2022 16 KAMPALA ACC B...,35.8
20,16,23APF1362423415106885,U0459/684 KASANGAKI MARIAM BINTAF 2022 13 KABA...,35.5
21,17,23APF1368966146127414,U1611/947 NANSUBUGA LYDIAF 2022 16 KAMPALA AC...,35.3
22,18,23APF1031507983139846,U3219/507 NANDAGIRE SCOVIAF 2022 49 RAKAI ACC ...,34.6
23,19,23APF980625096133316,U0737/531 MUDOBYA CHRISTINEF 2007 10 IGANGA AC...,34.6
24,20,23APF154566486115108,U0036/560 ASHABA PERUTHF 2020 101 LWENGO ACC B...,34.4
25,21,23APF283201719136962,U1979/584 MIREMBE SHALOM NAMYALOF 2022 55 WAKI...,34.3
26,22,23APF957749380107698,U2381/539 KISEMBO ELIJAHM 2022 9 HOIMA ACC BSC...,34.1
27,23,23APF1091499022125514,U0200/522 LUYIGA T. CATHERINEF 2022 55 WAKISO ...,33.8
28,24,23APF1158623449102037,U3082/603 MUGISA DERRICKM 2022 102 KAGADI ACC ...,33.5
29,25,23APF1057280688118519,U0027/750 WANGOTA BRIANM 2022 11 JINJA ACC BSC...,33.3
30,26,23APF104197063663745,U2789/553 MWEBESA SOLOMON ARTHURM 2013 30 KYEN...,33
31,27,23APF16043054134531,U2474/892 MUHAIRWE JOELM 2022 118 BUNYANGABU A...,32.8
32,28,23APF436324879132722,U2839/522 TUMUSIIME PATRICIAF 2022 9 HOIMA ACC...,32.5
33,29,23APF1080023620127280,U2144/516 KABARUNGI EMILLYF 2022 18 KAMWENGE A...,32.4
34,30,23APF157015655125355,U1542/582 WAKIBUGO IANM 2022 55 WAKISO ACC BSC...,32
35,31,23APF141959743797295,U1451/517 NAIGAMBI ALIM 2020 11 JINJA ACC BSC....,31.5
36,32,23APF751191108106210,U2789/560 NALWEYISO DAISYF 2022 16 KAMPALA ACC...,31.4
37,33,23APF724414868141141,U3219/508 NAMBAYO KATHYF 2022 77 BUDAKA ACC BS...,31.3
38,34,23APF1413319323135980,U1969/524 KAKOOZA MOHMMADM 2022 88 BUTAMBALA A...,31.2
39,35,23APF593373474116716,U0859/554 KIVEBULAAYA LIVINGSTONEM 2022 41 MUB...,31.1
40,36,23APF75774350148691,U0459/630 KIJJIDE AFIZI MUHAMADM 2022 88 BUTAM...,31.1
41,37,23APF238774767111982,U2962/615 BALYOKWAIBWE EMMANUELM 2022 90 BUYEN...,31.1
42,38,23APF785739568144218,U0760/553 SUNDAY EMMANUELM 2022 18 KAMWENGE AC...,31
43,39,23APF269087811114307,U3941/514 LUKYAMUZI JUDE THADDEUSM 2022 33 MAS...,31
44,40,23APF810803954100945,U0053/824 ATEGEKA ROBERTM 2009 9 HOIMA ACC BSC...,30.9

In [6]:
df1= mak23[0].dropna()

In [7]:
columns = df1.columns

In [8]:
columns

Index(['Unnamed: 0', 'Unnamed: 1', 'MAKERERE UIVERSITY', 'Unnamed: 2'], dtype='object')

In [9]:
df1 = df1.drop(columns[0], axis=1)

In [10]:
columns = df1.columns

In [11]:
columns

Index(['Unnamed: 1', 'MAKERERE UIVERSITY', 'Unnamed: 2'], dtype='object')

In [12]:
# drop column 0
df1[columns[1]]

3     Index_no name gender uace_yr code District cou...
5     U0391/673 LUKABWE DOUGLAS MARKM 2022 42 MUKONO...
6     U1249/532 LULE ISAACM 2022 40 MPIGI ACC BSC. A...
7     U0459/676 HAULAH SULAIT BIIRAF 2022 21 KASESE ...
8     U1611/887 NAMBALYE EVELYNEF 2022 33 MASAKA ACC...
9     U0083/555 KEMIGISHA  RUSIAF 2022 65 IBANDA ACC...
10    U2373/501 LUWAGA TONNYM 2018 55 WAKISO ACC BSC...
11    U0856/511 NAMAGEMBE MARTINAF 2022 25 KIBOGA AC...
12    U2929/521 KALUNGI TITUSM 2022 75 MITYANA ACC B...
13    U1609/550 KIZITO PATRICKM 2011 16 KAMPALA ACC ...
14    U1224/882 NDYOMUHIRWA CHRISTIANM 2022 50 RUKUN...
15    U1350/503 GWOKYALYA RESTYF 2022 16 KAMPALA ACC...
16    U0086/599 WAISWA CEASERM 2009 17 KAMULI ACC BS...
17    U0923/523 NABUUMA MAJOREENF 2017 55 WAKISO ACC...
18    U2789/821 TAMALE COLINM 2022 91 GOMBA ACC BSC....
19    U0960/506 LUUTU DOUGLASM 2022 16 KAMPALA ACC B...
20    U0459/684 KASANGAKI MARIAM BINTAF 2022 13 KABA...
21    U1611/947 NANSUBUGA  LYDIAF 2022 16 KAMPALA AC...
22    U3219/507 NANDAGIRE SCOVIAF 2022 49 RAKAI ACC ...
23    U0737/531 MUDOBYA CHRISTINEF 2007 10 IGANGA AC...
24    U0036/560 ASHABA PERUTHF 2020 101 LWENGO ACC B...
25    U1979/584 MIREMBE SHALOM NAMYALOF 2022 55 WAKI...
26    U2381/539 KISEMBO ELIJAHM 2022 9 HOIMA ACC BSC...
27    U0200/522 LUYIGA T. CATHERINEF 2022 55 WAKISO ...
28    U3082/603 MUGISA DERRICKM 2022 102 KAGADI ACC ...
29    U0027/750 WANGOTA BRIANM 2022 11 JINJA ACC BSC...
30    U2789/553 MWEBESA SOLOMON ARTHURM 2013 30 KYEN...
31    U2474/892 MUHAIRWE JOELM 2022 118 BUNYANGABU A...
32    U2839/522 TUMUSIIME PATRICIAF 2022 9 HOIMA ACC...
33    U2144/516 KABARUNGI EMILLYF 2022 18 KAMWENGE A...
34    U1542/582 WAKIBUGO IANM 2022 55 WAKISO ACC BSC...
35    U1451/517 NAIGAMBI ALIM 2020 11 JINJA ACC BSC....
36    U2789/560 NALWEYISO DAISYF 2022 16 KAMPALA ACC...
37    U3219/508 NAMBAYO KATHYF 2022 77 BUDAKA ACC BS...
38    U1969/524 KAKOOZA MOHMMADM 2022 88 BUTAMBALA A...
39    U0859/554 KIVEBULAAYA LIVINGSTONEM 2022 41 MUB...
40    U0459/630 KIJJIDE AFIZI MUHAMADM 2022 88 BUTAM...
41    U2962/615 BALYOKWAIBWE EMMANUELM 2022 90 BUYEN...
42    U0760/553 SUNDAY EMMANUELM 2022 18 KAMWENGE AC...
43    U3941/514 LUKYAMUZI JUDE THADDEUSM 2022 33 MAS...
44    U0053/824 ATEGEKA ROBERTM 2009 9 HOIMA ACC BSC...
Name: MAKERERE UIVERSITY, dtype: object

In [13]:
columns = df1.columns.tolist()

In [78]:
data = df1[columns[1]].tolist()
firstEntry= data[1].split()

In [79]:
data

['Index_no name gender uace_yr code District course_ course_name',
 'U0391/673 LUKABWE DOUGLAS MARKM 2022 42 MUKONO ACC BSC. Accounting (EVE)',
 'U1249/532 LULE ISAACM 2022 40 MPIGI ACC BSC. Accounting (EVE)',
 'U0459/676 HAULAH SULAIT BIIRAF 2022 21 KASESE ACC BSC. Accounting (EVE)',
 'U1611/887 NAMBALYE EVELYNEF 2022 33 MASAKA ACC BSC. Accounting (EVE)',
 'U0083/555 KEMIGISHA  RUSIAF 2022 65 IBANDA ACC BSC. Accounting (EVE)',
 'U2373/501 LUWAGA TONNYM 2018 55 WAKISO ACC BSC. Accounting (EVE)',
 'U0856/511 NAMAGEMBE MARTINAF 2022 25 KIBOGA ACC BSC. Accounting (EVE)',
 'U2929/521 KALUNGI TITUSM 2022 75 MITYANA ACC BSC. Accounting (EVE)',
 'U1609/550 KIZITO PATRICKM 2011 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U1224/882 NDYOMUHIRWA CHRISTIANM 2022 50 RUKUNGIRI ACC BSC. Accounting (EVE)',
 'U1350/503 GWOKYALYA RESTYF 2022 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U0086/599 WAISWA CEASERM 2009 17 KAMULI ACC BSC. Accounting (EVE)',
 'U0923/523 NABUUMA MAJOREENF 2017 55 WAKISO ACC BSC. Accounting (EVE)',
 'U2789/821 TAMALE COLINM 2022 91 GOMBA ACC BSC. Accounting (EVE)',
 'U0960/506 LUUTU DOUGLASM 2022 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U0459/684 KASANGAKI MARIAM BINTAF 2022 13 KABAROLE ACC BSC. Accounting (EVE)',
 'U1611/947 NANSUBUGA  LYDIAF 2022 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U3219/507 NANDAGIRE SCOVIAF 2022 49 RAKAI ACC BSC. Accounting (EVE)',
 'U0737/531 MUDOBYA CHRISTINEF 2007 10 IGANGA ACC BSC. Accounting (EVE)',
 'U0036/560 ASHABA PERUTHF 2020 101 LWENGO ACC BSC. Accounting (EVE)',
 'U1979/584 MIREMBE SHALOM NAMYALOF 2022 55 WAKISO ACC BSC. Accounting (EVE)',
 'U2381/539 KISEMBO ELIJAHM 2022 9 HOIMA ACC BSC. Accounting (EVE)',
 'U0200/522 LUYIGA T. CATHERINEF 2022 55 WAKISO ACC BSC. Accounting (EVE)',
 'U3082/603 MUGISA DERRICKM 2022 102 KAGADI ACC BSC. Accounting (EVE)',
 'U0027/750 WANGOTA BRIANM 2022 11 JINJA ACC BSC. Accounting (EVE)',
 'U2789/553 MWEBESA SOLOMON ARTHURM 2013 30 KYENJOJO ACC BSC. Accounting (EVE)',
 'U2474/892 MUHAIRWE JOELM 2022 118 BUNYANGABU ACC BSC. Accounting (EVE)',
 'U2839/522 TUMUSIIME PATRICIAF 2022 9 HOIMA ACC BSC. Accounting (EVE)',
 'U2144/516 KABARUNGI EMILLYF 2022 18 KAMWENGE ACC BSC. Accounting (EVE)',
 'U1542/582 WAKIBUGO IANM 2022 55 WAKISO ACC BSC. Accounting (EVE)',
 'U1451/517 NAIGAMBI ALIM 2020 11 JINJA ACC BSC. Accounting (EVE)',
 'U2789/560 NALWEYISO DAISYF 2022 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U3219/508 NAMBAYO KATHYF 2022 77 BUDAKA ACC BSC. Accounting (EVE)',
 'U1969/524 KAKOOZA MOHMMADM 2022 88 BUTAMBALA ACC BSC. Accounting (EVE)',
 'U0859/554 KIVEBULAAYA LIVINGSTONEM 2022 41 MUBENDE ACC BSC. Accounting (EVE)',
 'U0459/630 KIJJIDE AFIZI MUHAMADM 2022 88 BUTAMBALA ACC BSC. Accounting (EVE)',
 'U2962/615 BALYOKWAIBWE EMMANUELM 2022 90 BUYENDE ACC BSC. Accounting (EVE)',
 'U0760/553 SUNDAY EMMANUELM 2022 18 KAMWENGE ACC BSC. Accounting (EVE)',
 'U3941/514 LUKYAMUZI JUDE THADDEUSM 2022 33 MASAKA ACC BSC. Accounting (EVE)',
 'U0053/824 ATEGEKA ROBERTM 2009 9 HOIMA ACC BSC. Accounting (EVE)']

In [76]:
data[0]

'U0459/676 HAULAH SULAIT BIIRAF 2022 21 KASESE ACC BSC. Accounting (EVE)'

In [77]:
data

['U0459/676 HAULAH SULAIT BIIRAF 2022 21 KASESE ACC BSC. Accounting (EVE)',
 'U1611/887 NAMBALYE EVELYNEF 2022 33 MASAKA ACC BSC. Accounting (EVE)',
 'U0083/555 KEMIGISHA  RUSIAF 2022 65 IBANDA ACC BSC. Accounting (EVE)',
 'U2373/501 LUWAGA TONNYM 2018 55 WAKISO ACC BSC. Accounting (EVE)',
 'U0856/511 NAMAGEMBE MARTINAF 2022 25 KIBOGA ACC BSC. Accounting (EVE)',
 'U2929/521 KALUNGI TITUSM 2022 75 MITYANA ACC BSC. Accounting (EVE)',
 'U1609/550 KIZITO PATRICKM 2011 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U1224/882 NDYOMUHIRWA CHRISTIANM 2022 50 RUKUNGIRI ACC BSC. Accounting (EVE)',
 'U1350/503 GWOKYALYA RESTYF 2022 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U0086/599 WAISWA CEASERM 2009 17 KAMULI ACC BSC. Accounting (EVE)',
 'U0923/523 NABUUMA MAJOREENF 2017 55 WAKISO ACC BSC. Accounting (EVE)',
 'U2789/821 TAMALE COLINM 2022 91 GOMBA ACC BSC. Accounting (EVE)',
 'U0960/506 LUUTU DOUGLASM 2022 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U0459/684 KASANGAKI MARIAM BINTAF 2022 13 KABAROLE ACC BSC. Accounting (EVE)',
 'U1611/947 NANSUBUGA  LYDIAF 2022 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U3219/507 NANDAGIRE SCOVIAF 2022 49 RAKAI ACC BSC. Accounting (EVE)',
 'U0737/531 MUDOBYA CHRISTINEF 2007 10 IGANGA ACC BSC. Accounting (EVE)',
 'U0036/560 ASHABA PERUTHF 2020 101 LWENGO ACC BSC. Accounting (EVE)',
 'U1979/584 MIREMBE SHALOM NAMYALOF 2022 55 WAKISO ACC BSC. Accounting (EVE)',
 'U2381/539 KISEMBO ELIJAHM 2022 9 HOIMA ACC BSC. Accounting (EVE)',
 'U0200/522 LUYIGA T. CATHERINEF 2022 55 WAKISO ACC BSC. Accounting (EVE)',
 'U3082/603 MUGISA DERRICKM 2022 102 KAGADI ACC BSC. Accounting (EVE)',
 'U0027/750 WANGOTA BRIANM 2022 11 JINJA ACC BSC. Accounting (EVE)',
 'U2789/553 MWEBESA SOLOMON ARTHURM 2013 30 KYENJOJO ACC BSC. Accounting (EVE)',
 'U2474/892 MUHAIRWE JOELM 2022 118 BUNYANGABU ACC BSC. Accounting (EVE)',
 'U2839/522 TUMUSIIME PATRICIAF 2022 9 HOIMA ACC BSC. Accounting (EVE)',
 'U2144/516 KABARUNGI EMILLYF 2022 18 KAMWENGE ACC BSC. Accounting (EVE)',
 'U1542/582 WAKIBUGO IANM 2022 55 WAKISO ACC BSC. Accounting (EVE)',
 'U1451/517 NAIGAMBI ALIM 2020 11 JINJA ACC BSC. Accounting (EVE)',
 'U2789/560 NALWEYISO DAISYF 2022 16 KAMPALA ACC BSC. Accounting (EVE)',
 'U3219/508 NAMBAYO KATHYF 2022 77 BUDAKA ACC BSC. Accounting (EVE)',
 'U1969/524 KAKOOZA MOHMMADM 2022 88 BUTAMBALA ACC BSC. Accounting (EVE)',
 'U0859/554 KIVEBULAAYA LIVINGSTONEM 2022 41 MUBENDE ACC BSC. Accounting (EVE)',
 'U0459/630 KIJJIDE AFIZI MUHAMADM 2022 88 BUTAMBALA ACC BSC. Accounting (EVE)',
 'U2962/615 BALYOKWAIBWE EMMANUELM 2022 90 BUYENDE ACC BSC. Accounting (EVE)',
 'U0760/553 SUNDAY EMMANUELM 2022 18 KAMWENGE ACC BSC. Accounting (EVE)',
 'U3941/514 LUKYAMUZI JUDE THADDEUSM 2022 33 MASAKA ACC BSC. Accounting (EVE)',
 'U0053/824 ATEGEKA ROBERTM 2009 9 HOIMA ACC BSC. Accounting (EVE)']

In [16]:
firstEntry = data[0]

In [17]:
firstEntry

'Index_no name gender uace_yr code District course_ course_name'

In [18]:
columnNames = ["INDEX NO", "NAME", "GENDER", "UACE YEAR", "CODE", "DISTRICT", "COURSE CODE", "COURSE NAME"]
columnNames2 = ["APP NO", "INDEX NO", "NAME", "GENDER", "UACE YEAR", "CODE", "DISTRICT", "COURSE CODE", "COURSE NAME", "TOTAL WEIGHT"]

In [19]:
def instTest(x):
    try: 
        if isinstance(float(x), float):
            return True
    except ValueError:
        return False

In [35]:
# Function to extract data from data2
def dataProcess(n):
#     if n >= 1:

    studentData = data[n].split()
    # print("Student Data: ", studentData)
    index_no = studentData[0]
    name = " ".join(studentData[1:-7])[:-1]
    gender = studentData[-8][-1]
    UACE_YEAR = int(studentData[-7])
    DistrictCode = int(studentData[-6])
    District = studentData[-5]
    CourseCode = studentData[-4]
    Course = ' '.join(studentData[-3:])
    return [index_no, name, gender, UACE_YEAR,
            DistrictCode, District, CourseCode, Course]

def getStudentData(data):
    studentList = []
    for i in range(len(data)):
    #     if i > 0:
        student = dataProcess(i)
        studentList.append(student)
    print(studentList)
    return studentList

In [127]:
def getDf():
    # i = randint(0, len(mak23)-1)
    i = 0
    print(i)

    # First column is a common to all, drop it
    df = mak23[i]
    # print(df.head(5))
    
    columns = df.columns
    # print("columns: ", columns)
    df = df.drop(columns[0], axis=1)

    # Drop columns with nan values
    # print("columns before dropping nan-columns: ", df.shape[1])
    df = df.dropna(axis=1,
                   # thresh=3,
                   how="all",
                  )
    # print("columns after dropping: ", df.shape[1])

    # drop rows with nan if they exist
    # print("Rows before dropping: ", df.shape[0])
    df = df.dropna(axis=0,
                   how="any",
                   # thresh=3,
                  )

    # Drop rows for which Tot_wt is not float
    df = df[df[columns[-1]] != "Tot_wt"]
    # print("Weights: ", df[columns[-1]])
    print(df.shape)
    columns = df.columns
    # print(columns)
    if len(columns) == 3:        
        
        # print(df.head(2))
        data = df[columns[1]].tolist()
        if i == 0:
            data = data[1:]

        print(data[:4])
        # data = df[columns.tolist()[1]].split()
        # print(df[df.columns[-1]])

        Tot_weights = df[df.columns[-1]].tolist()
        print("Length of Tot_weights: ", len(Tot_weights))
        print("Samples of Tot_weights")
        print(Tot_weights)
        
        temp = getStudentData(data)
        df = pd.DataFrame(columns=columnNames, data=temp)
        print("Number of columns: ", df.shape)
        print("Shape of temp: ", len(temp))
        # insert columns at last position
        df.insert(loc=len(df.columns),
                  column="TOTAL WEIGHT",
                  value=Tot_weights,
                 )
        return df
    if len(df.columns) == 10:
        df = df[df[columns[-1]] != "Tot_wt"]
        # Rename columns
        columns = df.columns
        df = df.rename(columns={columns[x]:columnNames2[x] for x in range(len(columns))})
        return df

In [74]:
# from random import randint
# i = randint(0, len(data)-1)
# i = 0
# print(data[:4])
# data = data[1:]
# studentList = []
# for i in range(len(data)):
# #     if i > 0:
#     student = dataProcess(i)
#     studentList.append(student)
# studentList

In [81]:
data = data[1:]

In [104]:
# getStudentData(data)

In [128]:
getDf()

0
(40, 3)
['U1249/532 LULE ISAACM 2022 40 MPIGI ACC BSC. Accounting (EVE)', 'U0459/676 HAULAH SULAIT BIIRAF 2022 21 KASESE ACC BSC. Accounting (EVE)', 'U1611/887 NAMBALYE EVELYNEF 2022 33 MASAKA ACC BSC. Accounting (EVE)', 'U0083/555 KEMIGISHA  RUSIAF 2022 65 IBANDA ACC BSC. Accounting (EVE)']
Length of Tot_weights:  40
Samples of Tot_weights
['42.2', '41.1', '40.6', '38.8', '38.4', '38.4', '38.2', '38.1', '37.9', '37.9', '37.8', '37', '36.5', '35.8', '35.8', '35.5', '35.3', '34.6', '34.6', '34.4', '34.3', '34.1', '33.8', '33.5', '33.3', '33', '32.8', '32.5', '32.4', '32', '31.5', '31.4', '31.3', '31.2', '31.1', '31.1', '31.1', '31', '31', '30.9']
[['U0391/673', 'LUKABWE DOUGLAS MARK', 'M', 2022, 42, 'MUKONO', 'ACC', 'BSC. Accounting (EVE)'], ['U1249/532', 'LULE ISAAC', 'M', 2022, 40, 'MPIGI', 'ACC', 'BSC. Accounting (EVE)'], ['U0459/676', 'HAULAH SULAIT BIIRA', 'F', 2022, 21, 'KASESE', 'ACC', 'BSC. Accounting (EVE)'], ['U1611/887', 'NAMBALYE EVELYNE', 'F', 2022, 33, 'MASAKA', 'ACC', 'BSC. Accounting (EVE)'], ['U0083/555', 'KEMIGISHA RUSIA', 'F', 2022, 65, 'IBANDA', 'ACC', 'BSC. Accounting (EVE)'], ['U2373/501', 'LUWAGA TONNY', 'M', 2018, 55, 'WAKISO', 'ACC', 'BSC. Accounting (EVE)'], ['U0856/511', 'NAMAGEMBE MARTINA', 'F', 2022, 25, 'KIBOGA', 'ACC', 'BSC. Accounting (EVE)'], ['U2929/521', 'KALUNGI TITUS', 'M', 2022, 75, 'MITYANA', 'ACC', 'BSC. Accounting (EVE)'], ['U1609/550', 'KIZITO PATRICK', 'M', 2011, 16, 'KAMPALA', 'ACC', 'BSC. Accounting (EVE)'], ['U1224/882', 'NDYOMUHIRWA CHRISTIAN', 'M', 2022, 50, 'RUKUNGIRI', 'ACC', 'BSC. Accounting (EVE)'], ['U1350/503', 'GWOKYALYA RESTY', 'F', 2022, 16, 'KAMPALA', 'ACC', 'BSC. Accounting (EVE)'], ['U0086/599', 'WAISWA CEASER', 'M', 2009, 17, 'KAMULI', 'ACC', 'BSC. Accounting (EVE)'], ['U0923/523', 'NABUUMA MAJOREEN', 'F', 2017, 55, 'WAKISO', 'ACC', 'BSC. Accounting (EVE)'], ['U2789/821', 'TAMALE COLIN', 'M', 2022, 91, 'GOMBA', 'ACC', 'BSC. Accounting (EVE)'], ['U0960/506', 'LUUTU DOUGLAS', 'M', 2022, 16, 'KAMPALA', 'ACC', 'BSC. Accounting (EVE)'], ['U0459/684', 'KASANGAKI MARIAM BINTA', 'F', 2022, 13, 'KABAROLE', 'ACC', 'BSC. Accounting (EVE)'], ['U1611/947', 'NANSUBUGA LYDIA', 'F', 2022, 16, 'KAMPALA', 'ACC', 'BSC. Accounting (EVE)'], ['U3219/507', 'NANDAGIRE SCOVIA', 'F', 2022, 49, 'RAKAI', 'ACC', 'BSC. Accounting (EVE)'], ['U0737/531', 'MUDOBYA CHRISTINE', 'F', 2007, 10, 'IGANGA', 'ACC', 'BSC. Accounting (EVE)'], ['U0036/560', 'ASHABA PERUTH', 'F', 2020, 101, 'LWENGO', 'ACC', 'BSC. Accounting (EVE)'], ['U1979/584', 'MIREMBE SHALOM NAMYALO', 'F', 2022, 55, 'WAKISO', 'ACC', 'BSC. Accounting (EVE)'], ['U2381/539', 'KISEMBO ELIJAH', 'M', 2022, 9, 'HOIMA', 'ACC', 'BSC. Accounting (EVE)'], ['U0200/522', 'LUYIGA T. CATHERINE', 'F', 2022, 55, 'WAKISO', 'ACC', 'BSC. Accounting (EVE)'], ['U3082/603', 'MUGISA DERRICK', 'M', 2022, 102, 'KAGADI', 'ACC', 'BSC. Accounting (EVE)'], ['U0027/750', 'WANGOTA BRIAN', 'M', 2022, 11, 'JINJA', 'ACC', 'BSC. Accounting (EVE)'], ['U2789/553', 'MWEBESA SOLOMON ARTHUR', 'M', 2013, 30, 'KYENJOJO', 'ACC', 'BSC. Accounting (EVE)'], ['U2474/892', 'MUHAIRWE JOEL', 'M', 2022, 118, 'BUNYANGABU', 'ACC', 'BSC. Accounting (EVE)'], ['U2839/522', 'TUMUSIIME PATRICIA', 'F', 2022, 9, 'HOIMA', 'ACC', 'BSC. Accounting (EVE)'], ['U2144/516', 'KABARUNGI EMILLY', 'F', 2022, 18, 'KAMWENGE', 'ACC', 'BSC. Accounting (EVE)'], ['U1542/582', 'WAKIBUGO IAN', 'M', 2022, 55, 'WAKISO', 'ACC', 'BSC. Accounting (EVE)'], ['U1451/517', 'NAIGAMBI ALI', 'M', 2020, 11, 'JINJA', 'ACC', 'BSC. Accounting (EVE)'], ['U2789/560', 'NALWEYISO DAISY', 'F', 2022, 16, 'KAMPALA', 'ACC', 'BSC. Accounting (EVE)'], ['U3219/508', 'NAMBAYO KATHY', 'F', 2022, 77, 'BUDAKA', 'ACC', 'BSC. Accounting (EVE)'], ['U1969/524', 'KAKOOZA MOHMMAD', 'M', 2022, 88, 'BUTAMBALA', 'ACC', 'BSC. Accounting (EVE)'], ['U0859/554', 'KIVEBULAAYA LIVINGSTONE', 'M', 2022, 41, 'MUBENDE', 'ACC', 'BSC. Accounting (EVE)'], ['U0459/630', 'KIJJIDE AFIZI MUHAMAD', 'M', 2022, 88, 'BUTAMBALA', 'ACC', 'BSC. Accounting (EVE)'], ['U2962/615', 'BALYOKWAIBWE EMMANUEL', 'M', 2022, 90, 'BUYENDE', 'ACC', 'BSC. Accounting (EVE)'], ['U0760/553', 'SUNDAY EMMANUEL', 'M', 2022, 18, 'KAMWENGE', 'ACC', 'BSC. Accounting (EVE)'], ['U3941/514', 'LUKYAMUZI JUDE THADDEUS', 'M', 2022, 33, 'MASAKA', 'ACC', 'BSC. Accounting (EVE)']]
Number of columns:  (39, 8)
Shape of temp:  39

ValueError: Length of values (40) does not match length of index (39)

In [ ]:
data = mak23[0][mak23.columns[1]]

In [ ]:
# final df
df = pd.DataFrame(columns=columnNames2, data=[])
df
for i in range(len(mak23)):
    df = pd.concat([df, getDf(i)], ignore_index=True)
df

In [ ]:
# studentList = []
# for i in range(len(data)):
#     #     if i > 0:
#     student = dataProcess(i)
#     studentList.append(student)

In [ ]:
data = data1['MAKERERE UIVERSITY']

In [ ]:
data

In [ ]:
getDf()

In [ ]:
# Index the first table in the mak23 pdf
# Data is highly unordered and requires pre-processing
# A number of techniques shall be used to clean and prepare data into proper structured
# tabular format.
mak23[0]

In [ ]:
# Drop missing data rows.
# It can be observed that index 3 contains what would have been column names: Form id, Index_no, ...
# It also contains original data index read as column: Unnamed: 0
data1 = mak23[0].dropna()

In [ ]:
data1

In [ ]:
# This returns the columns in the DataFrame
data1.columns

In [ ]:
# drop column: Unnamed: 0
del data1["Unnamed: 0"]

In [ ]:
len(data1['MAKERERE UIVERSITY'])

In [ ]:
# Key data is in column Makerere University
# Employ python string processing methods to extracts such data

In [ ]:
data1.iloc[0]

In [ ]:
data1 = data1.drop(index=3)

In [ ]:
# data1.index

In [ ]:
# Reindex the dataframe
data2 = data1.reindex([x for x in range(len(data1.index))])

In [ ]:
data2

In [ ]:
newIndex = [x for x in range(len(data1.index))]
type(newIndex)

In [ ]:
getStudentData(data2)

In [ ]:
# data[1]
data = [x for x in data2[1:]]
# data

In [ ]:
# Preprocess and extract migled data from 'MAKERERE UIVERSITY' column
data2 = data1['MAKERERE UIVERSITY']

In [ ]:
data2

In [ ]:
# Function to extract data from data2
def dataProcess(n):
#     if n >= 1:
    studentData = data[n].split()
    index_no = studentData[0]
    name = " ".join(studentData[1:-7])[:-1]
    gender = studentData[-8][-1]
    UACE_YEAR = int(studentData[-7])
    DistrictCode = int(studentData[-6])
    District = studentData[-5]
    CourseCode = studentData[-4]
    Course = ' '.join(studentData[-3:])
    return [index_no, name, gender, UACE_YEAR,
            DistrictCode, District, CourseCode, Course]

In [ ]:
# Create a data frame with no data
df = pd.DataFrame([], columns=DataIndex)

In [ ]:
df

In [ ]:
# data

In [ ]:
studentList = []
for i in range(len(data)):
#     if i > 0:
    student = dataProcess(i)
    studentList.append(student)

In [ ]:
studentList

In [ ]:
df = pd.DataFrame(studentList, columns=DataIndex)

In [ ]:
df

In [ ]:
# Insert Total Weight Column into the DataFrame
df.insert(8, "Total Weight", pd.Series([x for x in weights], index=df.index))

In [ ]:
# Insert formId Column as the first column
# Qn: Can we insert multiple columns at once
df.insert(0, "Form ID", pd.Series([x for x in formId], index=df.index))

In [ ]:
df

<h3>Assignment: Preprocess the remaining data tables to have them similar to the data above.</h3>

In [ ]:
# Are there better ways of doing the above tasks?

# <h3>Data description</h3>

In [ ]:
# which district had a higher intake and what is its frequency
df.DISTRICT.describe()

In [ ]:
# In the data portion, there are 26 unique districts.
# Wakiso has oneof the highest frequency of student admissions.
# Budaka is one of the districts with the lowest frequency admissions.

In [ ]:
# why is Budaka returned as the district with the lowest frequency
df.DISTRICT.min()

In [ ]:
# why is Wakiso returned as the district with the highest frequency
df.DISTRICT.max()

In [ ]:
df.DISTRICT.value_counts()

In [ ]:
# analysis by SEX

In [ ]:
# More males than females were admitted
df.GENDER.value_counts()

In [ ]:
# Count gender by district 
df_district_gender = pd.DataFrame(data = df.GENDER.value_counts(), index = list(df.DISTRICT), columns = list(df.GENDER))

In [ ]:
# How can we get district gender count?