In [77]:
from customFunctions import readSavedData
import pandas as pd
import numpy as np
import yaml
import csv

In [78]:
with open('../Notebooks/preprocessingConfig.yml', 'r') as file:
    config = yaml.safe_load(file)

In [79]:
filename = config['general']['saved_file']

In [80]:
df = pd.read_csv('../Data/Private.csv',
                 # index_col=False,
                )

In [81]:
df17 = pd.read_csv("../Data/PrivateAdmissions20172018.csv",
                  )

In [82]:
# Sort by Total weight
df.sort_values(by=['TOTAL WEIGHT'],
                    ignore_index=True,
                    ascending=True,
                    kind='mergesort',
                   )
# Get School index
def getSchoolIndex(StudentIndex):
    schoolIndex = StudentIndex[:5]
    return schoolIndex

# Get admissions by District
def getAdmissionsByDistrict(df, district):
    district = district.upper()
    df = df[df.DISTRICT == district]
    return df

def getAdmissionsByProgramCode(df, code):
    code = code.upper()
    df = df[df['COURSE CODE'] == code]
    return df

def getAdmissionsBySchoolIndex(df, schoolIndex):
    schoolIndex = schoolIndex.upper()
    df = df[df['SCHOOL INDEX'] == schoolIndex]
    return df

In [83]:
df.drop(columns=['NAME', 'INDEX NO'])

,APPLICATION NO,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
0,23APF412304454141015,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...
14909,23APF727648568141557,F,2022.0,17.0,KAMULI,VET,B. Veterinary Medicine,41.8
14910,23APF963075058135059,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,41.7
14911,23APF1618205309130850,F,2022.0,74.0,MARACHA,VET,B. Veterinary Medicine,41.6
14912,23APF575513287117711,F,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,40.4
14913,23APF1477867021106233,F,2022.0,48.0,PALLISA,VET,B. Veterinary Medicine,40.1

In [84]:
df

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
14909,23APF727648568141557,U0017/548,KIZZA VANESSA ITRONCE,F,2022.0,17.0,KAMULI,VET,B. Veterinary Medicine,41.8
14910,23APF963075058135059,U0033/581,OTIM DANIEL,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,41.7
14911,23APF1618205309130850,U0077/736,MUKETI JOVIA,F,2022.0,74.0,MARACHA,VET,B. Veterinary Medicine,41.6
14912,23APF575513287117711,U0077/564,AWOR REBECCA,F,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,40.4
14913,23APF1477867021106233,U0017/606,SAGATI LETICIA OKURUT,F,2022.0,48.0,PALLISA,VET,B. Veterinary Medicine,40.1

In [85]:
# sort by course
df.sort_values(by=['COURSE CODE'],
               kind='mergesort',
               ascending=True,
               ignore_index=True,
              ).head(50)

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
5,23APF1501202078128326,U2373/501,LUWAGA TONNY,M,2018.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),38.4
6,23APF1139056282132364,U0856/511,NAMAGEMBE MARTINA,F,2022.0,25.0,KIBOGA,ACC,BSC. Accounting (EVE),38.2
7,23APF101396019107326,U2929/521,KALUNGI TITUS,M,2022.0,75.0,MITYANA,ACC,BSC. Accounting (EVE),38.1
8,23APF515017899120808,U1609/550,KIZITO PATRICK,M,2011.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),37.9
9,23APF1672224247102423,U1224/882,NDYOMUHIRWA CHRISTIAN,M,2022.0,50.0,RUKUNGIRI,ACC,BSC. Accounting (EVE),37.9
10,23APF202185286140690,U1350/503,GWOKYALYA RESTY,F,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),37.8
11,23APF231194390150185,U0086/599,WAISWA CEASER,M,2009.0,17.0,KAMULI,ACC,BSC. Accounting (EVE),37.0
12,23APF174935849136324,U0923/523,NABUUMA MAJOREEN,F,2017.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),36.5
13,23APF324272143128932,U2789/821,TAMALE COLIN,M,2022.0,91.0,GOMBA,ACC,BSC. Accounting (EVE),35.8
14,23APF231927019128941,U0960/506,LUUTU DOUGLAS,M,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),35.8
15,23APF1362423415106885,U0459/684,KASANGAKI MARIAM BINTA,F,2022.0,13.0,KABAROLE,ACC,BSC. Accounting (EVE),35.5
16,23APF1368966146127414,U1611/947,NANSUBUGA LYDIA,F,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),35.3
17,23APF1031507983139846,U3219/507,NANDAGIRE SCOVIA,F,2022.0,49.0,RAKAI,ACC,BSC. Accounting (EVE),34.6
18,23APF980625096133316,U0737/531,MUDOBYA CHRISTINE,F,2007.0,10.0,IGANGA,ACC,BSC. Accounting (EVE),34.6
19,23APF154566486115108,U0036/560,ASHABA PERUTH,F,2020.0,101.0,LWENGO,ACC,BSC. Accounting (EVE),34.4
20,23APF283201719136962,U1979/584,MIREMBE SHALOM NAMYALO,F,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),34.3
21,23APF957749380107698,U2381/539,KISEMBO ELIJAH,M,2022.0,9.0,HOIMA,ACC,BSC. Accounting (EVE),34.1
22,23APF1091499022125514,U0200/522,LUYIGA T. CATHERINE,F,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),33.8
23,23APF1158623449102037,U3082/603,MUGISA DERRICK,M,2022.0,102.0,KAGADI,ACC,BSC. Accounting (EVE),33.5
24,23APF1057280688118519,U0027/750,WANGOTA BRIAN,M,2022.0,11.0,JINJA,ACC,BSC. Accounting (EVE),33.3
25,23APF104197063663745,U2789/553,MWEBESA SOLOMON ARTHUR,M,2013.0,30.0,KYENJOJO,ACC,BSC. Accounting (EVE),33.0
26,23APF16043054134531,U2474/892,MUHAIRWE JOEL,M,2022.0,118.0,BUNYANGABU,ACC,BSC. Accounting (EVE),32.8
27,23APF436324879132722,U2839/522,TUMUSIIME PATRICIA,F,2022.0,9.0,HOIMA,ACC,BSC. Accounting (EVE),32.5
28,23APF1080023620127280,U2144/516,KABARUNGI EMILLY,F,2022.0,18.0,KAMWENGE,ACC,BSC. Accounting (EVE),32.4
29,23APF157015655125355,U1542/582,WAKIBUGO IAN,M,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),32.0
30,23APF141959743797295,U1451/517,NAIGAMBI ALI,M,2020.0,11.0,JINJA,ACC,BSC. Accounting (EVE),31.5
31,23APF751191108106210,U2789/560,NALWEYISO DAISY,F,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),31.4
32,23APF724414868141141,U3219/508,NAMBAYO KATHY,F,2022.0,77.0,BUDAKA,ACC,BSC. Accounting (EVE),31.3
33,23APF1413319323135980,U1969/524,KAKOOZA MOHMMAD,M,2022.0,88.0,BUTAMBALA,ACC,BSC. Accounting (EVE),31.2
34,23APF593373474116716,U0859/554,KIVEBULAAYA LIVINGSTONE,M,2022.0,41.0,MUBENDE,ACC,BSC. Accounting (EVE),31.1
35,23APF75774350148691,U0459/630,KIJJIDE AFIZI MUHAMAD,M,2022.0,88.0,BUTAMBALA,ACC,BSC. Accounting (EVE),31.1
36,23APF238774767111982,U2962/615,BALYOKWAIBWE EMMANUEL,M,2022.0,90.0,BUYENDE,ACC,BSC. Accounting (EVE),31.1
37,23APF785739568144218,U0760/553,SUNDAY EMMANUEL,M,2022.0,18.0,KAMWENGE,ACC,BSC. Accounting (EVE),31.0
38,23APF269087811114307,U3941/514,LUKYAMUZI JUDE THADDEUS,M,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),31.0
39,23APF810803954100945,U0053/824,ATEGEKA ROBERT,M,2009.0,9.0,HOIMA,ACC,BSC. Accounting (EVE),30.9
40,23APF69842964149134,U0065/671,KAWUNGEZI MWESIGWA SIMEON,M,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),30.4
41,23APF1094990594129842,U0194/504,BBUMBA CYRUS,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),30.4
42,23APF271115874132692,U1879/641,NAKIYEMBA PHIONA,F,2022.0,10.0,IGANGA,ACC,BSC. Accounting (EVE),30.3
43,23APF74069275788805,U0053/898,NSARASHA GEORGE SPENCER,M,2018.0,12.0,KABALE,ACC,BSC. Accounting (EVE),30.2
44,23APF935474430128208,U1542/574,NALUMANSI PATIENCE .D.,F,2022.0,32.0,LUWEERO,ACC,BSC. Accounting (EVE),30.2
45,23APF1496502224140063,U0052/570,KATO MATSIKO,M,2022.0,6.0,BUSHENYI,ACC,BSC. Accounting (EVE),30.1
46,23APF602826709105772,U2431/568,MALE JOHN,M,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),29.5
47,23APF566135453148449,U0645/531,NANTALE ESTHER,F,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),29.5
48,23APF1518329823115184,U0050/620,AWYAT MONICA GLORIA,F,2022.0,54.0,TORORO,ACC,BSC. Accounting (EVE),29.3
49,23APF58408276899076,U2338/611,KAYONGO PATRICK,M,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),29.1

In [86]:
df17SchoolIndices = df17['INDEX NO'].apply(getSchoolIndex)

In [87]:
indices = df17SchoolIndices.tolist()

In [88]:
schools = df17['SCHOOL'].tolist()

In [89]:
schoolsDf = pd.DataFrame([],
                          columns=['School Index', 'School Name'],
)

In [90]:
schoolsDf['School Index'] = indices

In [91]:
schoolsDf['School Name'] = schools

In [92]:
schoolsDf = schoolsDf.drop_duplicates(['School Index'])

In [93]:
schoolsDf = schoolsDf.sort_values(by='School Index', ascending=True, ignore_index=True)

In [94]:
schoolsDf = schoolsDf[schoolsDf['School Index'] != 'NO']

In [95]:
schoolDict = {schoolsDf['School Index'].tolist()[x]:schoolsDf['School Name'].tolist()[x] for x in range(len(schoolsDf))}

In [556]:
# schoolDict

In [97]:
# Add school index to df
df.insert(1, "SCHOOL INDEX", df['INDEX NO'].apply(getSchoolIndex))

In [98]:
# Students from a school with School Index U0078'. This is Iganga High School: U0078, 
df[df['SCHOOL INDEX'] == 'U0017'].sort_values(by="TOTAL WEIGHT", ascending=False)

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
14118,23APF1431768274140888,U0017,U0017/637,IKIRING PATRICIA,F,2022.0,29.0,KUMI,SOW,BACHELOR OF SOCIAL WORK,49.6
14136,23APF59554089107243,U0017,U0017/546,KIRABO DENIZ,F,2022.0,4.0,BUGIRI,SQS,BSC Quantity Surveying,48.8
3866,23APF950938163143107,U0017,U0017/678,WANGUBO MAIMUNA MUTESI,F,2022.0,55.0,WAKISO,BCA,BACHELOR OF CHINESE & ASIAN STUDIES,48.4
12447,23APF235352693145115,U0017,U0017/654,NABIRYE RESTY TINAH,F,2022.0,100.0,LUUKA,IST,B. INFORMATION SYSTEMS & TECHNOLOGY,47.2
3867,23APF1430543958148268,U0017,U0017/620,AKULLU SARAH,F,2022.0,76.0,OYAM,BCA,BACHELOR OF CHINESE & ASIAN STUDIES,47.2
...,...,...,...,...,...,...,...,...,...,...,...
5932,23APF383732361142513,U0017,U0017/584,NAMAGANDA PERSIS SARAH,F,2022.0,79.0,NAMUTUMBA,BJS,"BSC. ACCOUNTING, JINJA (DAY)",22.6
10018,23APF66985098145287,U0017,U0017/624,AMULEN CYNTHIA,F,2022.0,67.0,BUKEDEA,COB,B. COMMERCE (EVE),18.2
5904,23APF246648230138606,U0017,U0017/670,NANTAMBI VICTORIA,F,2022.0,4.0,BUGIRI,BJO,"B. COMMERCE, JINJA (DAY)",17.7
10039,23APF7902698130457,U0017,U0017/676,WAMBUYA ESTHER CARO,F,2022.0,36.0,MBALE,COB,B. COMMERCE (EVE),16.5
10242,23APF738022091113672,U0017,U0017/652,MWEBAZA CAROLINE,F,2022.0,12.0,KABALE,COJ,B.Commerce (Jinja),13.3

In [99]:
df['SCHOOL'] = df['SCHOOL INDEX'].map(schoolDict)

In [100]:
df.to_csv('../Data/Private2022.csv',
          index=False,
         )

In [101]:
df2 = pd.read_csv('../Data/Private2022.csv', 
                  # index_col=False,
                 )

In [102]:
df2

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,SCHOOL
0,23APF412304454141015,U0391,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2,"ST.JOSEPH'S S S, NAGGALAMA"
1,23APF345674424112360,U1249,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1,KINAAWA HIGH SCHOOL
2,23APF1361730063122187,U0459,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6,KAWEMPE MUSLIM SS
3,23APF519647933132646,U1611,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8,OURLADY OF AFRICA SS NAMILYANGO
4,23APF1481620160129238,U0083,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4,IMMACULATE HEART GIRLS SCHOOL
...,...,...,...,...,...,...,...,...,...,...,...,...
14909,23APF727648568141557,U0017,U0017/548,KIZZA VANESSA ITRONCE,F,2022.0,17.0,KAMULI,VET,B. Veterinary Medicine,41.8,IGANGA SECONDARY SCHOOL
14910,23APF963075058135059,U0033,U0033/581,OTIM DANIEL,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,41.7,"ST MARY'S COLLEGE, KISUBI"
14911,23APF1618205309130850,U0077,U0077/736,MUKETI JOVIA,F,2022.0,74.0,MARACHA,VET,B. Veterinary Medicine,41.6,GOMBE SECONDARY SCHOOL
14912,23APF575513287117711,U0077,U0077/564,AWOR REBECCA,F,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,40.4,GOMBE SECONDARY SCHOOL
14913,23APF1477867021106233,U0017,U0017/606,SAGATI LETICIA OKURUT,F,2022.0,48.0,PALLISA,VET,B. Veterinary Medicine,40.1,IGANGA SECONDARY SCHOOL

In [103]:
# No duplicates
df[df["APPLICATION NO"].duplicated()].value_counts()

Series([], Name: count, dtype: int64)

In [104]:
# Students admitted to two courses
df[df['INDEX NO'] == 'U0178/548']

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,SCHOOL
11743,23APF992513978128612,U0178,U0178/548,NAHWERA DOREEN,F,2022.0,18.0,KAMWENGE,EDA,Bachelor of Arts with Education,29.2,"CALTEC ACADEMY, MAKERERE"

In [105]:
# Describe data 
df.describe()

          UACE YEAR          CODE  TOTAL WEIGHT
count  14914.000000  14914.000000  14914.000000
mean    2021.574159     46.419405     31.401643
std        1.911094     30.508392      7.820914
min     1995.000000      1.000000      8.900000
25%     2022.000000     18.000000     25.700000
50%     2022.000000     42.000000     31.300000
75%     2022.000000     65.000000     37.100000
max     2022.000000    123.000000     53.900000

In [106]:
dfdesc = df.describe()

In [107]:
AverageWt = dfdesc.loc['mean']['TOTAL WEIGHT']

In [108]:
AverageWt

31.40164275177685

In [109]:
# Admissions with min UACE year
df[df['UACE YEAR'] == df['UACE YEAR'].min()]

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,SCHOOL
1916,23APF1071633136149141,U0055,U0055/582,KIYEMBA HENRY,M,1995.0,42.0,MUKONO,BBA,Bachelor of Business Administration (EVE),25.9,"BISHOP'S SEC. SCHOOL, MUKONO"
12650,23APF5536474177057,U0212,U0212/870,NABULINDO JANE KWOBA,F,1995.0,7.0,BUSIA,LGM,B.Leadership and Governance (EVE),17.4,NaN

In [110]:
# Unique admission years
df['UACE YEAR'].unique()

array([2022., 2018., 2011., 2009., 2017., 2007., 2020., 2013., 2019.,
       2015., 2016., 2008., 2012., 2010., 2003., 2014., 2006., 1996.,
       2005., 2004., 2000., 1995., 2002., 2001., 1999.])

In [146]:
# df['DISTRICT'].unique()

In [147]:
# df['COURSE CODE'].unique().tolist()

In [113]:
getAdmissionsByProgramCode(df, 'VET')

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,SCHOOL
14894,23APF1147751099122058,U0063,U0063/583,NABUKENYA THERESA VANESSA,F,2022.0,33.0,MASAKA,VET,B. Veterinary Medicine,45.4,"MT.ST.MARY'S, NAMAGUNGA"
14895,23APF1325116248147470,U1354,U1354/532,BYAMUGISHA NICKSON,M,2022.0,117.0,RUBANDA,VET,B. Veterinary Medicine,45.0,MERRYLAND HIGH SCHOOL
14896,23APF488606566118285,U1224,U1224/581,ATEGEKA AFRICANO,M,2022.0,102.0,KAGADI,VET,B. Veterinary Medicine,44.8,ST MARY'S SS KITENDE
14897,23APF1087150200123994,U2119,U2119/501,SSEKANDI RAYMOND,M,2022.0,16.0,KAMPALA,VET,B. Veterinary Medicine,43.9,MPIGI MIXED SS
14898,23APF1019459175137320,U1224,U1224/886,NSIBIRWA BRIAN,M,2022.0,42.0,MUKONO,VET,B. Veterinary Medicine,43.8,ST MARY'S SS KITENDE
14899,23APF9434575553922,U0391,U0391/521,ODORA JOEREM,M,2022.0,114.0,AGAGO,VET,B. Veterinary Medicine,43.8,"ST.JOSEPH'S S S, NAGGALAMA"
14900,23APF1498096283111835,U3859,U3859/592,ATYANG JONATHAN JOHNSON,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,43.7,NaN
14901,23APF947574098101599,U0391,U0391/531,JJUUKO TIMOTHY,M,2022.0,85.0,BUIKWE,VET,B. Veterinary Medicine,43.7,"ST.JOSEPH'S S S, NAGGALAMA"
14902,23APF862949047142562,U0169,U0169/625,SSEBAKA EDWARD,M,2022.0,97.0,KYANKWANZI,VET,B. Veterinary Medicine,43.7,"ST.ANDREA KAHWA'S COL., HOIMA"
14903,23APF483949345129848,U2236,U2236/521,MUWUMBA SAVIOUR,M,2022.0,85.0,BUIKWE,VET,B. Veterinary Medicine,43.6,"ST.MARY'S COLLEGE, LUGAZI"
14904,23APF938389388149879,U1224,U1224/712,KIWANUKA MARKAL VANDROSS,M,2022.0,25.0,KIBOGA,VET,B. Veterinary Medicine,43.4,ST MARY'S SS KITENDE
14905,23APF521164152139905,U0053,U0053/758,WECE RUTH,F,2022.0,76.0,OYAM,VET,B. Veterinary Medicine,42.7,MENGO SECONDARY SCHOOL
14906,23APF1453720121122556,U3859,U3859/601,AYOTO GLORIA MERCY,F,2022.0,59.0,AMOLATAR,VET,B. Veterinary Medicine,42.6,NaN
14907,23APF819248520133371,U0033,U0033/585,TUMWIJUKYE SAM,M,2022.0,65.0,IBANDA,VET,B. Veterinary Medicine,41.9,"ST MARY'S COLLEGE, KISUBI"
14908,23APF685182203149363,U0017,U0017/525,BABIRYE STELLA KIRABO,F,2022.0,10.0,IGANGA,VET,B. Veterinary Medicine,41.9,IGANGA SECONDARY SCHOOL
14909,23APF727648568141557,U0017,U0017/548,KIZZA VANESSA ITRONCE,F,2022.0,17.0,KAMULI,VET,B. Veterinary Medicine,41.8,IGANGA SECONDARY SCHOOL
14910,23APF963075058135059,U0033,U0033/581,OTIM DANIEL,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,41.7,"ST MARY'S COLLEGE, KISUBI"
14911,23APF1618205309130850,U0077,U0077/736,MUKETI JOVIA,F,2022.0,74.0,MARACHA,VET,B. Veterinary Medicine,41.6,GOMBE SECONDARY SCHOOL
14912,23APF575513287117711,U0077,U0077/564,AWOR REBECCA,F,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,40.4,GOMBE SECONDARY SCHOOL
14913,23APF1477867021106233,U0017,U0017/606,SAGATI LETICIA OKURUT,F,2022.0,48.0,PALLISA,VET,B. Veterinary Medicine,40.1,IGANGA SECONDARY SCHOOL

In [149]:
getAdmissionsBySchoolIndex(df, 'U3859')

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,WEIGHT RANGE,SCHOOL
942,23APF343295604122013,U3859,U3859/516,ACUMA JOSHUA,M,2022.0,31.0,LIRA,ASE,BA(Social Sciences)(EVE),36.4,Good,St. Gracious S.S LIRA
974,23APF612783863120559,U3859,U3859/572,APILI PRISCILLA,F,2022.0,31.0,LIRA,ASE,BA(Social Sciences)(EVE),34.1,Good,St. Gracious S.S LIRA
1008,23APF1600535019132063,U3859,U3859/580,APIO RITAH EDWOKU,F,2022.0,31.0,LIRA,ASE,BA(Social Sciences)(EVE),33.1,Good,St. Gracious S.S LIRA
1477,23APF10743472131403,U3859,U3859/692,OKIDI JENKINS OTOKE,M,2022.0,58.0,ABIM,BAP,B. Animal Produ.Techn Mgt,21.3,Average,St. Gracious S.S LIRA
3215,23APF828713224108164,U3859,U3859/700,OKWIR DOMINIC ONGEBO,M,2022.0,59.0,AMOLATAR,BBD,Bachelor of Business Administration,28.8,Average,St. Gracious S.S LIRA
3830,23APF1054721195117032,U3859,U3859/508,ACENG RUTH GODWIN,F,2022.0,31.0,LIRA,BBT,Bachelor of Science in Biotechnology,34.7,Good,St. Gracious S.S LIRA
3877,23APF816217866122551,U3859,U3859/507,ACENG PRISCA,F,2022.0,31.0,LIRA,BCA,BACHELOR OF CHINESE & ASIAN STUDIES,35.1,Good,St. Gracious S.S LIRA
3935,23APF538284813130401,U3859,U3859/665,OGWAL INNOCENT,M,2022.0,2.0,APAC,BCB,BSC (Conservation Biology),17.8,Low,St. Gracious S.S LIRA
4324,23APF549406059120196,U3859,U3859/683,OKELLO ISAAC ABRAHAM,M,2022.0,95.0,KOLE,BEN,Bachelor of Entrepreneurship,34.7,Good,St. Gracious S.S LIRA
4451,23APF199232021102912,U3859,U3859/503,ABEJA FIONA OGWAL,F,2022.0,31.0,LIRA,BEN,Bachelor of Entrepreneurship,23.9,Average,St. Gracious S.S LIRA
4521,23APF541862911145732,U3859,U3859/722,OTEMA JOSHUA,M,2022.0,31.0,LIRA,BFA,Bachelor of Fine Art,31.1,Good,St. Gracious S.S LIRA
4811,23APF1084008677112075,U3859,U3859/556,AKULLU NAUME,F,2022.0,31.0,LIRA,BHM,B.Human Resource Management,39.4,Good,St. Gracious S.S LIRA
4975,23APF448766701121450,U3859,U3859/629,NIZEYEIMANA ISAAC,M,2022.0,26.0,KISORO,BHM,B.Human Resource Management,32.7,Good,St. Gracious S.S LIRA
5053,23APF416551956116588,U3859,U3859/549,AKIDI IMMACULATE,F,2022.0,31.0,LIRA,BHM,B.Human Resource Management,30.8,Good,St. Gracious S.S LIRA
5140,23APF1361139350109601,U3859,U3859/542,AKELLO MILTHY,F,2022.0,31.0,LIRA,BIB,B. International Business,40.7,Very Good,St. Gracious S.S LIRA
5459,23APF303623420111706,U3859,U3859/521,ADOCH GLORIA BUA,F,2022.0,58.0,ABIM,BIB,B. International Business,26.0,Average,St. Gracious S.S LIRA
5822,23APF1409112219119863,U3859,U3859/527,AGONG LEO,M,2022.0,82.0,ALEBTONG,BJB,"B. BUSINESS COMPUTING, JINJA (EVE)",20.6,Average,St. Gracious S.S LIRA
5884,23APF1535493574120600,U3859,U3859/632,OBALLA ANDREW,M,2022.0,31.0,LIRA,BJO,"B. COMMERCE, JINJA (DAY)",29.2,Average,St. Gracious S.S LIRA
6661,23APF589475010118678,U3859,U3859/552,AKITE RACHAEL JUDITH,F,2022.0,76.0,OYAM,BMS,Bachelor of Marketing,32.3,Good,St. Gracious S.S LIRA
7246,23APF669903963133441,U3859,U3859/672,OGWANG JONATHAN,M,2022.0,31.0,LIRA,BQE,Bachelor (Quantitative Economics),35.9,Good,St. Gracious S.S LIRA
7298,23APF1043154285136887,U3859,U3859/724,OTIM CEASER,M,2022.0,31.0,LIRA,BQE,Bachelor (Quantitative Economics),33.8,Good,St. Gracious S.S LIRA
7311,23APF103780324130427,U3859,U3859/702,OLEKE ANDREW,M,2022.0,82.0,ALEBTONG,BRJ,Bachelor of Business Administration(Jinja) (MUBS),32.8,Good,St. Gracious S.S LIRA
8812,23APF73774397102172,U3859,U3859/729,OUNI ALORO DONALD,M,2022.0,109.0,OTUKE,BTT,B.Travel and Tourism Management,35.2,Good,St. Gracious S.S LIRA
8839,23APF586276771107833,U3859,U3859/619,ETON TERRY HELLEN,F,2022.0,30.0,KYENJOJO,BTT,B.Travel and Tourism Management,32.3,Good,St. Gracious S.S LIRA
9273,23APF1164079926135241,U3859,U3859/671,OGWANG JOHN OSCAR,M,2022.0,31.0,LIRA,BUS,B.Business Statistics,22.6,Average,St. Gracious S.S LIRA
10273,23APF826532430100483,U3859,U3859/626,MARAKA JOSHUA ARIONG,M,2022.0,67.0,BUKEDEA,COM,Bachelor of Commerce,41.7,Very Good,St. Gracious S.S LIRA
10488,23APF1203641069112350,U3859,U3859/681,OKELLO DANIEL,M,2022.0,31.0,LIRA,COM,Bachelor of Commerce,28.4,Average,St. Gracious S.S LIRA
10489,23APF1463106199116096,U3859,U3859/606,EDAU PETER,M,2022.0,60.0,AMURIA,COM,Bachelor of Commerce,28.3,Average,St. Gracious S.S LIRA
11013,23APF135597463115077,U3859,U3859/583,ARYAO DEBRA,F,2022.0,31.0,LIRA,ECE,BA(Economics)(EVE),28.6,Average,St. Gracious S.S LIRA
11334,23APF1486076184127638,U3859,U3859/690,OKIDI EMMANUEL,M,2022.0,82.0,ALEBTONG,EDA,Bachelor of Arts with Education,42.6,Very Good,St. Gracious S.S LIRA
11459,23APF1047399155102232,U3859,U3859/738,AKITE WINNIFRED ELIZABETH,F,2022.0,31.0,LIRA,EDA,Bachelor of Arts with Education,36.7,Good,St. Gracious S.S LIRA
11517,23APF1103146563128460,U3859,U3859/667,OGWAL ISAAC,M,2022.0,31.0,LIRA,EDA,Bachelor of Arts with Education,35.0,Good,St. Gracious S.S LIRA
12319,23APF1277739460115249,U3859,U3859/571,APILI NAUME MERCY,F,2022.0,64.0,DOKOLO,FST,BSC Food Science & Technology,39.7,Good,St. Gracious S.S LIRA
12331,23APF1339710171110498,U3859,U3859/502,ABEJA CAROLINE,F,2022.0,31.0,LIRA,FST,BSC Food Science & Technology,36.5,Good,St. Gracious S.S LIRA
12436,23APF1650077888134716,U3859,U3859/574,APIO FELLINE OLANG,F,2022.0,82.0,ALEBTONG,HUN,Bachelor of Science in Human Nutrition,36.4,Good,St. Gracious S.S LIRA
13678,23APF1556469041131570,U3859,U3859/576,APIO LUCKY RUTH,F,2022.0,31.0,LIRA,PSM,B. Procurement and Supply Chain Mgt,37.4,Good,St. Gracious S.S LIRA
14062,23APF1570727172100157,U3859,U3859/674,OJOK EMMANUEL,M,2022.0,31.0,LIRA,SEC,Bachelor of Science (Economics ),22.3,Average,St. Gracious S.S LIRA
14550,23APF1440067053110869,U3859,U3859/696,OKULLO ALEXANDER,M,2022.0,31.0,LIRA,TLM,B.Transport and Logistics Management (EVE),24.9,Average,St. Gracious S.S LIRA
14900,23APF1498096283111835,U3859,U3859/592,ATYANG JONATHAN JOHNSON,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,43.7,Very Good,St. Gracious S.S LIRA
14906,23APF1453720121122556,U3859,U3859/601,AYOTO GLORIA MERCY,F,2022.0,59.0,AMOLATAR,VET,B. Veterinary Medicine,42.6,Very Good,St. Gracious S.S LIRA

In [115]:
df_copy = df.copy()

In [116]:
df.loc[df['SCHOOL INDEX'] == 'U3859', 'SCHOOL'] = 'St. Gracious S.S LIRA'

In [117]:
# Get admissions by District
getAdmissionsByDistrict(df, 'iganga').sort_values(by='TOTAL WEIGHT', ascending=False)

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,SCHOOL
8404,23APF871087435114146,U0013,U0013/526,MIREMBE PRICEY SAMANTHA,F,2022.0,10.0,IGANGA,BSW,B.SC.(Software Engineering),48.5,GAYAZA HIGH SCHOOL
14144,23APF366753009141449,U0061,U0061/551,MUTESI JAMILLAH,F,2022.0,10.0,IGANGA,SQS,BSC Quantity Surveying,47.6,NABISUNSA GIRLS' SCHOOL
6947,23APF1103539225137561,U0124,U0124/560,SAJJABI ALEX,M,2022.0,10.0,IGANGA,BPG,BSC (Petroleum Geoscience and Production),47.2,BUDINI SECONDARY SCHOOL
10248,23APF1420692019149215,U0017,U0017/560,MUGAYA MARIA,F,2022.0,10.0,IGANGA,COM,Bachelor of Commerce,45.7,IGANGA SECONDARY SCHOOL
11317,23APF1193981484140507,U1698,U1698/501,TIKIBONEKA MARIAM,F,2022.0,10.0,IGANGA,EDA,Bachelor of Arts with Education,44.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
909,23APF584897429150243,U0183,U0183/575,NANDHEGO REBECCA,F,2022.0,10.0,IGANGA,ARS,BA (Arts),15.8,UGANDA MARTYRS'HIGH SC. RUBAGA
9410,23APF1413249701119183,U0896,U0896/961,KWAGALA FAITH,F,2022.0,10.0,IGANGA,BUS,B.Business Statistics,15.2,"ST.PETER'S SS, NAALYA"
2418,23APF54906142677348,U1602,U1602/526,TAMUZADE MUDASIRU,M,2016.0,10.0,IGANGA,BBA,Bachelor of Business Administration (EVE),14.5,NaN
1640,23APF1351200345134434,U3738,U3738/537,MENYA FAHADI,M,2022.0,10.0,IGANGA,BAX,B. AGRICULTURAL & RURAL INNOVATION (EXTERNAL),14.3,NaN
9429,23APF1536445226130367,U0069,U0069/676,MUSAASIZI HILLARY,M,2022.0,10.0,IGANGA,BUS,B.Business Statistics,13.8,KYAMBOGO COLLEGE SCHOOL

In [118]:
df[df['SCHOOL'].isna() == True]

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,SCHOOL
14,23APF231927019128941,U0960,U0960/506,LUUTU DOUGLAS,M,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),35.8,NaN
17,23APF1031507983139846,U3219,U3219/507,NANDAGIRE SCOVIA,F,2022.0,49.0,RAKAI,ACC,BSC. Accounting (EVE),34.6,NaN
32,23APF724414868141141,U3219,U3219/508,NAMBAYO KATHY,F,2022.0,77.0,BUDAKA,ACC,BSC. Accounting (EVE),31.3,NaN
33,23APF1413319323135980,U1969,U1969/524,KAKOOZA MOHMMAD,M,2022.0,88.0,BUTAMBALA,ACC,BSC. Accounting (EVE),31.2,NaN
38,23APF269087811114307,U3941,U3941/514,LUKYAMUZI JUDE THADDEUS,M,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),31.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
14883,23APF1135184133134407,U3374,U3374/528,OCHOM BRIAN,M,2022.0,54.0,TORORO,TTM,B.Travel and Tourism Management (EVE),18.5,NaN
14885,23APF35679080123129,U0157,U0157/599,NYAKATO PRINCESS,F,2022.0,46.0,NTUNGAMO,TTM,B.Travel and Tourism Management (EVE),18.3,NaN
14886,23APF717262298129715,U1988,U1988/501,ATWINE SHEILLA,F,2022.0,50.0,RUKUNGIRI,TTM,B.Travel and Tourism Management (EVE),18.3,NaN
14887,23APF1422105617141114,U4099,U4099/513,KIWALABYE COLLIN,M,2022.0,75.0,MITYANA,TTM,B.Travel and Tourism Management (EVE),18.0,NaN
14891,23APF252772198131507,U2791,U2791/538,KWAGALA GIFT GLADYS,F,2022.0,17.0,KAMULI,TTM,B.Travel and Tourism Management (EVE),17.4,NaN

In [119]:
df.sort_values(by=['TOTAL WEIGHT'], ascending=False)

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,SCHOOL
14111,23APF876975068117846,U2789,U2789/828,ADONGO ELIZABETH OKELLO,F,2022.0,31.0,LIRA,SOW,BACHELOR OF SOCIAL WORK,53.9,MENGO SECONDARY SCHOOL ANNEX
4286,23APF1120677708142673,U0802,U0802/506,NANKABIRWA KEVINA,F,2022.0,33.0,MASAKA,BEN,Bachelor of Entrepreneurship,53.6,MAKINDYE SECONDARY SCHOOL
12438,23APF1381106049127095,U0060,U0060/517,KANGABE SHEILA,F,2022.0,26.0,KISORO,IST,B. INFORMATION SYSTEMS & TECHNOLOGY,53.6,"TRINITY COLLEGE, NABBINGO"
13454,23APF500143091107165,U0013,U0013/547,KYEYUNE SHIBA,F,2022.0,42.0,MUKONO,PSM,B. Procurement and Supply Chain Mgt,53.6,GAYAZA HIGH SCHOOL
13455,23APF340101816125698,U0077,U0077/589,CHEMUTAI PRODESHIA,F,2022.0,20.0,KAPCHORWA,PSM,B. Procurement and Supply Chain Mgt,53.5,GOMBE SECONDARY SCHOOL
...,...,...,...,...,...,...,...,...,...,...,...,...
5913,23APF91317904136028,U3654,U3654/501,SENOMBE BLASIO,M,2022.0,55.0,WAKISO,BJO,"B. COMMERCE, JINJA (DAY)",9.7,NaN
10754,23APF1256764946119098,U0844,U0844/529,KIFAMPA RICHARD ARTHUR,M,2022.0,16.0,KAMPALA,COX,B.Commerce (EXT),9.7,"MULUSA ACADEMY, LUWERO"
9842,23APF1055656862136180,U0546,U0546/519,TANDEKA LIVING,M,2020.0,72.0,KIRUHURA,CMM,B.Commerce(MBR),9.1,KAARO HIGH SCHOOL
10755,23APF531931686107506,U3888,U3888/586,KASOZI MICHAEL,M,2022.0,85.0,BUIKWE,COX,B.Commerce (EXT),8.9,NaN
5875,23APF280789164125073,U0125,U0125/595,IKILENG DENIS,M,2014.0,54.0,TORORO,BJJ,BACHELOR OF COMMERCE (MUBS JINJA) EVE.,8.9,PALLISA SECONDARY SCHOOL

In [120]:
# Bining Students' total weight
TotalWeights = df['TOTAL WEIGHT']
# bins
bins = [0, 10, 20, 30, 40, 50, 54]

In [121]:
ranges = pd.cut(TotalWeights, bins,
               labels=["Very Low", "Low", "Average", "Good", "Very Good", "Exceptional"])

In [122]:
ranges

0        Very Good
1        Very Good
2        Very Good
3             Good
4             Good
           ...
14909    Very Good
14910    Very Good
14911    Very Good
14912    Very Good
14913    Very Good
Name: TOTAL WEIGHT, Length: 14914, dtype: category
Categories (6, object): ['Very Low' < 'Low' < 'Average' < 'Good' < 'Very Good' < 'Exceptional']

In [123]:
ranges = ranges.tolist()

In [124]:
len(ranges)

14914

In [125]:
print(len(df))

14914

In [126]:
df.insert(11, "WEIGHT RANGE", ranges)

In [145]:
df[df['WEIGHT RANGE'] == 'Exceptional'].sort_values(by=['TOTAL WEIGHT'], ascending=False)

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,WEIGHT RANGE,SCHOOL
14111,23APF876975068117846,U2789,U2789/828,ADONGO ELIZABETH OKELLO,F,2022.0,31.0,LIRA,SOW,BACHELOR OF SOCIAL WORK,53.9,Exceptional,MENGO SECONDARY SCHOOL ANNEX
4286,23APF1120677708142673,U0802,U0802/506,NANKABIRWA KEVINA,F,2022.0,33.0,MASAKA,BEN,Bachelor of Entrepreneurship,53.6,Exceptional,MAKINDYE SECONDARY SCHOOL
13454,23APF500143091107165,U0013,U0013/547,KYEYUNE SHIBA,F,2022.0,42.0,MUKONO,PSM,B. Procurement and Supply Chain Mgt,53.6,Exceptional,GAYAZA HIGH SCHOOL
12438,23APF1381106049127095,U0060,U0060/517,KANGABE SHEILA,F,2022.0,26.0,KISORO,IST,B. INFORMATION SYSTEMS & TECHNOLOGY,53.6,Exceptional,"TRINITY COLLEGE, NABBINGO"
13455,23APF340101816125698,U0077,U0077/589,CHEMUTAI PRODESHIA,F,2022.0,20.0,KAPCHORWA,PSM,B. Procurement and Supply Chain Mgt,53.5,Exceptional,GOMBE SECONDARY SCHOOL
9781,23APF9795043127986,U1249,U1249/501,BUKENYA BAHAMAS,M,2019.0,51.0,SEMBABULE,CIA,BSC.(Civil Engineering)A,52.7,Exceptional,KINAAWA HIGH SCHOOL
10058,23APF1522330990100115,U0061,U0061/518,BABIRYE PEACE,F,2022.0,17.0,KAMULI,COE,Bachelor of Commerce,52.6,Exceptional,NABISUNSA GIRLS' SCHOOL
9782,23APF1272230272104627,U1224,U1224/790,MUTABAZI ALLAN,M,2022.0,26.0,KISORO,CIA,BSC.(Civil Engineering)A,52.4,Exceptional,ST MARY'S SS KITENDE
12439,23APF610461059121976,U1224,U1224/679,KAU VINCENT JAMES,M,2022.0,23.0,KAYUNGA,IST,B. INFORMATION SYSTEMS & TECHNOLOGY,52.2,Exceptional,ST MARY'S SS KITENDE
10799,23APF594279757102856,U0801,U0801/643,TUMWINE ONESMUS,M,2022.0,37.0,MBARARA,CSC,B.SC.(Computer Science),52.1,Exceptional,"NAALYA SEC. SCHOOL ,KAMPALA"
10245,23APF824901336135647,U0004,U0004/560,NAMBASA FAITH,F,2022.0,16.0,KAMPALA,COM,Bachelor of Commerce,52.0,Exceptional,"KING'S COLLEGE, BUDO"
8398,23APF594949015122212,U2789,U2789/575,NAKALEMBE JOSEPHINE,F,2022.0,75.0,MITYANA,BSW,B.SC.(Software Engineering),52.0,Exceptional,MENGO SECONDARY SCHOOL ANNEX
7132,23APF1243389411129268,U0334,U0334/726,AYEBALE JOANAH,F,2022.0,12.0,KABALE,BQE,Bachelor (Quantitative Economics),51.9,Exceptional,"UGANDA MARTYRS S.S., NAMUGONGO"
10059,23APF1681747851139656,U0077,U0077/855,NANTANDA HAFSWAH,F,2022.0,86.0,BUKOMANSIMBI,COE,Bachelor of Commerce,51.9,Exceptional,GOMBE SECONDARY SCHOOL
13456,23APF999344696137720,U0041,U0041/710,TENDO GRACE ANGEL,F,2022.0,9.0,HOIMA,PSM,B. Procurement and Supply Chain Mgt,51.8,Exceptional,LUBIRI SECONDARY SCHOOL
10060,23APF1271777975105871,U1224,U1224/566,ARINAITWE GLORIA PEACE,F,2022.0,9.0,HOIMA,COE,Bachelor of Commerce,51.7,Exceptional,ST MARY'S SS KITENDE
12440,23APF1404175613124968,U0839,U0839/511,NAMPALA DOREEN,F,2022.0,91.0,GOMBA,IST,B. INFORMATION SYSTEMS & TECHNOLOGY,51.6,Exceptional,"ALLIANCE HIGH SCHOOL, NANSANA"
13458,23APF65553242108190,U3688,U3688/524,NANYONJO SIDRA BULYA,F,2022.0,42.0,MUKONO,PSM,B. Procurement and Supply Chain Mgt,51.6,Exceptional,NaN
13457,23APF772195532106201,U0962,U0962/646,ACHAN MARRISA,F,2022.0,8.0,GULU,PSM,B. Procurement and Supply Chain Mgt,51.6,Exceptional,SEROMA CHRISTIAN HIGH SCHOOL
11275,23APF1036478062131829,U2659,U2659/503,ORIKIRIZA PATIENCE,F,2022.0,103.0,MITOOMA,EDA,Bachelor of Arts with Education,51.6,Exceptional,NaN
666,23APF190708609129862,U0013,U0013/603,MURUNGI STACEY NOELLA,F,2022.0,50.0,RUKUNGIRI,ARC,B.Architecture,51.6,Exceptional,GAYAZA HIGH SCHOOL
14112,23APF603579217113295,U0858,U0858/528,NIYONSENGA PACIFIC,F,2022.0,12.0,KABALE,SOW,BACHELOR OF SOCIAL WORK,51.6,Exceptional,ST.NOA'S GIRLS SEC.SCH.
14113,23APF1253481546126989,U1224,U1224/846,NAMANDA MARIA,F,2022.0,92.0,KALUNGU,SOW,BACHELOR OF SOCIAL WORK,51.5,Exceptional,ST MARY'S SS KITENDE
13174,23APF56994442399337,U0060,U0060/512,BATESAKI ARIEL ZOE,F,2022.0,49.0,RAKAI,PSC,B.Procurement and Supply Chain Mgt (EVE),51.5,Exceptional,"TRINITY COLLEGE, NABBINGO"
2425,23APF766495968112261,U0025,U0025/736,KAITESI AISHA,F,2022.0,49.0,RAKAI,BBC,B. Bussiness Computing,51.5,Exceptional,KIBULI SECONDARY SCHOOL
13176,23APF737658747122870,U0077,U0077/825,RAYHANAH NAMATOVU MUSISI,F,2022.0,55.0,WAKISO,PSC,B.Procurement and Supply Chain Mgt (EVE),51.4,Exceptional,GOMBE SECONDARY SCHOOL
13175,23APF1345696415108608,U1664,U1664/583,NANKABIRWA MERCY,F,2022.0,55.0,WAKISO,PSC,B.Procurement and Supply Chain Mgt (EVE),51.4,Exceptional,ST. MARK'S SS NAMAGOMA
3700,23APF133331046124830,U1224,U1224/651,ISIO LILY,F,2022.0,1.0,ADJUMANI,BBI,Bachelor of Science in Biomedical Engineering,51.4,Exceptional,ST MARY'S SS KITENDE
13459,23APF1405458074131086,U2146,U2146/587,AYESIGYE PROSSY,F,2022.0,69.0,ISINGIRO,PSM,B. Procurement and Supply Chain Mgt,51.2,Exceptional,CITIZEN'S SECONDARY SCHOOL
14114,23APF573933635147483,U1555,U1555/546,BULYABA HALIMAH,F,2022.0,55.0,WAKISO,SOW,BACHELOR OF SOCIAL WORK,50.9,Exceptional,"BILAL ISLAMIC SEC. SCHOOL, BWAISE"
10061,23APF1653546201123938,U0334,U0334/765,NAMIKKA CAMRYN AERON,F,2022.0,55.0,WAKISO,COE,Bachelor of Commerce,50.9,Exceptional,"UGANDA MARTYRS S.S., NAMUGONGO"
13460,23APF1338350039100407,U1224,U1224/858,NAMUTAMBA FREDAH HOPE,F,2022.0,100.0,LUUKA,PSM,B. Procurement and Supply Chain Mgt,50.9,Exceptional,ST MARY'S SS KITENDE
6941,23APF1546198232142509,U0848,U0848/502,SERGE LUMBULE,M,2022.0,8.0,GULU,BPG,BSC (Petroleum Geoscience and Production),50.9,Exceptional,"CRESTED SEC. SCHOOL, KAMPALA"
9783,23APF840179065135068,U1224,U1224/795,MWAKA EVANS REMMIE,M,2022.0,78.0,BUDUDA,CIA,BSC.(Civil Engineering)A,50.8,Exceptional,ST MARY'S SS KITENDE
12287,23APF133427158129236,U1373,U1373/672,OPIYO OSCAR,M,2022.0,94.0,KIRYANDONGO,ELE,BSC (Electrical Engineering),50.7,Exceptional,JERESSAR HIGH SCHOOL
11276,23APF4673330151029,U3535,U3535/504,NAKIDDE RASHIDAH,F,2022.0,88.0,BUTAMBALA,EDA,Bachelor of Arts with Education,50.7,Exceptional,NaN
12288,23APF1093717240115294,U0004,U0004/650,SSEBULIBA MOSES JUNIOR,M,2022.0,55.0,WAKISO,ELE,BSC (Electrical Engineering),50.6,Exceptional,"KING'S COLLEGE, BUDO"
14115,23APF1135349204130176,U0181,U0181/562,NAMBASA SHADIA,F,2022.0,16.0,KAMPALA,SOW,BACHELOR OF SOCIAL WORK,50.6,Exceptional,"ST.CHARLES LWANGA S.S., KASASA"
10800,23APF1674910141100218,U1609,U1609/503,TUHAISE EUGENE,M,2022.0,37.0,MBARARA,CSC,B.SC.(Computer Science),50.6,Exceptional,NAALYA SSS
6942,23APF266498174111199,U1223,U1223/656,KAGUMA RODNEY,M,2022.0,13.0,KABAROLE,BPG,BSC (Petroleum Geoscience and Production),50.5,Exceptional,SEETA HIGH SCHOOL
10877,23APF763538452123939,U0691,U0691/502,AKATUKUNDA EMMANUEL,M,2022.0,12.0,KABALE,CSE,BSC.(Computer Science)(EVE),50.5,Exceptional,BULOBA HIGH SCHOOL
178,23APF1151679609140229,U2929,U2929/517,NASASIRA MANZI ELISHAMA,M,2022.0,50.0,RUKUNGIRI,ADM,Bachelor of Business Administration,50.4,Exceptional,"SEETA H/S GREEN CAMPUS, MUKONO"
10878,23APF1497434653138661,U0729,U0729/503,AYEBALE PETER,M,2022.0,30.0,KYENJOJO,CSE,BSC.(Computer Science)(EVE),50.4,Exceptional,CORNERSTONE LEADERSHIP ACADEMY
667,23APF84548033130048,U2032,U2032/551,MANDOLO JERRY JOSHUA,M,2022.0,11.0,JINJA,ARC,B.Architecture,50.4,Exceptional,SEETA HIGH SCHOOL-MUKONO
5084,23APF595251696114615,U1223,U1223/542,NTULE DAVID,M,2022.0,11.0,JINJA,BIB,B. International Business,50.3,Exceptional,SEETA HIGH SCHOOL
14116,23APF1474851013129959,U0065,U0065/528,MULABBI AARON,M,2022.0,93.0,KIBUKU,SOW,BACHELOR OF SOCIAL WORK,50.3,Exceptional,NDEJJE SECONDARY SCHOOL
14117,23APF834012348139371,U0124,U0124/588,MAGUMBA TIMOTHY,M,2022.0,35.0,MAYUGE,SOW,BACHELOR OF SOCIAL WORK,50.3,Exceptional,BUDINI SECONDARY SCHOOL
913,23APF720711322132544,U0781,U0781/562,SSEGIRINNYA COSMAS,M,2015.0,55.0,WAKISO,ASE,BA(Social Sciences)(EVE),50.2,Exceptional,"ST.AUGUSTINE COL., WAKISO"
12836,23APF202542317144698,U1555,U1555/508,KASAGGA ASHIRAF,M,2022.0,16.0,KAMPALA,LSG,BSC Land Surveying & Geomatics,50.1,Exceptional,"BILAL ISLAMIC SEC. SCHOOL, BWAISE"
12441,23APF274375036103059,U0034,U0034/600,WATAKA EMMANUEL,M,2022.0,73.0,KOBOKO,IST,B. INFORMATION SYSTEMS & TECHNOLOGY,50.1,Exceptional,"ST HENRY'S COLLEGE, KITOVU"
12289,23APF526560721112102,U2236,U2236/717,MUYUNGA ERIC,M,2022.0,49.0,RAKAI,ELE,BSC (Electrical Engineering),50.1,Exceptional,"ST.MARY'S COLLEGE, LUGAZI"
179,23APF364716610133620,U3297,U3297/560,NAHURIRA PHIONAH,F,2022.0,51.0,SEMBABULE,ADM,Bachelor of Business Administration,50.1,Exceptional,BULOBA ROYAL COLLEGE
5085,23APF1547918518101188,U0801,U0801/520,GENO ISAAC ODOI,M,2022.0,16.0,KAMPALA,BIB,B. International Business,50.1,Exceptional,"NAALYA SEC. SCHOOL ,KAMPALA"

In [150]:
df['WEIGHT RANGE'].unique()

array(['Very Good', 'Good', 'Average', 'Low', 'Exceptional', 'Very Low'],
      dtype=object)

In [151]:
colWT = df['TOTAL WEIGHT']

In [345]:
# Sampling dataframe
# This can be used to select a random student and track her performance over time.
sampler = np.random.permutation(1000)
df.take(sampler).head()

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,WEIGHT RANGE,SCHOOL
577,23APF436316440140057,U1443,U1443/541,KIPYEKO EUTICUS,M,2022.0,61.0,BUKWO,AGM,Bachelor of Agribusiness Management,37.6,Good,ST.MICHAEL HIGH SCHOOL
245,23APF1002320913111285,U1224,U1224/654,KABYANGA ANABELLA ANGEL,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,40.9,Very Good,ST MARY'S SS KITENDE
533,23APF92608467799383,U0334,U0334/701,NSUBUGA TREVOR,M,2022.0,42.0,MUKONO,AGE,BSC Agricultural Engineering,40.6,Very Good,"UGANDA MARTYRS S.S., NAMUGONGO"
683,23APF655643191145692,U1768,U1768/513,MULIJJO RUBIA ERIYA,M,2022.0,4.0,BUGIRI,ARJ,BARCHELOR OF ARTS (ARTS) JINJA,28.5,Average,NaN
157,23APF1544975580127743,U1682,U1682/516,NUWAGABA AGNES,F,2022.0,69.0,ISINGIRO,ADJ,B.Business Administration(Jinja),32.1,Good,BONI CONSILLIGIRLS

In [360]:
df.iloc[sampler]

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,WEIGHT RANGE,SCHOOL
577,23APF436316440140057,U1443,U1443/541,KIPYEKO EUTICUS,M,2022.0,61.0,BUKWO,AGM,Bachelor of Agribusiness Management,37.6,Good,ST.MICHAEL HIGH SCHOOL
245,23APF1002320913111285,U1224,U1224/654,KABYANGA ANABELLA ANGEL,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,40.9,Very Good,ST MARY'S SS KITENDE
533,23APF92608467799383,U0334,U0334/701,NSUBUGA TREVOR,M,2022.0,42.0,MUKONO,AGE,BSC Agricultural Engineering,40.6,Very Good,"UGANDA MARTYRS S.S., NAMUGONGO"
683,23APF655643191145692,U1768,U1768/513,MULIJJO RUBIA ERIYA,M,2022.0,4.0,BUGIRI,ARJ,BARCHELOR OF ARTS (ARTS) JINJA,28.5,Average,NaN
157,23APF1544975580127743,U1682,U1682/516,NUWAGABA AGNES,F,2022.0,69.0,ISINGIRO,ADJ,B.Business Administration(Jinja),32.1,Good,BONI CONSILLIGIRLS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,23APF724547857117472,U0009,U0009/525,ATUHAIRE LINDA,F,2022.0,72.0,KIRUHURA,ADM,Bachelor of Business Administration,39.6,Good,BWERANYANGI GIRLS' SCHOOL
583,23APF788261114130792,U0249,U0249/559,NALWOGA MARIA GORRETI,F,2022.0,40.0,MPIGI,AGM,Bachelor of Agribusiness Management,36.5,Good,"ST.MARIA GORETTI S.S, KATENDE"
312,23APF1357909164129676,U1223,U1223/535,NAMIYONGA ROBINAH .C.,F,2022.0,16.0,KAMPALA,ADM,Bachelor of Business Administration,38.9,Good,SEETA HIGH SCHOOL
395,23APF161074924115985,U2370,U2370/514,NAKKONDE MARGRET,F,2022.0,42.0,MUKONO,ADN,B.Business Administration (EVE),36.8,Good,KAZO SS
478,23APF612184989130253,U0083,U0083/621,AMUMPAIRE VIOLA,F,2022.0,6.0,BUSHENYI,ADN,B.Business Administration (EVE),33.5,Good,IMMACULATE HEART GIRLS SCHOOL

In [555]:
# use sample
df.sample(n=1,
    # frac=0.00005,
          replace=False,
         )

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,WEIGHT RANGE,SCHOOL
14214,23APF1094664593110278,U1611,U1611/803,ONYANGA AMBROSE,M,2022.0,82.0,ALEBTONG,SSE,BSC.(Software Engineering)(EVE),40.0,Good,OURLADY OF AFRICA SS NAMILYANGO