<h2>
    Imports
</h2>

In [77]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [61]:
df = pd.read_csv('../Data/Private2.csv',
                 index_col=0,
                )

In [62]:
df

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,WEIGHT RANGE,SCHOOL,REGION
0,23APF412304454141015,U0391,U0391/673,LUKABWE DOUGLAS MARK,M,2022,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2,Very Good,"ST.JOSEPH'S S S, NAGGALAMA",Central
1,23APF345674424112360,U1249,U1249/532,LULE ISAAC,M,2022,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1,Very Good,KINAAWA HIGH SCHOOL,Central
2,23APF1361730063122187,U0459,U0459/676,HAULAH SULAIT BIIRA,F,2022,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6,Very Good,KAWEMPE MUSLIM SS,Western
3,23APF519647933132646,U1611,U1611/887,NAMBALYE EVELYNE,F,2022,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8,Good,OURLADY OF AFRICA SS NAMILYANGO,Central
4,23APF1481620160129238,U0083,U0083/555,KEMIGISHA RUSIA,F,2022,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4,Good,IMMACULATE HEART GIRLS SCHOOL,Western
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14910,23APF727648568141557,U0017,U0017/548,KIZZA VANESSA ITRONCE,F,2022,17.0,KAMULI,VET,B. Veterinary Medicine,41.8,Very Good,IGANGA SECONDARY SCHOOL,Eastern
14911,23APF963075058135059,U0033,U0033/581,OTIM DANIEL,M,2022,31.0,LIRA,VET,B. Veterinary Medicine,41.7,Very Good,"ST MARY'S COLLEGE, KISUBI",Northern
14912,23APF1618205309130850,U0077,U0077/736,MUKETI JOVIA,F,2022,74.0,MARACHA,VET,B. Veterinary Medicine,41.6,Very Good,GOMBE SECONDARY SCHOOL,Northern
14913,23APF575513287117711,U0077,U0077/564,AWOR REBECCA,F,2022,31.0,LIRA,VET,B. Veterinary Medicine,40.4,Very Good,GOMBE SECONDARY SCHOOL,Northern
14914,23APF1477867021106233,U0017,U0017/606,SAGATI LETICIA OKURUT,F,2022,48.0,PALLISA,VET,B. Veterinary Medicine,40.1,Very Good,IGANGA SECONDARY SCHOOL,Eastern

In [63]:
df = df.drop(['INDEX NO', 'NAME', 'SCHOOL INDEX'], axis=1)

In [64]:
df.astype({'UACE YEAR':'int64',
          'CODE': 'int64'
          })

,APPLICATION NO,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT,WEIGHT RANGE,SCHOOL,REGION
0,23APF412304454141015,M,2022,42,MUKONO,ACC,BSC. Accounting (EVE),42.2,Very Good,"ST.JOSEPH'S S S, NAGGALAMA",Central
1,23APF345674424112360,M,2022,40,MPIGI,ACC,BSC. Accounting (EVE),41.1,Very Good,KINAAWA HIGH SCHOOL,Central
2,23APF1361730063122187,F,2022,21,KASESE,ACC,BSC. Accounting (EVE),40.6,Very Good,KAWEMPE MUSLIM SS,Western
3,23APF519647933132646,F,2022,33,MASAKA,ACC,BSC. Accounting (EVE),38.8,Good,OURLADY OF AFRICA SS NAMILYANGO,Central
4,23APF1481620160129238,F,2022,65,IBANDA,ACC,BSC. Accounting (EVE),38.4,Good,IMMACULATE HEART GIRLS SCHOOL,Western
...,...,...,...,...,...,...,...,...,...,...,...
14910,23APF727648568141557,F,2022,17,KAMULI,VET,B. Veterinary Medicine,41.8,Very Good,IGANGA SECONDARY SCHOOL,Eastern
14911,23APF963075058135059,M,2022,31,LIRA,VET,B. Veterinary Medicine,41.7,Very Good,"ST MARY'S COLLEGE, KISUBI",Northern
14912,23APF1618205309130850,F,2022,74,MARACHA,VET,B. Veterinary Medicine,41.6,Very Good,GOMBE SECONDARY SCHOOL,Northern
14913,23APF575513287117711,F,2022,31,LIRA,VET,B. Veterinary Medicine,40.4,Very Good,GOMBE SECONDARY SCHOOL,Northern
14914,23APF1477867021106233,F,2022,48,PALLISA,VET,B. Veterinary Medicine,40.1,Very Good,IGANGA SECONDARY SCHOOL,Eastern

In [65]:
df.to_csv('../Data/finalDf.csv')

In [109]:
df.groupby(['COURSE CODE', 'GENDER'])['APPLICATION NO'].count().head(200
                                                                    )

COURSE CODE  GENDER
ACC          F          62
             M          86
ADJ          F          19
             M          11
ADM          F         127
                      ...
COX          F          53
             M          66
CRJ          F          10
             M          10
CRO          F          10
Name: APPLICATION NO, Length: 200, dtype: int64

In [114]:
df[df['COURSE CODE'][0] == 'A']

KeyError: False

In [113]:
# plt.xticks(
#     rotation=90,
# );
plt.figure(
    figsize=(200,200),
);
sns.catplot(
    data=df[df['COURSE CODE'][0] == 'A'],
    x="COURSE CODE",
    # y="WEIGHT RANGE",
    hue="GENDER",
    kind="count"
);

KeyError: False