In [1]:
import pandas as pd
import numpy as np

In [ ]:
makData = pd.read_csv("preprocessed/finalDfV2.csv",
            index_col=0
           )

In [ ]:
makData

In [ ]:
makData = makData.rename(columns = {"UACE YEAR": "YEAR",
               "Total Weight": "Weight"})

In [ ]:
makData

In [ ]:
from patsy import dmatrices, dmatrix

In [ ]:
TotalWeight = 'Total Weight'

In [ ]:
weight, predictors = dmatrices("Weight ~ GENDER + YEAR + DISTRICT", makData)

In [ ]:
weight

In [ ]:
dmatrix('GENDER + YEAR + DISTRICT ', makData)

In [31]:
obj = pd.Series([-7, -5, 7, 4, 2, 0, 4])

In [33]:
obj

0   -7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [35]:
obj.rank(
    method="dense",
)

0    1.0
1    2.0
2    6.0
3    5.0
4    4.0
5    3.0
6    5.0
dtype: float64

In [8]:
obj.rank(method="first")

0    1.0
1    2.0
2    7.0
3    5.0
4    4.0
5    3.0
6    6.0
dtype: float64

In [11]:
frame = pd.DataFrame(
    {"b":[4.3, 7, -3, 2],
     "a":[0, 1, 0, 1],
     "c":[-2, 5, 8, -2.5]}
)

In [13]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [27]:
frame.rank(axis="columns",
           method="max",
           
          )

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [18]:
obj = pd.Series(np.arange(5),
                index=['a', 'a', 'b', 'b', 'c'])

In [20]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int32

In [21]:
obj.index.is_unique

False

In [36]:
df = pd.DataFrame(np.random.standard_normal((5, 3)),
                  index=['a', 'a', 'b', 'b', 'c'])

In [38]:
df

          0         1         2
a  0.386350 -0.209910 -0.246803
a -0.253962 -1.555351  0.565615
b -1.295682 -0.361828  0.724116
b  1.042685 -0.821410 -1.005133
c  0.239314 -0.279300 -2.428697

In [40]:
df.loc["a"]

          0         1         2
a  0.386350 -0.209910 -0.246803
a -0.253962 -1.555351  0.565615

In [41]:
df.loc["c"]

0    0.239314
1   -0.279300
2   -2.428697
Name: c, dtype: float64

In [42]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])

In [44]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [48]:
df.sum(axis=0)

one    9.25
two   -5.80
dtype: float64

In [50]:
df.sum(axis="index",
       # skipna=False,
      )

one    9.25
two   -5.80
dtype: float64

In [55]:
df.sum(axis=1,
       # skipna=False,
      )

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [56]:
df.idxmax()

one    b
two    d
dtype: object

In [64]:
df.describe().loc['mean']

one    3.083333
two   -2.900000
Name: mean, dtype: float64

In [60]:
# non-numeric data
obj = pd.Series(['a', 'a', 'b', 'c']*4)

In [62]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object