In [2]:
import pandas as pd
import numpy as np

In [3]:
makData = pd.read_csv("preprocessed/finalDfV2.csv",
            index_col=0
           )

In [4]:
makData

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022.0,52.0,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022.0,6.0,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022.0,71.0,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022.0,9.0,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,42.6

In [23]:
makData = makData.rename(columns = {"UACE YEAR": "YEAR",
               "Total Weight": "Weight"})

In [24]:
makData

,Form ID,Index No,NAME,GENDER,YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022.0,52.0,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022.0,6.0,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022.0,71.0,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022.0,9.0,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,42.6

In [32]:
from patsy import dmatrices, dmatrix

In [33]:
TotalWeight = 'Total Weight'

In [34]:
weight, predictors = dmatrices("Weight ~ GENDER + YEAR + DISTRICT", makData)

In [36]:
weight

DesignMatrix with shape (223, 1)
  Weight
    42.2
    41.1
    40.6
    38.8
    38.4
    38.4
    38.2
    38.1
    37.9
    37.9
    37.8
    37.0
    36.5
    35.8
    35.8
    35.5
    35.3
    34.6
    34.6
    34.4
    34.3
    34.1
    33.8
    33.5
    33.3
    33.0
    32.8
    32.5
    32.4
    32.0
  [193 rows omitted]
  Terms:
    'Weight' (column 0)
  (to view full data, use np.asarray(this_obj))

In [49]:
dmatrix('GENDER + YEAR + DISTRICT ', makData)

DesignMatrix with shape (223, 75)
  Columns:
    ['Intercept',
     'GENDER[T.M]',
     'DISTRICT[T.ADJUMANI]',
     'DISTRICT[T.AGAGO]',
     'DISTRICT[T.BUDAKA]',
     'DISTRICT[T.BUGIRI]',
     'DISTRICT[T.BUIKWE]',
     'DISTRICT[T.BUKEDEA]',
     'DISTRICT[T.BUKOMANSIMBI]',
     'DISTRICT[T.BUKWO]',
     'DISTRICT[T.BUNYANGABU]',
     'DISTRICT[T.BUSHENYI]',
     'DISTRICT[T.BUSIA]',
     'DISTRICT[T.BUTALEJA]',
     'DISTRICT[T.BUTAMBALA]',
     'DISTRICT[T.BUYENDE]',
     'DISTRICT[T.GOMBA]',
     'DISTRICT[T.GULU]',
     'DISTRICT[T.HOIMA]',
     'DISTRICT[T.IBANDA]',
     'DISTRICT[T.IGANGA]',
     'DISTRICT[T.ISINGIRO]',
     'DISTRICT[T.JINJA]',
     'DISTRICT[T.KABALE]',
     'DISTRICT[T.KABAROLE]',
     'DISTRICT[T.KABERAMAIDO]',
     'DISTRICT[T.KAGADI]',
     'DISTRICT[T.KALIRO]',
     'DISTRICT[T.KAMPALA]',
     'DISTRICT[T.KAMULI]',
     'DISTRICT[T.KAMWENGE]',
     'DISTRICT[T.KANUNGU]',
     'DISTRICT[T.KASESE]',
     'DISTRICT[T.KAYUNGA]',
     'DISTRICT[T.KIBOGA]',
     'DISTRICT[T.KIBUKU]',
     'DISTRICT[T.KISORO]',
     'DISTRICT[T.KOLE]',
     'DISTRICT[T.KYANKWANZI]',
     'DISTRICT[T.KYEGEGWA]',
     'DISTRICT[T.KYENJOJO]',
     'DISTRICT[T.KYOTERA]',
     'DISTRICT[T.LIRA]',
     'DISTRICT[T.LUWEERO]',
     'DISTRICT[T.LWENGO]',
     'DISTRICT[T.LYANTONDE]',
     'DISTRICT[T.MASAKA]',
     'DISTRICT[T.MASINDI]',
     'DISTRICT[T.MAYUGE]',
     'DISTRICT[T.MBALE]',
     'DISTRICT[T.MBARARA]',
     'DISTRICT[T.MITOOMA]',
     'DISTRICT[T.MITYANA]',
     'DISTRICT[T.MOROTO]',
     'DISTRICT[T.MOYO]',
     'DISTRICT[T.MPIGI]',
     'DISTRICT[T.MUBENDE]',
     'DISTRICT[T.MUKONO]',
     'DISTRICT[T.NAKASEKE]',
     'DISTRICT[T.NAKASONGOLA]',
     'DISTRICT[T.NAMUTUMBA]',
     'DISTRICT[T.NEBBI]',
     'DISTRICT[T.NTUNGAMO]',
     'DISTRICT[T.PALLISA]',
     'DISTRICT[T.RAKAI]',
     'DISTRICT[T.RUBANDA]',
     'DISTRICT[T.RUKIGA]',
     'DISTRICT[T.RUKUNGIRI]',
     'DISTRICT[T.SEMBABULE]',
     'DISTRICT[T.SHEEMA]',
     'DISTRICT[T.SIRONKO]',
     'DISTRICT[T.SOROTI]',
     'DISTRICT[T.TORORO]',
     'DISTRICT[T.WAKISO]',
     'YEAR']
  Terms:
    'Intercept' (column 0)
    'GENDER' (column 1)
    'DISTRICT' (columns 2:74)
    'YEAR' (column 74)
  (to view full data, use np.asarray(this_obj))