<h3>Libraries</h3>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [223]:
obj = pd.Series([-7, -5, 7, 4, 2, 0, 4])

In [224]:
obj

0   -7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [225]:
obj.rank(
    method="dense",
)

0    1.0
1    2.0
2    6.0
3    5.0
4    4.0
5    3.0
6    5.0
dtype: float64

In [226]:
obj.rank(method="first")

0    1.0
1    2.0
2    7.0
3    5.0
4    4.0
5    3.0
6    6.0
dtype: float64

In [227]:
frame = pd.DataFrame(
    {"b":[4.3, 7, -3, 2],
     "a":[0, 1, 0, 1],
     "c":[-2, 5, 8, -2.5]}
)

In [228]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [229]:
frame.rank(axis="columns",
           method="max",
           
          )

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [230]:
obj = pd.Series(np.arange(5),
                index=['a', 'a', 'b', 'b', 'c'])

In [231]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int32

In [232]:
obj.index.is_unique

False

In [233]:
df = pd.DataFrame(np.random.standard_normal((5, 3)),
                  index=['a', 'a', 'b', 'b', 'c'])

In [234]:
df

          0         1         2
a  1.733874 -1.132086 -0.459800
a  0.424777  0.998119 -0.985578
b  0.379976  1.228071  1.227375
b -0.963204 -0.836671 -2.276910
c  0.465728 -0.844701 -0.334112

In [235]:
df.loc["a"]

          0         1         2
a  1.733874 -1.132086 -0.459800
a  0.424777  0.998119 -0.985578

In [236]:
df.loc["c"]

0    0.465728
1   -0.844701
2   -0.334112
Name: c, dtype: float64

In [237]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])

In [238]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [239]:
df.sum(axis=0)

one    9.25
two   -5.80
dtype: float64

In [240]:
df.sum(axis="index",
       # skipna=False,
      )

one    9.25
two   -5.80
dtype: float64

In [241]:
df.sum(axis=1,
       # skipna=False,
      )

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [242]:
df.idxmax()

one    b
two    d
dtype: object

In [243]:
df.describe().loc['mean']

one    3.083333
two   -2.900000
Name: mean, dtype: float64

In [244]:
# non-numeric data
obj = pd.Series(['a', 'a', 'b', 'c']*4)

In [245]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [246]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [247]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [248]:
pd.Series(obj).value_counts()

c    3
a    3
b    2
d    1
Name: count, dtype: int64

In [249]:
data = pd.DataFrame({"qu1": [1, 3, 4, 3, 4],
                     "qu2": [2, 3, 1, 2, 3],
                     "qu3": [1, 5, 2, 4, 4]})

In [250]:
data.qu1.value_counts().sort_index()

qu1
1    1
3    2
4    2
Name: count, dtype: int64

In [251]:
data.value_counts()

qu1  qu2  qu3
1    2    1      1
3    2    4      1
     3    5      1
4    1    2      1
     3    4      1
Name: count, dtype: int64

In [252]:
import sys

In [253]:
data.to_csv(sys.stdout, index=False, columns=['qu1', 'qu3'], sep="|")

qu1|qu3
1|1
3|5
4|2
3|4
4|4

In [254]:
import sqlite3

In [255]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"""

In [256]:
con = sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()

OperationalError: table test already exists

In [ ]:
data = [("Atlanta", "Georgia", 1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]

In [ ]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute("SELECT * FROM test")
rows = cursor.fetchall()

In [ ]:
rows

In [ ]:
cursor.description

In [ ]:
df = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

In [ ]:
df

In [ ]:
import sqlalchemy as sqla

In [ ]:
db = sqla.create_engine("sqlite:///mydata.sqlite")

In [ ]:
df = pd.read_sql("SELECT * FROM test", db)

In [ ]:
df

In [ ]:
# drop duplicates
data = pd.DataFrame({"k1": ["one", "two"]*3 + ["two"],
                     "k2": [1, 1, 2, 3, 3, 4, 4]})

In [ ]:
data

In [ ]:
# data.duplicated()

In [ ]:
# data = data.drop_duplicates()

In [ ]:
# data

In [ ]:
data.loc[:,'v1'] = range(7)

In [ ]:
data

In [ ]:
data.drop_duplicates(subset=['k2'])

In [ ]:
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon", "pastrami", "corned beef", "bacon", "pastrami", "honey ham", "nova lox"],
                     "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [ ]:
data

In [ ]:
meat_to_animal = {
    "bacon": "pig",
    "pulled pork": "pig",
    "pastrami": "cow",
    "corned beef": "cow",
    "honey ham": "pig",
    "nova lox" : "Salmon"
}

In [ ]:
data['animal'] = data["food"].map(meat_to_animal)

In [ ]:
data

In [ ]:
data = pd.Series([1., -999., 2.0, -999.0, -1000, -1000, 3])

In [ ]:
data

In [ ]:
data.replace([-999, -1000], np.nan)

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

In [ ]:
data.replace({-999: np.nan, -1000: 0})

In [ ]:
data

In [ ]:
# binning and discretization
ages = [18, 22, 25, 26, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
bins = [18, 25, 35, 60, 100]
# bins = 5

In [ ]:
age_categories = pd.cut(ages, bins)

In [ ]:
age_categories

In [ ]:
ages

In [ ]:
df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])

In [ ]:
df

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy.iloc[0,0] = pd.NA

In [ ]:
df_copy

In [ ]:
df_copy.map(lambda x: len(str(x)), na_action=None)

In [ ]:
df

In [ ]:
df.map(round, ndigits=1)

In [ ]:
data = pd.DataFrame(np.arange(12).reshape(3, 4),
                    index=['Computer Engineering', 'Civil Engineering', 'Electrical Engineering'],
                    columns=['Year One', 'Year Two', 'Year Three', 'Year Four']
                   )

In [ ]:
data

In [ ]:
def transform(x):
    return x[:4].upper()

In [ ]:
data.index = data.index.map(transform)

In [ ]:
data

In [ ]:
data = data.rename(index=str.title,
                   columns=str.upper,
                  )

In [ ]:
data

In [ ]:
pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3,
      right=False,
      )

In [ ]:
# Binning with qcut
data = np.random.standard_normal(1000)
quartiles = pd.qcut(data, 4, precision=2)

In [ ]:
quartiles

In [ ]:
data = pd.DataFrame(np.random.standard_normal((1000, 4)))

In [ ]:
data.describe()

In [ ]:
# Getting outliers where value is greater than three in any column
data[(data.abs() > 3).any(axis="columns")]

In [ ]:
# Capping the outlier values to 3
data[data.abs() > 3] = np.sign(data) * 3

In [ ]:
data[(data.abs() == 3).any(axis="columns")]

In [ ]:
# Permutations
df = pd.DataFrame(np.arange(5*7).reshape((5, 7)))

In [ ]:
df

In [ ]:
sampler = np.random.permutation(5)

In [ ]:
sampler

In [ ]:
# Sampling
df.take(sampler)

In [ ]:
df = pd.DataFrame({"key": ['b', 'b', 'a', 'c', 'a', 'b'],
                   "data1": range(6)})

In [ ]:
df

In [ ]:
pd.get_dummies(df["key"])

In [ ]:
s = pd.Series(list('abca'))

In [ ]:
s

In [ ]:
pd.get_dummies(s)

In [ ]:
s1 = ['a', 'b', np.nan]

In [ ]:
pd.get_dummies(s1)

In [ ]:
pd.get_dummies(s1,
               dummy_na=True,
              prefix="key",
              prefix_sep = "-",
              )

In [ ]:
s1 = pd.Series(["a|b", "a", "a|c"])

In [ ]:
s1

In [ ]:
s1.str.get_dummies()

In [ ]:
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())

In [ ]:
s

In [ ]:
s.isna()

In [ ]:
s.dtype

In [ ]:
s[3]

In [ ]:
s[3] is pd.NA

In [ ]:
s = pd.Series(["one", "two", None, "three'"], dtype=pd.StringDtype())

In [ ]:
s

In [ ]:
df = pd.DataFrame({"A": [1, 2, None, 4],
                   "B": ["one", "two", "three", None],
                   "C": [False, None, False, True]})

In [ ]:
df

In [ ]:
df['A'] = df['A'].astype("Int64")
df['B'] = df['B'].astype("string")
df["C"] = df["C"].astype("boolean")

In [ ]:
df

In [ ]:
import re

In [ ]:
text = "foo bar\t baz \tqux"

In [ ]:
re.split(r"\s+", text)

In [ ]:
regex = re.compile(r"\s+")

In [ ]:
regex.split(text)

In [ ]:
regex.findall(text)

In [ ]:
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"

In [ ]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
steven.kakaire@mak.ac.ug
Ryan ryan@yahoo.com"""

In [ ]:
text

In [ ]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
regex.findall(text)

In [ ]:
print

In [ ]:
m = regex.search(text)

In [ ]:
m

In [ ]:
m.start()

In [ ]:
m.end()

In [ ]:
text[m.start():m.end()]

In [ ]:
indexPattern = r'U+[0-9]+/[0-9]+'

In [ ]:
regexIndex = re.compile(indexPattern, flags=re.IGNORECASE)

In [ ]:
regexIndex.match('U0391/673 LUKABWE DOUGLAS MARKM 2022 42 MUKONO ACC BSC. Accounting (EVE)')[0]

In [ ]:
student = 'U0391/673 LUKABWE DOUGLAS MARKM 2022 42 MUKONO ACC BSC. Accounting (EVE)'

In [ ]:
pd.Series(student.split()).str.contains('M')

In [ ]:
namePattern = r'([A-Z]+){2,10}'

In [ ]:
regexName = re.compile(namePattern, flags=re.IGNORECASE)

In [ ]:
regexName.findall(student)

In [ ]:
student = 'U0391/673 LUKABWE DOUGLAS MARKM 2022 42 MUKONO ACC BSC. Accounting (EVE)'

In [ ]:
# regex.match('U0391/673 LUKABWE DOUGLAS MARKM 2022 42 MUKONO ACC BSC. Accounting (EVE)')[0]

In [ ]:
pattern = r"\b[a-zA-Z\\]+"

In [ ]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
m = re.match(pattern, student)

In [ ]:
m

In [ ]:
yearPattern = r"\b[0-9]{4}"

In [ ]:
regex = re.compile(yearPattern)

In [ ]:
regex.findall(student)

In [ ]:
student

In [ ]:
# print(regex.sub("REDACTED", text))

In [ ]:
# pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9._]+)\.([A-Z]{2,4})"

In [ ]:
# regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
# m = regex.match("wesm@right.net")

In [ ]:
# m.groups()

In [ ]:
# kakaire = regex.match("steven.kakaire@mak.ac.ug")

In [ ]:
# kakaire.groups()

In [ ]:
# regex.findall(text)

In [ ]:
# raw string needs not to be written on multiple lines.
# print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3",
#                 text))

In [ ]:
# print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

<h1>STRING MANIPULATION</h1>
<p>Real world data is messy and requires a lot of string manipulation.</p>

In [ ]:
import re
import pandas as pd
import numpy as np

In [ ]:
data = {"Hawa Jamal": "hawa.jamal@gmail.com",
        "King Kakaire": "steven.kakaire@mak.ac.ug",
        "Nalubega Daisy Mercy": "daisy.nalubega@yahoo.com",
        "rashidah Naluwongo": np.nan
       }

In [ ]:
data = pd.Series(data)

In [ ]:
data

In [ ]:
data.str.contains("com")

In [ ]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.nan])

In [ ]:
s1.str.contains('og', regex=False)

In [ ]:
s1.loc[s1.str.contains('house | parrot', na=False)]

# specifying case sensitivity
s1.str.contains('oG', case=True, regex=True)

In [ ]:
# Specifying na to be True
s1.str.contains('og', na=False, regex=True)

In [ ]:
# ignoring sensitivity
s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)

In [ ]:
s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])

In [ ]:
s2.str.contains('.0', regex=True)

In [ ]:
s2.str.contains('//d', regex=True)

In [ ]:
data

In [ ]:
data_as_string_ext = data.astype('string')

In [ ]:
data_as_string_ext

In [ ]:
data_as_string_ext.str.contains("mak")

In [ ]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"

In [ ]:
data.str.findall(pattern, flags=re.IGNORECASE)

In [ ]:
data.str.findall(pattern, flags=re.IGNORECASE).iloc[0]

In [ ]:
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]

In [ ]:
matches.str.get(1)

In [ ]:
data.str.extract(pattern, flags=re.IGNORECASE)

<h1>Categoriacal Data</h1>

In [ ]:
values = pd.Series(['apple', 'orange', 'apple','apple']*2)

In [ ]:
values

In [ ]:
pd.unique(values)

In [ ]:
values = pd.Series([0, 1, 0, 0, 0]*2)

In [ ]:
values

In [ ]:
dim = pd.Series(['apple', 'orange'])

In [ ]:
dim.take(values)

In [ ]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [ ]:
N = len(fruits)

In [ ]:
fruits

In [ ]:
rng = np.random.default_rng(seed=1234)

In [ ]:
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': rng.integers(3, 15, N),
                   'weight': rng.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])

In [ ]:
df

In [ ]:
df['fruit']

In [ ]:
fruit_cat = df['fruit'].astype('category')

In [ ]:
fruit_cat

In [ ]:
c = fruit_cat.array

In [ ]:
c

In [ ]:
type(c)

In [ ]:
c.categories

In [ ]:
c.codes

<h3>Enumerate</h3>

In [ ]:
colleges = ['Engineering', 'Natural Sciences', 'Health Sciences', 'Humanities', 'Business Management', 'Veterinary', 'Agriculture']

In [ ]:
colleges

In [ ]:
list(enumerate(colleges))

In [ ]:
for index, college in enumerate(colleges):
    print(index, college)

In [ ]:
dict(enumerate(c.categories))

In [ ]:
categories = ['CEDAT', 'CONAS', 'CHS']

In [ ]:
codes = [0, 1, 2, 0, 0, 1]

In [ ]:
my_cats = pd.Categorical.from_codes(codes, categories)

In [ ]:
my_cats

In [ ]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)

In [ ]:
ordered_cat

In [ ]:
my_cats.as_ordered()

In [ ]:
draws = rng.standard_normal(1000)

In [ ]:
draws[:5]

In [ ]:
bins = pd.qcut(draws, 4)

In [ ]:
bins

In [ ]:
# Using labels
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

In [ ]:
bins

In [ ]:
bins = pd.Series(bins, name='quartile')

In [ ]:
bins

<h3>Descriptive Statistics</h3>

In [ ]:
result = (pd.Series(draws).groupby(bins, observed=True).agg(['count', 'min', 'max']).reset_index())

In [ ]:
result

In [ ]:
# Advantages of categorical data
N = 10_000_000
labels = pd.Series(['foo', 'bar', 'baz', 'qux']*(N//4))

In [ ]:
labels

In [ ]:
categories = labels.astype('category')

In [ ]:
categories

In [ ]:
labels.memory_usage(deep=True)

In [ ]:
categories.memory_usage(deep=True)

In [ ]:
# Labels use more memory than categories

In [ ]:
%time _ = labels.astype('category')

In [ ]:
%timeit labels.value_counts()

In [ ]:
%timeit categories.value_counts()

In [ ]:
# categories take a significantly shorter time than labels

<h3>Categorical methods</h3>

In [ ]:
s = pd.Series(['a', 'b', 'c', 'd']*2)

In [ ]:
cat_s = s.astype('category')

In [ ]:
cat_s

In [ ]:
cat_s.cat.codes

In [ ]:
cat_s.cat.categories

In [ ]:
# setting categories
actual_categories = ['a', 'b', 'c', 'd', 'e']

In [ ]:
# set categories beyond the observed categories in data
cat_s2 = cat_s.cat.set_categories(actual_categories)

In [ ]:
cat_s2

In [ ]:
cat_s.value_counts()

In [ ]:
cat_s2.value_counts()

In [ ]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]

In [ ]:
cat_s3

In [ ]:
# Removing unused categories
cat_s3.cat.remove_unused_categories()

In [ ]:
# dummy variables
cat_s = pd.Series(['a', 'b', 'c', 'd']*2, dtype='category')

In [ ]:
cat_s

In [ ]:
pd.get_dummies(cat_s)

<h1>Data Wrangling: Join, Combine, and Reshape</h1>

In [ ]:
data = pd.Series(np.random.uniform(size=9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [ ]:
data

In [ ]:
data.index

In [ ]:
data['b']

In [ ]:
data['a':'b']

In [ ]:
data[['a', 'd']]

In [ ]:
data.loc[:, 3]

In [ ]:
data.unstack()

In [ ]:
data

In [ ]:
data.unstack()

In [ ]:
# Reversing the stack operation
data.unstack().stack()

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'c'],
                            [1, 2, 1, 2]],
                     columns=[["Kampala", "Iganga", "Iganga"],
                              ["Green", "Orange", "Orange"]])

In [ ]:
frame

In [ ]:
frame.index.names = ["key 1", "key 2"]

In [ ]:
frame.columns.names = ["City", "Color"]

In [ ]:
frame

In [ ]:
# number of the frame index level
frame.index.nlevels

In [ ]:
# number of frame column level
frame.columns.nlevels

In [ ]:
frame['Iganga']

In [ ]:
frame.swaplevel("key 1", "key 2")

In [ ]:
frame.swaplevel(0, 1).sort_index(level=0)

In [ ]:
frame.groupby(level="key 2").sum()

In [ ]:
frame.T.groupby(level="Color").sum()

In [ ]:
frame = pd.DataFrame({"a": range(7),
                      "b": range(7, 0, -1),
                      "c": ["one", "one", "one", "two", "two", "two", "two"],
                      "d": [0, 1, 2, 0, 1, 2, 3]})

In [ ]:
frame

In [ ]:
frame2 = frame.set_index(["c", "d"])

In [ ]:
frame2

In [ ]:
frame = frame.set_index(['c', 'd'],
                # drop=False,
               # append=True,
               )

In [ ]:
frame.reset_index(
                inplace=True
                 )

In [ ]:
frame

<h3>Combining and Merging Data</h3>

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "a", "b"],
                    "data1": pd.Series(range(7), dtype="Int64")})

In [ ]:
df2 = pd.DataFrame({"key": ["a", "b", "d"],
                    "data2": pd.Series(range(3),
                                             dtype="Int64")})

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2,
         on="key",
         how="right"
        )

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                    "data1": pd.Series(range(6), dtype="Int64")})

In [ ]:
df2 = pd.DataFrame({"key": ['a', 'b', 'a', 'b', 'd'],
                    "data2": pd.Series(range(5),
                                       dtype="Int64")})

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2, on="key", how="left")

<h3>Merging on Index</h3>

In [ ]:
left1 = pd.DataFrame({"key": ['a', 'b', 'a', 'a', 'b', 'c'],
                      "value": pd.Series(range(6), dtype='Int64')})

In [ ]:
left1

In [ ]:
right1 = pd.DataFrame({"group_val": [3.5, 7]}, index=["a", "b"])

In [ ]:
right1

In [ ]:
pd.merge(left1, right1, left_on="key",
         right_index=True,
        )

In [ ]:
# Merging on multilevel indexes
lefth = pd.DataFrame({"key1": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada"],
                      "key2": [2000, 2001, 2002, 2001, 2002],
                      "data": pd.Series(range(5), dtype="Int64")})

In [ ]:
lefth

In [ ]:
righth_index = pd.MultiIndex.from_arrays([["Nevada", "Nevada", "Ohio", "Ohio", "Ohio", "Ohio"],
                                        [2001, 2000, 2000, 2001, 2001, 2002]])

In [ ]:
righth_index

In [ ]:
righth = pd.DataFrame({"event1": pd.Series([0, 2, 4, 6, 8, 10], dtype="Int64", index=righth_index),
                       "event2": pd.Series([1, 3, 5, 7, 9, 11], dtype="Int64",
                       index=righth_index)
                      })

In [ ]:
righth

In [ ]:
pd.merge(lefth, righth, left_on=["key1", "key2"],
         right_index=True)

In [ ]:
pd.merge(lefth, righth, left_on=["key1", "key2"],
         right_index=True,
        how="outer")

In [ ]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                     index=["a", "c", "e"],
                     columns=["Ohio", "Nevada"]).astype("Int64")

In [ ]:
left2

In [ ]:
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13., 14.]],
                      index=["b", "c", "d", "e"],
                      columns=["Missouri", "Alabama"]
                     ).astype("Int64")

In [ ]:
right2

In [ ]:
pd.merge(left2, right2,
         how="outer",
         left_index=True,
         right_index=True,
        )

In [ ]:
# Join
left2.join(right2, how="outer")

In [ ]:
left1

In [ ]:
right1

In [ ]:
left1.join(right1, on="key")

In [ ]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
                       index=['a', 'c', 'e', 'f'],
                       columns=['New York', 'Oregon'])

In [ ]:
another

In [ ]:
left2.join([right2, another])

In [ ]:
left2.join([right2, another],
           how="outer")

<h3>Concatenation</h3>

In [ ]:
arr = np.arange(12).reshape((3, 4))

In [ ]:
arr

In [ ]:
np.concatenate([arr, arr], axis=1)

In [ ]:
s1 = pd.Series([0, 1], index=['a', 'b'], dtype="Int64")

In [ ]:
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'], dtype="Int64")

In [ ]:
s3 = pd.Series([5, 6], index=["f", "g"], dtype="Int64")

In [ ]:
s1

In [ ]:
s2

In [ ]:
s3

In [ ]:
pd.concat([s1, s2, s3])

In [ ]:
# Concatenating along the columns
pd.concat([s1, s1, s3], axis=1)

In [ ]:
pd.concat([s1, s2, s3], axis="columns")

In [ ]:
s4 = pd.concat([s1, s3], axis="columns", join="inner")

In [ ]:
s4

In [ ]:
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])

In [ ]:
result

In [ ]:
result.unstack()

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2),
                   index=['a', 'b', 'c'],
                   columns=['one', 'two'])

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame(5 + np.arange(4).reshape(2,2), index=['a', 'c'],
                   columns=['three', 'four'])

In [ ]:
df2

In [ ]:
pd.concat([df1, df2], 
          axis="columns", 
          keys=["level1", "level2"],
         # join="inner",
          # ignore_index=True,
         )

In [ ]:
pd.concat({"level1": df1,
           "level2": df2},
          axis="columns",
         join="inner")

In [ ]:
pd.concat([df1, df2],
          axis="columns",
          keys=["level1", "level2"],
          names=["upper", "lower"])

In [ ]:
df1 = pd.DataFrame(np.random.standard_normal((3, 4)),
                   columns=['a', 'b', 'c', 'd'])

In [ ]:
df2 = pd.DataFrame(np.random.standard_normal((2, 3)),
                   columns=['b', 'd', 'a'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.concat([df1, df2],
         ignore_index=True,
         )

In [ ]:
# overlap
a = pd.Series([np.nan, 2.5, 0.0, 3.5, 4.5, np.nan],
              index=['f', 'e', 'd', 'c', 'b', 'a'])

In [ ]:
b = pd.Series([0., np.nan, 2., np.nan, np.nan, 5],
              index=['a', 'b', 'c', 'd', 'e', 'f'])

In [ ]:
a

In [ ]:
b

In [ ]:
# if an element in a is not a number, replce with b's
np.where(pd.isna(a), b, a)

In [ ]:
pd.isna(a)

In [ ]:
a.combine_first(b)

In [ ]:
df1 = pd.DataFrame({"a":[1., np.nan, 5., np.nan],
                    "b":[np.nan, 2., np.nan, 6.],
                    "c":range(2, 18, 4)})

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame({"a":[5., 4., np.nan, 3., 7.],
                    "b":[np.nan, 3., 4., 6., 8.]})

In [ ]:
df2

In [ ]:
# Replace a with non-null value of b if null or else maintain.
df1.combine_first(df2)

<h3>Reshaping and Pivoting</h3>

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Iganga', 'Jinja'], name="City"),
                    columns = pd.Index(["One", "two", "three"],
                                       name="number"))

In [ ]:
data

In [ ]:
result = data.stack()

In [ ]:
result

In [ ]:
# By default, the inner level is unstacked, 
result.unstack(level=0)

In [ ]:
result.unstack(level="City")

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'],
               dtype='int64')

In [ ]:
s1

In [ ]:
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'],
               dtype='Int64')

In [ ]:
s2

In [ ]:
data = pd.concat([s1, s2], keys=['one', 'two'])

In [ ]:
data

In [ ]:
df = pd.DataFrame({"left": result, "right": result + 5},
                  columns = pd.Index(["left", "right"],
                                     name="side"))

In [ ]:
df

In [ ]:
# The level unstacked become the lowest in the result
df.unstack(level="City")

In [ ]:
# load csv data
data = pd.read_csv('../Data/macrodata.csv')

In [ ]:
data

In [ ]:
data = data.loc[:, ['year', 'quarter', 'realgdp', 'infl', 'unemp']]

In [ ]:
data

In [ ]:
periods = pd.PeriodIndex.from_fields(year=data.pop("year"),
                         quarter=data.pop("quarter"),
                         # name="date"
                                    )

In [ ]:
periods

In [ ]:
data

In [ ]:
data.index = periods.to_timestamp("D")

In [ ]:
data

In [ ]:
data = data.reindex(columns=['realgdp', 'infl', 'unemp'])

In [ ]:
data.columns.name = 'item'

In [ ]:
data

In [ ]:
long_data = (data.stack().reset_index().rename(columns={0:"value"}))

In [ ]:
long_data

In [ ]:
# Pivoting
pivoted = long_data.pivot(index='level_0',
                          columns='item',
                          values="value")

In [ ]:
pivoted

In [ ]:
long_data.head()

In [ ]:
long_data.set_index(["level_0", "item"]).unstack(level='item')

In [ ]:
pivoted = long_data.pivot(index='level_0',
                          columns='item',
                          values='value')

In [ ]:
pivoted

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [ ]:
df

In [ ]:
df.pivot(index='foo',
         columns='bar',
         values='baz')

In [ ]:
df.pivot(index='foo',
         columns='bar',
        )['baz']

In [ ]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

In [ ]:
df = pd.DataFrame({
    "lev1": [1, 1, 1, 2, 2, 2],
    "lev2": [1, 1, 2, 1, 1, 2],
    "lev3": [1, 2, 1, 2, 1, 2],
    "lev4": [1, 2, 3, 4, 5, 6],
    "values": [0, 1, 2, 3, 4, 5]
})

In [ ]:
df

In [ ]:
df.pivot(index="lev1",
         columns=["lev2", "lev3"],
         values="values"
        )

In [ ]:
# Using melt

df = pd.DataFrame({
    "key": ["foo", "bar", "baz"],
    "A": [1, 2, 3],
    "B": [4, 5, 6],
    "C": [7, 8, 9]
})

In [ ]:
df

In [ ]:
melted = pd.melt(df, id_vars="key")

In [ ]:
melted

In [ ]:
reshaped = melted.pivot(index="key",
             columns="variable",
             values="value")

In [ ]:
reshaped

In [ ]:
# Moving data back into the column
reshaped.reset_index()

In [ ]:
# Selecting a subset of columns
pd.melt(df, id_vars="key",
        value_vars=['A', 'B'])

In [ ]:
# Without using group identifiers
pd.melt(df, value_vars=["A", "B"])

In [ ]:
# Including key under value_vars
pd.melt(df, value_vars=["key", "A", "B"])

<h1>Visualization</h1>
<p>Visualization using matplotlib, Seaborn</p>

In [ ]:
%matplotlib inline

In [ ]:
data = np.arange(10)

In [ ]:
data

In [ ]:
plt.plot(data)

In [ ]:
# Creating a figure object
fig = plt.figure()
ax1 = fig.add_subplot(2, 2, 1)
ax2 = fig.add_subplot(2, 2, 2)
ax3 = fig.add_subplot(2, 2, 3)

# Plots
ax3.plot(np.random.standard_normal(50).cumsum(),
         color="black",
        linestyle="dashed");
# ';' used to supress the output about the object added to the plot
ax1.hist(np.random.standard_normal(100),
         bins=20,
         color="black",
         alpha=0.3);
ax2.scatter(np.arange(30),
            np.arange(30) + 3*np.random.standard_normal(30));

In [ ]:
fig, axes = plt.subplots(2, 2,
                        sharex=True,
                        sharey=True)
fig.subplots_adjust(left=None,
                    bottom=None,
                    right=None,
                    top=None,
                    wspace=0,
                    hspace=0)

In [ ]:
# adjusting wspace, hspace
fig, axes = plt.subplots(2, 2, sharex=True,
                         sharey=True)
for i in range(2):
    for j in range(2):
        axes[i, j].hist(np.random.standard_normal(500),
                        bins=50,
                        color='black',
                        alpha=0.5)
fig.subplots_adjust(wspace=0,
                    hspace=0)

In [ ]:
# supported
plt.plot?

In [ ]:
fig = plt.figure()
ax = fig.add_subplot()
ax.plot(np.random.standard_normal(30).cumsum(),
        color="black",
        linestyle="dashed",
        # marker="0"
       );

In [ ]:
fig = plt.figure()
ax = fig.add_subplot()
data = np.random.standard_normal(30).cumsum()
ax.plot(data,
        color='green',
        linestyle='dashed',
        label='Default',
       );
ax.plot(data, color='black',
        linestyle='dashed',
        drawstyle='steps-post',
        label="steps-post",
       );
ax.legend();

<h3>Ticks, Labels and Legends</h3>

In [ ]:
# Getting and settig xlim, ylim of the active or current subplot
ax.get_xlim()
ax.get_ylim()

In [ ]:
fig, ax = plt.subplots()
ax.plot(np.random.standard_normal(1_000).cumsum());
ticks = ax.set_xticks([0, 250, 500, 750, 1_000])
labels = ax.set_xticklabels(['one', 'two', 'three', 'four', 'five'],
                           rotation=30,
                           fontsize=8,

                           )
# label the x-axis
ax.set_xlabel("Stages")

# plot title
ax.set_title("This plot")

<h3>Legends</h3>
<p>Legends aid to identify the different plots on a graph</p>

In [ ]:
fig, ax = plt.subplots()
ax.plot(np.random.randn(1_000).cumsum(),
       color="black",
       label="one");
ax.plot(np.random.randn(1_000).cumsum(),
        color="green",
        linestyle="dashed",
        label="two"
       );
ax.plot(np.random.randn(1_000).cumsum(),
        color='yellow',
        linestyle='dotted',
        label="three");
fig.legend()

In [ ]:
from datetime import datetime
fig, ax = plt.subplots()
data = pd.read_csv("../Data/spx.csv", index_col=0,
                   parse_dates=True)
spx = data['SPX']
spx.plot(ax=ax, color='black')
crisis_data = [
    (datetime(2007, 10, 11), "Peak of bull market"),
    (datetime(2008, 3, 12), "Bear Stearns Fails"),
    (datetime(2008, 9, 15), "Lehman Bankruptcy")]
for date, label in crisis_data:
    ax.annotate(label, xy=(date, spx.asof(date) + 75),
                xytext = (date, spx.asof(date) + 225),
                          arrowprops=dict(facecolor='black',
                                          headwidth=4,
                                          width=2,
                                          headlength=4),
    horizontalalignment='left',
    verticalalignment='top')
ax.set_xlim(['1/1/2007', '1/1/2011'])
ax.set_ylim([600, 1800])
ax.set_title("Important dates in the 2008-2009 financial crisis")

<h3>Shapes</h3>

In [ ]:
fig, ax = plt.subplots()
rect = plt.Rectangle((0.2, 0.75),
                     0.4, 0.15,
                     color="black",
                     alpha=0.3)
circ = plt.Circle((0.7, 0.2),
                  0.15,
                  color="blue",
                  alpha=0.3)
pgon = plt.Polygon([[0.15, 0.15],
                    [0.35, 0.4],
                    [0.2, 0.6]],
                   color="green",
                   alpha=0.5)
ax.add_patch(rect)
ax.add_patch(circ)
ax.add_patch(pgon)

In [ ]:
plt.rcParams

In [ ]:
plt.rc("figure", figsize=(10, 10))

In [ ]:
plt.rcParams

In [ ]:
# Line Plots
# plt.rc("figure", figsize=(10, 10))
s = pd.Series(np.random.standard_normal(10).cumsum(),
              index=np.arange(0, 100, 10))
s.plot(
    figsize=(5, 5),
    alpha=0.4,
    label="this graph",
    # style="ko-",
    kind="kde",
    # logx=True,
    title="this plot",
    use_index=True,
);

In [ ]:
# Plotting dataframe
df = pd.DataFrame(np.random.standard_normal((10, 4)).cumsum(0),
                  columns=['A', 'B', 'C', 'D'],
                  index=np.arange(0, 100, 10))

In [ ]:
df

In [ ]:
# plt.style.use('grayscale')
df.plot(figsize=(5, 5),
        title="Plot of DataFrame Variables",
        xlabel="Variables",
        ylabel="Numerical Valuables",
       );

In [ ]:
# A Graduation DataFrame
grad = pd.DataFrame({"Graduates": [500, 631, 750, 893, 503, 819],
                     "First Classes": [30, 43, 81, 100, 210, 84],
                    },
                    index = ["CEDAT", "CoNAS", "CHS", "CEES", "CoBAMS", "CoVABS"],
                   )

In [ ]:
grad

In [ ]:
grad.plot(
    figsize=(5, 5),
    title="74th Graduation of Makerere University",
    xlabel="Colleges",
    ylabel="Graduates",
    grid=True,
    subplots=True,
);

<h3>Bar Plots</h3>
<p>pandas.plot.bar() and pandas.plot.barh() plot vertical and horizontal bars respectively.</p>

In [ ]:
fig, axes = plt.subplots(2, 1)
# plt.style.use('grayscale');
data = pd.Series(np.random.uniform(size=16),
                 index=list("abcdefghijklmnop"))
data.plot.bar(ax=axes[0],
              color="blue",
              alpha=0.7,
             );
data.plot.barh(ax=axes[1],
               color="black",
               alpha=0.7,
              );

In [ ]:
# Plotting grauation bar graphs
grad.plot.bar(
    figsize=(5,5),
    color=["Green", "Blue"],
);

In [ ]:
# More examples
df = pd.DataFrame({'lab': ['A', 'B', 'C'],
                   'val': [10, 30, 20]})
ax = df.plot.bar(x='lab',
                 y='val',
                 rot=0,
                figsize=(5, 5),
                 color="blue",
                );

In [ ]:
# TO-DO: Change background color to white
speed = [0.1, 17.5, 40, 48, 52, 69, 88]
lifespan = [2, 8, 70, 1.5, 25, 12, 28]
index = ['snail', 'pig', 'elephant', 'rabbit', 'girraffe', 'coyole', 'horse']
df = pd.DataFrame({"speed": speed,
                   "lifespan": lifespan},
                   index=index,
                 )
# A bar plot
df.plot.bar(figsize=(5,5),
            color=['black', 'green'],
    rot=30);

In [ ]:
df.plot.bar(figsize=(5,5),
            color=['black', 'green'],
            stacked=True,
    rot=30);

In [ ]:
df = pd.DataFrame(np.random.uniform(size=(6, 4)),
                  index=["one", "two", "three", "four", "five", "six"],
                  columns=pd.Index(["A", "B", "C", "D"],
                                   name="Genus"))
df

In [ ]:
df.plot.bar(
    figsize=(6.5, 5),
    stacked=True,
    # color=['black', 'yellow', 'red', 'green'],
    alpha=0.5,
);

In [ ]:
df.plot.barh(stacked=True,
             figsize=(5,5),
             alpha=0.5);

<h3>Coffee Price Trends</h3>

<ul>
    <li>Preprocessing</li>
    <li>Visualization</li>
    <li>Time Series</li>
    <li>Trending analysis</li>
</ul>

In [ ]:
# Read excel
coffeePriceTrends = pd.read_excel("../Data/Coffee/Price_Trend_1992_93_2015_USD.xls")

dfcolumns = coffeePriceTrends.columns
dfcolumns[0]
# coffeePriceTrends
coffeePriceTrends = coffeePriceTrends.drop([dfcolumns[0], dfcolumns[-1]], axis=1).dropna(how="any")
# Get column names
newColumns = coffeePriceTrends.iloc[0, :].tolist()

# print("newColumns: ")
# print(newColumns)
# print("\n")

coffeePriceTrends = coffeePriceTrends.drop(3, )
# print(coffeePriceTrends.columns)

dictPrice = {coffeePriceTrends.columns[x]: newColumns[x] for x in range(len(newColumns))}
# print(dictPrice)
coffeePriceTrends = coffeePriceTrends.rename(dictPrice,
                                            axis=1,
                                            )
coffeePriceTrends = coffeePriceTrends.set_index('MONTH')

# Create a multiIndex
index = pd.MultiIndex.from_arrays([["UGX", "UGX", "UGX", "EX.RATE", "USD", "USD", "USD"], ["ROBUSTA KIBOKO", "ROBUSTA FAQ", "ARABICA PARCHMENT", "EX.RATE Sh/Kg", "ROBUSTA KIBOKO", "ROBUSTA FAQ", "ARABICA PARCHMENT"]])


coffeePriceTrends.columns = index

# coffeePriceTrends

In [ ]:
coffeePriceTrendsUGX = coffeePriceTrends['UGX']

In [ ]:
coffeePriceTrends

In [ ]:
coffeePriceTrendsUGX.plot(
    rot=90,
    color=['black', 'yellow', 'red'],
    figsize=(10, 6.5),
);

# The USD graph may take the same shape: false

In [ ]:
coffeePriceTrendsUSD = coffeePriceTrends['USD']

In [ ]:
coffeePriceTrendsUSD.plot(
    figsize=(10, 6.5),
    color=['black', 'yellow', 'red'],
    rot=90,
);

In [ ]:
sns.histplot(data=coffeePriceTrendsUSD,
             # x="MONTH",
             # y="USD",
            );

<h3>Tips Data</h3>

In [ ]:
tips = pd.read_csv('../Data/tips.csv')

In [ ]:
tips

In [ ]:
party_counts = pd.crosstab(tips['day'], tips['size'])

In [ ]:
party_counts

In [ ]:
party_counts = party_counts.reindex(index=["Thur", "Fri", "Sat", "Sun"])

In [ ]:
party_counts

In [ ]:
# Removing column:1 and column:6
party_counts = party_counts.loc[:, 2:5]

In [ ]:
party_counts

In [ ]:
party_pcts = party_counts.div(party_counts.sum(axis="columns"),
                 axis="index")

In [ ]:
party_pcts

In [ ]:
plt.style.use('grayscale')
party_pcts.plot.barh(
    stacked=True,
    figsize=(5, 5),
);

In [ ]:
# tips percentage
tips["tip_pct"] = tips['tip'] / (tips['total_bill']-tips["tip"])

In [ ]:
tips

In [ ]:
sns.set_style("white")
sns.barplot(x="tip_pct",
            y="day",
            data=tips,
            orient="h",
            color="blue",
            # capsize=0.2,
            # width=0.25,
           );

In [ ]:
# hue enables to split aggregated data, say by time, smoker, size
# set palette color
# sns.set_palette("Greys_r")
sns.barplot(x="tip_pct",
            y="day",
            hue="size",
            data=tips,
            orient="h",
           );

<h3>Histograms and Density Plots</h3>
<p>A histogram is a representation of data <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.plot.hist.html#pandas.Series.plot.hist">distribution</a>.</p>

In [ ]:
tips['tip_pct']

In [ ]:
tips['tip_pct'].plot.hist(
    bins=50,
    figsize=(5, 5),
);

In [ ]:
tips['tip_pct'].plot.density();

In [ ]:
comp1 = np.random.standard_normal(200)
comp2 = 10+2*np.random.standard_normal(200)
values = pd.Series(np.concatenate([comp1, comp2]))

In [ ]:
# bimodal distribution
sns.histplot(values,
             bins=100,
             color='black',
            );

<h3>Penguins Dataset</h3>

In [ ]:
# Datasets in sns
# sns.get_dataset_names()

In [ ]:
penguins = sns.load_dataset("penguins")
penguins

In [ ]:
sns.histplot(data=penguins,
             x="flipper_length_mm",
            );

<h3>Scatter Plots</h3>
<p>A scatter plot plots data and a line <a href="https://seaborn.pydata.org/generated/seaborn.regplot.html">regression model fit</a>.</p>

In [ ]:
macro = pd.read_csv("../Data/macrodata.csv")

In [ ]:
data = macro[["cpi", "m1", "tbilrate", "unemp"]]

In [ ]:
trans_data = np.log(data).diff().dropna()

In [ ]:
trans_data

In [ ]:
# What is a scatter plot
ax = sns.regplot(x="m1",
                 y="unemp",
                 data=trans_data,
                );

In [ ]:
# Pair plot
sns.pairplot(trans_data,
             diag_kind='kde',
             plot_kws={"alpha": 0.2});

<h3>Facet Grids and Categorical Data</h3>

In [ ]:
sns.catplot(x="day",
            y="tip_pct",
            hue="time",
            col="smoker",
            kind="bar",
            data=tips[tips.tip_pct<1],
           );

In [ ]:
sns.catplot(x="day",
            y="tip_pct",
            row="time",
            col="smoker",
            kind="bar",
            data=tips[tips.tip_pct<1],
           );

In [ ]:
sns.catplot(
    x="tip_pct",
    y="day",
    kind="box",
    data=tips[tips.tip_pct < 0.5],
);

<h3>Other Resources</h3>
<ul>
    <li>Fundamentals of Data Visualization: Claus O. Wilke</li>
    <li>Visualizing Graph Data: Corey Lanum</li>
    <li>Everyday Data Visualization: Desire Abott</li>
    <li>Data Visualization with Python and JavaScript: Kryan Dale</li>
</ul>

<h1>Data Aggregation and Group Operations</h1>

<h3>Group By</h3>

In [2]:
df = pd.DataFrame({
    "key1": ["a", "a", None, "b", "b", "a", None],
    "key2": pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
    "data1": np.random.standard_normal(7),
    "data2": np.random.standard_normal(7)
})

In [3]:
df

   key1  key2     data1     data2
0     a     1  0.948445 -0.089830
1     a     2 -1.301785  1.450558
2  None     1 -0.332195 -0.047141
3     b     2 -1.197332 -0.299409
4     b     1 -0.464531  1.451060
5     a  <NA>  1.225718 -0.539322
6  None     1  1.659408 -1.098392

In [4]:
grouped = df['data1'].groupby(df['key1'])

In [5]:
grouped.mean()

key1
a    0.290793
b   -0.830932
Name: data1, dtype: float64

In [6]:
means = df['data1'].groupby([df['key1'],
                            df['key2']]).mean()

In [7]:
means

key1  key2
a     1       0.948445
      2      -1.301785
b     1      -0.464531
      2      -1.197332
Name: data1, dtype: float64

In [8]:
means.unstack()

key2         1         2
key1
a     0.948445 -1.301785
b    -0.464531 -1.197332

In [9]:
states = np.array(["OH", "CA", "CA", "OH", "OH", "CA", "OH"])
years = [2005, 2005, 2006, 2005, 2006, 2005, 2006]
df['data1'].groupby([states, years]).mean()

CA  2005   -0.038034
    2006   -0.332195
OH  2005   -0.124443
    2006    0.597438
Name: data1, dtype: float64

In [10]:
expenses  = pd.Series(np.arange(3, 10) * 1_000_000, dtype="Int64")

In [11]:
expenses

0    3000000
1    4000000
2    5000000
3    6000000
4    7000000
5    8000000
6    9000000
dtype: Int64

In [12]:
colleges = ["CEDAT", "CEDAT", "CEDAT", "CONAS", "CONAS", "CONAS", "CEDAT"]
fyQuarter = ["Q1", "Q4", "Q3", "Q1", "Q3", "Q2", "Q4"]

In [13]:
expenses.groupby([colleges, fyQuarter]).mean()

CEDAT  Q1    3000000.0
       Q3    5000000.0
       Q4    6500000.0
CONAS  Q1    6000000.0
       Q2    8000000.0
       Q3    7000000.0
dtype: Float64

In [14]:
# Find size in each category
expenses.groupby([colleges, fyQuarter]).size()

CEDAT  Q1    1
       Q3    1
       Q4    2
CONAS  Q1    1
       Q2    1
       Q3    1
dtype: Int64

In [15]:
# grouping by keys in the same dataframe
df.groupby("key1").mean()

      key2     data1     data2
key1
a      1.5  0.290793  0.273802
b      1.5 -0.830932  0.575825

In [16]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    1     0.948445 -0.089830
     2    -1.301785  1.450558
b    1    -0.464531  1.451060
     2    -1.197332 -0.299409

In [17]:
df.groupby(["key1", "key2"]).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

In [18]:
df.groupby("key1", dropna=False).size()

key1
a      3
b      2
NaN    2
dtype: int64

In [19]:
df.groupby(["key1", "key2"],
           dropna=False).size()

key1  key2
a     1       1
      2       1
      <NA>    1
b     1       1
      2       1
NaN   1       2
dtype: int64

In [20]:
df.groupby("key1").count()

      key2  data1  data2
key1
a        2      3      3
b        2      2      2

In [21]:
df

   key1  key2     data1     data2
0     a     1  0.948445 -0.089830
1     a     2 -1.301785  1.450558
2  None     1 -0.332195 -0.047141
3     b     2 -1.197332 -0.299409
4     b     1 -0.464531  1.451060
5     a  <NA>  1.225718 -0.539322
6  None     1  1.659408 -1.098392

<h3>Iterating over groups</h3>
<p>The returned groupby object is iterable.</p>

In [22]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1  0.948445 -0.089830
1    a     2 -1.301785  1.450558
5    a  <NA>  1.225718 -0.539322
b
  key1  key2     data1     data2
3    b     2 -1.197332 -0.299409
4    b     1 -0.464531  1.451060

In [23]:
# multiple key groupby
for (k1, k2), group in df.groupby(["key1", "key2"]):
    print((k1, k2))
    print(group)

('a', 1)
  key1  key2     data1    data2
0    a     1  0.948445 -0.08983
('a', 2)
  key1  key2     data1     data2
1    a     2 -1.301785  1.450558
('b', 1)
  key1  key2     data1    data2
4    b     1 -0.464531  1.45106
('b', 2)
  key1  key2     data1     data2
3    b     2 -1.197332 -0.299409

In [24]:
pieces = {name: group for name, group in df.groupby("key1")}

In [25]:
pieces

{'a':   key1  key2     data1     data2
 0    a     1  0.948445 -0.089830
 1    a     2 -1.301785  1.450558
 5    a  <NA>  1.225718 -0.539322,
 'b':   key1  key2     data1     data2
 3    b     2 -1.197332 -0.299409
 4    b     1 -0.464531  1.451060}

In [26]:
pieces['a']

  key1  key2     data1     data2
0    a     1  0.948445 -0.089830
1    a     2 -1.301785  1.450558
5    a  <NA>  1.225718 -0.539322

In [27]:
pieces['b']

  key1  key2     data1     data2
3    b     2 -1.197332 -0.299409
4    b     1 -0.464531  1.451060

In [28]:
grouped = df.T.groupby({"key1": "key",
                      "key2": "key",
                      "data1": "data",
                      "data2": "data"})

In [29]:
grouped.count()

      0  1  2  3  4  5  6
data  2  2  2  2  2  2  2
key   2  2  1  2  2  1  1

In [30]:
for group_key, group_values in grouped:
    print(group_key)
    print(group_values)

data
              0         1         2         3         4         5         6
data1  0.948445 -1.301785 -0.332195 -1.197332 -0.464531  1.225718  1.659408
data2  -0.08983  1.450558 -0.047141 -0.299409   1.45106 -0.539322 -1.098392
key
      0  1     2  3  4     5     6
key1  a  a  None  b  b     a  None
key2  1  2     1  2  1  <NA>     1

<h3>Selecting a column or a subset of columns</h3>

In [31]:
df.groupby("key1")[["data2"]]

In [32]:
# this aggregates by a subset of columns as returns a dataframe
df.groupby(["key1", "key2"])[["data2"]].mean()

              data2
key1 key2
a    1    -0.089830
     2     1.450558
b    1     1.451060
     2    -0.299409

In [33]:
# This aggregates by a column and returns a series
df.groupby(["key1", "key2"])["data2"].mean()

key1  key2
a     1      -0.089830
      2       1.450558
b     1       1.451060
      2      -0.299409
Name: data2, dtype: float64

In [34]:
s_grouped = df.groupby(["key1", "key2"])["data2"]

In [35]:
s_grouped.mean()

key1  key2
a     1      -0.089830
      2       1.450558
b     1       1.451060
      2      -0.299409
Name: data2, dtype: float64

<h3>Grouping with Dictionaries and Series</h3>

In [36]:
people = pd.DataFrame(np.random.standard_normal((5,5)),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wanda', 'Jill', 'Trey'])

In [37]:
people

              a         b         c         d         e
Joe    2.746875 -0.006558 -0.983119  0.108211  1.359296
Steve  1.409545  0.092801 -0.281806  0.092623 -1.105275
Wanda  0.323862 -1.810531  1.705458 -0.664779 -1.719563
Jill  -2.213213 -0.584244  0.409280 -0.283542 -1.147926
Trey   0.519317  0.276576 -1.344190  0.317036 -0.239648

In [38]:
people.iloc[2, [1, 2]] = np.nan

In [39]:
people

              a         b         c         d         e
Joe    2.746875 -0.006558 -0.983119  0.108211  1.359296
Steve  1.409545  0.092801 -0.281806  0.092623 -1.105275
Wanda  0.323862       NaN       NaN -0.664779 -1.719563
Jill  -2.213213 -0.584244  0.409280 -0.283542 -1.147926
Trey   0.519317  0.276576 -1.344190  0.317036 -0.239648

In [40]:
mapping = {"a": "red", "b": "red", "c": "blue", "d": "blue", "e": "red", "f": "orange"}

In [41]:
mapping

{'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

In [42]:
by_column = people.T.groupby(mapping).mean()

In [43]:
by_column

           Joe     Steve     Wanda      Jill      Trey
blue -0.437454 -0.094591 -0.664779  0.062869 -0.513577
red   1.366538  0.132357 -0.697851 -1.315128  0.185415

In [44]:
map_series = pd.Series(mapping)

In [45]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [46]:
people.T.groupby(map_series).count()

      Joe  Steve  Wanda  Jill  Trey
blue    2      2      1     2     2
red     3      3      2     3     3

<h3>Grouping with Functions</h3>

In [47]:
# computes sum of numerical values for index with the same length
people.groupby(len).sum()

          a         b         c         d         e
3  2.746875 -0.006558 -0.983119  0.108211  1.359296
4 -1.693896 -0.307668 -0.934910  0.033494 -1.387575
5  1.733406  0.092801 -0.281806 -0.572156 -2.824838

In [48]:
key_list = ["one", "one", "one", "two", "two"]
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one  2.746875 -0.006558 -0.983119  0.108211  1.359296
4 two -2.213213 -0.584244 -1.344190 -0.283542 -1.147926
5 one  0.323862  0.092801 -0.281806 -0.664779 -1.719563

In [49]:
for x, y in people.groupby([len, key_list]):
    print(x)
    print(y)

(3, 'one')
            a         b         c         d         e
Joe  2.746875 -0.006558 -0.983119  0.108211  1.359296
(4, 'two')
             a         b        c         d         e
Jill -2.213213 -0.584244  0.40928 -0.283542 -1.147926
Trey  0.519317  0.276576 -1.34419  0.317036 -0.239648
(5, 'one')
              a         b         c         d         e
Steve  1.409545  0.092801 -0.281806  0.092623 -1.105275
Wanda  0.323862       NaN       NaN -0.664779 -1.719563

In [50]:
people

              a         b         c         d         e
Joe    2.746875 -0.006558 -0.983119  0.108211  1.359296
Steve  1.409545  0.092801 -0.281806  0.092623 -1.105275
Wanda  0.323862       NaN       NaN -0.664779 -1.719563
Jill  -2.213213 -0.584244  0.409280 -0.283542 -1.147926
Trey   0.519317  0.276576 -1.344190  0.317036 -0.239648

<h3>Group By Index Levels</h3>

In [51]:
columns = pd.MultiIndex.from_arrays([["US", "US", "US", "JP", "JP"],
                                     [1, 3, 5, 1, 3]],
                                    names=["cty", "tenor"])

In [52]:
columns

MultiIndex([('US', 1),
            ('US', 3),
            ('US', 5),
            ('JP', 1),
            ('JP', 3)],
           names=['cty', 'tenor'])

In [53]:
hier_df = pd.DataFrame(np.random.standard_normal((4, 5)),
                       columns=columns)

In [54]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      1.187951 -0.630180  0.442751 -0.278845 -0.513909
1      0.008133  0.213362 -1.512968  0.246683 -0.951021
2     -0.014470  0.379215  0.220145  0.398927 -1.658527
3     -1.750384  0.631567  0.182893 -1.152563  0.692717

In [55]:
hier_df.T.groupby(level="cty").count()

     0  1  2  3
cty
JP   2  2  2  2
US   3  3  3  3

In [56]:
hier_df.T.groupby(level="tenor").count()

       0  1  2  3
tenor
1      2  2  2  2
3      2  2  2  2
5      1  1  1  1

<h3>Data Aggregation</h3>

In [57]:
df

   key1  key2     data1     data2
0     a     1  0.948445 -0.089830
1     a     2 -1.301785  1.450558
2  None     1 -0.332195 -0.047141
3     b     2 -1.197332 -0.299409
4     b     1 -0.464531  1.451060
5     a  <NA>  1.225718 -0.539322
6  None     1  1.659408 -1.098392

In [58]:
grouped = df.groupby("key1")
grouped['data1'].nsmallest(2)

key1
a     1   -1.301785
      0    0.948445
b     3   -1.197332
      4   -0.464531
Name: data1, dtype: float64

In [59]:
# aggregate custom function
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [60]:
grouped.agg(peak_to_peak)

      key2     data1     data2
key1
a        1  2.527502  1.989880
b        1  0.732801  1.750468

In [61]:
grouped.describe()

      key2                                           data1            ...  \
     count mean       std  min   25%  50%   75%  max count      mean  ...
key1                                                                  ...
a      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   3.0  0.290793  ...
b      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   2.0 -0.830932  ...

                         data2                                          \
           75%       max count      mean       std       min       25%
key1
a     1.087081  1.225718   3.0  0.273802  1.043588 -0.539322 -0.314576
b    -0.647732 -0.464531   2.0  0.575825  1.237768 -0.299409  0.138208


           50%       75%       max
key1
a    -0.089830  0.680364  1.450558
b     0.575825  1.013442  1.451060

[2 rows x 24 columns]

<h3>Column-Wise and Multiple Function Application</h3>

In [62]:
tips = pd.read_csv("../Data/tips.csv")

In [63]:
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [64]:
# tip percentage = tip / total_bill
tips["tip_pct"] = tips["tip"] / tips["total_bill"]

In [65]:
tips

     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
..          ...   ...    ...   ...     ...   ...       ...
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

In [66]:
grouped = tips.groupby(["day", "smoker"])

In [67]:
grouped_pct = grouped["tip_pct"]

In [68]:
grouped_pct

In [69]:
grouped_pct.agg("mean")

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [70]:
grouped_pct.agg(["mean", "std", peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [71]:
# Passing column names
grouped_pct.agg([("average", "mean"),
("stdev", "std")])

              average     stdev
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [72]:
# Applying function on a subset of columns
functions = ["count", "mean", "max"]
result = grouped[["tip_pct", "total_bill"]].agg(functions)

In [73]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [74]:
# Accessing a singular column
result['total_bill']

             count       mean    max
day  smoker
Fri  No          4  18.420000  22.75
     Yes        15  16.813333  40.17
Sat  No         45  19.661778  48.33
     Yes        42  21.276667  50.81
Sun  No         57  20.506667  48.17
     Yes        19  24.120000  45.35
Thur No         45  17.113111  41.19
     Yes        17  19.190588  43.11

In [75]:
ftuples = [("Averages", "mean"),
           ("Variance", "var")]

In [76]:
grouped[["tip_pct", "total_bill"]].agg(ftuples)

              tip_pct           total_bill
             Averages  Variance   Averages    Variance
day  smoker
Fri  No      0.151650  0.000791  18.420000   25.596333
     Yes     0.174783  0.002631  16.813333   82.562438
Sat  No      0.158048  0.001581  19.661778   79.908965
     Yes     0.147906  0.003767  21.276667  101.387535
Sun  No      0.160113  0.001793  20.506667   66.099980
     Yes     0.187250  0.023757  24.120000  109.046044
Thur No      0.160298  0.001503  17.113111   59.625081
     Yes     0.163863  0.001551  19.190588   69.808518

In [77]:
# Applying different functions to dofferent columns
grouped.agg({"tip": ["max", "mean"],
             "size": "sum"}
           )

               tip           size
               max      mean  sum
day  smoker
Fri  No       3.50  2.812500    9
     Yes      4.73  2.714000   31
Sat  No       9.00  3.102889  115
     Yes     10.00  2.875476  104
Sun  No       6.00  3.167895  167
     Yes      6.50  3.516842   49
Thur No       6.70  2.673778  112
     Yes      5.00  3.030000   40

In [78]:
grouped.agg({"tip_pct": ["min", "max", "mean", "std"],
             "size": "sum"}
           )

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

<h3>Returning Aggregated Data without Row Indexes</h3>

In [79]:
tips.groupby(["day", "smoker"],
             # as_index=False,
            )[['total_bill']].mean()

             total_bill
day  smoker
Fri  No       18.420000
     Yes      16.813333
Sat  No       19.661778
     Yes      21.276667
Sun  No       20.506667
     Yes      24.120000
Thur No       17.113111
     Yes      19.190588

<h3>Apply: General split-apply-combine</h3>

In [80]:
# function
def top(df, n=5, column="tip_pct"):
    return df.sort_values(column,
                          ascending=False,
                         )[:n]

In [81]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525

In [82]:
tips.groupby(by="smoker").apply(top,
                               include_groups=False,
                               )

            total_bill   tip   day    time  size   tip_pct
smoker
No     232       11.61  3.39   Sat  Dinner     2  0.291990
       149        7.51  2.00  Thur   Lunch     2  0.266312
       51        10.29  2.60   Sun  Dinner     2  0.252672
       185       20.69  5.00   Sun  Dinner     5  0.241663
       88        24.71  5.85  Thur   Lunch     2  0.236746
Yes    172        7.25  5.15   Sun  Dinner     2  0.710345
       178        9.60  4.00   Sun  Dinner     2  0.416667
       67         3.07  1.00   Sat  Dinner     1  0.325733
       183       23.17  6.50   Sun  Dinner     4  0.280535
       109       14.31  4.00   Sat  Dinner     2  0.279525

In [83]:
# using other arguments
tips.groupby(["smoker", "day"]).apply(top,
                                      n=4,
                                      column="total_bill",
                                      include_groups=False,
                                     )

                 total_bill    tip    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25  Dinner     2  0.142857
            91        22.49   3.50  Dinner     2  0.155625
            223       15.98   3.00   Lunch     3  0.187735
            99        12.46   1.50  Dinner     2  0.120385
       Sat  212       48.33   9.00  Dinner     4  0.186220
            59        48.27   6.73  Dinner     4  0.139424
            23        39.42   7.58  Dinner     4  0.192288
            238       35.83   4.67  Dinner     3  0.130338
       Sun  156       48.17   5.00  Dinner     6  0.103799
            112       38.07   4.00  Dinner     3  0.105070
            11        35.26   5.00  Dinner     4  0.141804
            52        34.81   5.20  Dinner     4  0.149382
       Thur 142       41.19   5.00   Lunch     5  0.121389
            85        34.83   5.17   Lunch     4  0.148435
            141       34.30   6.70   Lunch     6  0.195335
            125       29.80   4.20   Lunch     6  0.140940
Yes    Fri  95        40.17   4.73  Dinner     4  0.117750
            90        28.97   3.00  Dinner     2  0.103555
            96        27.28   4.00  Dinner     2  0.146628
            98        21.01   3.00  Dinner     2  0.142789
       Sat  170       50.81  10.00  Dinner     3  0.196812
            102       44.30   2.50  Dinner     3  0.056433
            207       38.73   3.00  Dinner     4  0.077459
            56        38.01   3.00  Dinner     4  0.078927
       Sun  182       45.35   3.50  Dinner     3  0.077178
            184       40.55   3.00  Dinner     2  0.073983
            180       34.65   3.68  Dinner     4  0.106205
            179       34.63   3.55  Dinner     2  0.102512
       Thur 197       43.11   5.00   Lunch     4  0.115982
            83        32.68   5.00   Lunch     2  0.152999
            192       28.44   2.56   Lunch     2  0.090014
            204       20.53   4.00   Lunch     4  0.194837

In [84]:
result = tips.groupby("smoker")["tip_pct"].describe()

In [85]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [86]:
result.unstack("smoker")

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

<h3>Suppressing Group Keys</h3>

In [87]:
tips.groupby("smoker",
             group_keys=False,
            ).apply(top,
                   include_groups=False,
                   )

     total_bill   tip   day    time  size   tip_pct
232       11.61  3.39   Sat  Dinner     2  0.291990
149        7.51  2.00  Thur   Lunch     2  0.266312
51        10.29  2.60   Sun  Dinner     2  0.252672
185       20.69  5.00   Sun  Dinner     5  0.241663
88        24.71  5.85  Thur   Lunch     2  0.236746
172        7.25  5.15   Sun  Dinner     2  0.710345
178        9.60  4.00   Sun  Dinner     2  0.416667
67         3.07  1.00   Sat  Dinner     1  0.325733
183       23.17  6.50   Sun  Dinner     4  0.280535
109       14.31  4.00   Sat  Dinner     2  0.279525

<h3>Quartile and Bucket Analysis</h3>

In [88]:
frame = pd.DataFrame({"data1": np.random.standard_normal(1_000),
                      "data2": np.random.standard_normal(1_000)
                     })
frame.head()

      data1     data2
0  0.757164 -0.942031
1  0.135587 -1.044240
2 -0.960772 -1.117485
3 -1.684844 -0.485377
4  0.454546 -1.484669

In [89]:
quartiles = pd.cut(frame["data1"], 4)

In [90]:
quartiles.head(10)

0      (0.399, 2.221]
1     (-1.422, 0.399]
2     (-1.422, 0.399]
3    (-3.251, -1.422]
4      (0.399, 2.221]
5     (-1.422, 0.399]
6    (-3.251, -1.422]
7     (-1.422, 0.399]
8      (0.399, 2.221]
9      (0.399, 2.221]
Name: data1, dtype: category
Categories (4, interval[float64, right]): [(-3.251, -1.422] < (-1.422, 0.399] < (0.399, 2.221] < (2.221, 4.042]]

In [91]:
# stats function
def get_stats(group):
    return pd.DataFrame(
        {
            "min": group.min(),
            "max": group.max(),
            "count": group.count(),
            "mean": group.mean()
        }
    )

In [92]:
grouped = frame.groupby(quartiles,
                       observed=False,
                       )

In [93]:
grouped.apply(get_stats)

                             min       max  count      mean
data1
(-3.251, -1.422] data1 -3.243975 -1.422553     78 -1.857280
                 data2 -2.472789  2.826777     78  0.075295
(-1.422, 0.399]  data1 -1.420815  0.396736    574 -0.384414
                 data2 -3.021335  3.710693    574 -0.037712
(0.399, 2.221]   data1  0.401115  2.202015    337  0.984397
                 data2 -2.503791  3.064054    337 -0.032920
(2.221, 4.042]   data1  2.270203  4.042209     11  2.687530
                 data2 -1.779821  1.099387     11 -0.488117

In [94]:
# Achieving the same
grouped.agg(["min", "max", "count", "mean"])

                     data1                               data2            \
                       min       max count      mean       min       max
data1
(-3.251, -1.422] -3.243975 -1.422553    78 -1.857280 -2.472789  2.826777
(-1.422, 0.399]  -1.420815  0.396736   574 -0.384414 -3.021335  3.710693
(0.399, 2.221]    0.401115  2.202015   337  0.984397 -2.503791  3.064054
(2.221, 4.042]    2.270203  4.042209    11  2.687530 -1.779821  1.099387


                 count      mean
data1
(-3.251, -1.422]    78  0.075295
(-1.422, 0.399]    574 -0.037712
(0.399, 2.221]     337 -0.032920
(2.221, 4.042]      11 -0.488117

In [95]:
# Using qcut
# Quartile-based discretization function
quartiles_samp = pd.qcut(frame["data1"],
                         4,
                         labels=False,
                        )

In [96]:
quartiles_samp

0      3
1      2
2      0
3      0
4      2
      ..
995    3
996    2
997    1
998    2
999    2
Name: data1, Length: 1000, dtype: int64

In [97]:
grouped = frame.groupby(quartiles_samp)
grouped.apply(get_stats)

                  min       max  count      mean
data1
0     data1 -3.243975 -0.695541    250 -1.270233
      data2 -2.472789  2.826777    250  0.062766
1     data1 -0.695239  0.023884    250 -0.316740
      data2 -3.021335  3.710693    250 -0.111384
2     data1  0.023939  0.653497    250  0.330410
      data2 -2.465464  2.532578    250 -0.101356
3     data1  0.654164  4.042209    250  1.239696
      data2 -2.503791  3.064054    250  0.021025

<h3>Filling in Missing Data with Group Specific Values</h3>

In [98]:
s = pd.Series(np.random.standard_normal(6))

In [99]:
s

0    0.976618
1   -0.487819
2    0.201735
3   -1.500682
4   -0.361720
5   -0.322305
dtype: float64

In [100]:
s[::2] = np.nan

In [101]:
s

0         NaN
1   -0.487819
2         NaN
3   -1.500682
4         NaN
5   -0.322305
dtype: float64

In [102]:
# filling with mean value
s.fillna(s.mean())

0   -0.770269
1   -0.487819
2   -0.770269
3   -1.500682
4   -0.770269
5   -0.322305
dtype: float64

In [103]:
# Filling with specific values for each group
districts = ["Iganga", "Jinja", "Mbale", "Bugiri", "Kabale", "Mbarara", "Rukungiri", "Fort Portal"]
group_key = ["East", "East", "East", "East", "West", "West", "West", "West"]

In [104]:
data = pd.Series(np.random.standard_normal(8), index=districts)

In [105]:
data

Iganga        -0.484312
Jinja          0.104247
Mbale          0.535345
Bugiri        -1.135872
Kabale        -1.925438
Mbarara       -0.726533
Rukungiri      0.426675
Fort Portal    0.240146
dtype: float64

In [106]:
# setting some values to be missing
data[["Jinja", "Kabale", "Mbarara"]] = np.nan

In [107]:
data

Iganga        -0.484312
Jinja               NaN
Mbale          0.535345
Bugiri        -1.135872
Kabale              NaN
Mbarara             NaN
Rukungiri      0.426675
Fort Portal    0.240146
dtype: float64

In [108]:
# size includes Nan values
data.groupby(group_key).size()

East    4
West    4
dtype: int64

In [109]:
# count doesn't include nan values
data.groupby(group_key).count()

East    3
West    2
dtype: int64

In [110]:
# getting group means
data.groupby(group_key).mean()

East   -0.361613
West    0.333410
dtype: float64

In [111]:
# filling nan values with mean
def fill_mean(group):
    return group.fillna(group.mean())

In [112]:
data.groupby(group_key).apply(fill_mean)

East  Iganga        -0.484312
      Jinja         -0.361613
      Mbale          0.535345
      Bugiri        -1.135872
West  Kabale         0.333410
      Mbarara        0.333410
      Rukungiri      0.426675
      Fort Portal    0.240146
dtype: float64

In [113]:
data

Iganga        -0.484312
Jinja               NaN
Mbale          0.535345
Bugiri        -1.135872
Kabale              NaN
Mbarara             NaN
Rukungiri      0.426675
Fort Portal    0.240146
dtype: float64

In [114]:
# filling with specific values for different groups
fill_values = {
    "East": 0.5,
    "West": -1
}

In [115]:
def fill_func(group):
    return group.fillna(fill_values[group.name])

In [116]:
data.groupby(group_key).apply(fill_func)

East  Iganga        -0.484312
      Jinja          0.500000
      Mbale          0.535345
      Bugiri        -1.135872
West  Kabale        -1.000000
      Mbarara       -1.000000
      Rukungiri      0.426675
      Fort Portal    0.240146
dtype: float64

<h3>Example: Random Sampling and Permutations</h3>

In [117]:
suits = ["H", "S", "C", "D"] #hearts, Spades, Clubs, Diamonds
card_val = (list(range(1, 11)) + [10]*3)*4
base_names = ["A"] + list(range(2, 11)) + ["J", "K", "Q"]
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)
deck = pd.Series(card_val,
                 index=cards)

In [118]:
deck

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
AS      1
2S      2
3S      3
4S      4
5S      5
6S      6
7S      7
8S      8
9S      9
10S    10
JS     10
KS     10
QS     10
AC      1
2C      2
3C      3
4C      4
5C      5
6C      6
7C      7
8C      8
9C      9
10C    10
JC     10
KC     10
QC     10
AD      1
2D      2
3D      3
4D      4
5D      5
6D      6
7D      7
8D      8
9D      9
10D    10
JD     10
KD     10
QD     10
dtype: int64

In [119]:
# Drawing samples
def draw(deck, n=5):
    return deck.sample(n)

In [120]:
draw(deck,
    n=4,
    )

5C     5
9S     9
QD    10
JC    10
dtype: int64

In [121]:
# Getting cards from each suit
def get_suit(card):
    return card[-1]

In [122]:
# Group by a function result
deck.groupby(get_suit).apply(draw, 
                             n=2,
                            )

C  3C      3
   10C    10
D  2D      2
   AD      1
H  2H      2
   3H      3
S  4S      4
   2S      2
dtype: int64

In [123]:
deck.groupby(get_suit,
             # group_keys=False,
            ).apply(draw,
                    n=2,
                   )

C  2C      2
   10C    10
D  7D      7
   9D      9
H  AH      1
   3H      3
S  7S      7
   QS     10
dtype: int64

<h3>Group Weighted Average and Correlation</h3>

In [124]:
df = pd.DataFrame({
    "category": ["a", "a", "a", "a",
                 "b", "b", "b", "b"
                ],
    "data": np.random.standard_normal(8),
    "weights": np.random.uniform(size=8)
})

In [125]:
df

  category      data   weights
0        a  0.677277  0.660947
1        a  0.394400  0.032237
2        a -1.765283  0.914539
3        a  0.046596  0.582913
4        b -0.534112  0.686987
5        b -0.249856  0.455742
6        b  0.645995  0.924768
7        b -2.649469  0.492208

In [126]:
# weighted average
grouped = df.groupby("category")
def get_wavg(group):
    return np.average(group["data"],
                      weights=group["weights"]
                     )

In [127]:
grouped.apply(get_wavg,
             include_groups=False,
             )

category
a   -0.514417
b   -0.463917
dtype: float64

In [128]:
# computing weighted average
data = np.arange(1,5)

In [129]:
data

array([1, 2, 3, 4])

In [130]:
np.average(data)

2.5

In [131]:
np.average(np.arange(1,11),
           weights=np.arange(10, 0, -1),
          )

4.0

In [132]:
data = np.arange(6).reshape((3,2))

In [133]:
data

array([[0, 1],
       [2, 3],
       [4, 5]])

In [134]:
np.average(data,
           axis=1,
           weights=[1./4, 3./4,
                    # 2./4
                   ],
           returned=True,
           keepdims=True,
          )

(array([[0.75],
        [2.75],
        [4.75]]),
 array([[1.],
        [1.],
        [1.]]))

In [135]:
# spx
close_px = pd.read_csv("../Data/stock_px.csv",
                       parse_dates=True,
                       index_col=0,
                      )

In [136]:
close_px

              AAPL   MSFT    XOM      SPX
2003-01-02    7.40  21.11  29.22   909.03
2003-01-03    7.45  21.14  29.24   908.59
2003-01-06    7.45  21.52  29.96   929.01
2003-01-07    7.43  21.93  28.95   922.93
2003-01-08    7.28  21.31  28.83   909.93
...            ...    ...    ...      ...
2011-10-10  388.81  26.94  76.28  1194.89
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58

[2214 rows x 4 columns]

In [137]:
close_px.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2214 non-null   float64
 1   MSFT    2214 non-null   float64
 2   XOM     2214 non-null   float64
 3   SPX     2214 non-null   float64
dtypes: float64(4)
memory usage: 86.5 KB

In [138]:
# function for corr
def spx_corr(group):
    return group.corrwith(group['SPX'])

In [139]:
rets = close_px.pct_change().dropna()

In [140]:
rets

                AAPL      MSFT       XOM       SPX
2003-01-03  0.006757  0.001421  0.000684 -0.000484
2003-01-06  0.000000  0.017975  0.024624  0.022474
2003-01-07 -0.002685  0.019052 -0.033712 -0.006545
2003-01-08 -0.020188 -0.028272 -0.004145 -0.014086
2003-01-09  0.008242  0.029094  0.021159  0.019386
...              ...       ...       ...       ...
2011-10-10  0.051406  0.026286  0.036977  0.034125
2011-10-11  0.029526  0.002227 -0.000131  0.000544
2011-10-12  0.004747 -0.001481  0.011669  0.009795
2011-10-13  0.015515  0.008160 -0.010238 -0.002974
2011-10-14  0.033225  0.003311  0.022784  0.017380

[2213 rows x 4 columns]

In [141]:
def get_year(x):
    return x.year

In [142]:
by_year = rets.groupby(get_year)

In [143]:
by_year.apply(spx_corr)

          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0

In [144]:
# column corr
def corr_aapl_msft(group):
    return group["AAPL"].corr(group["MSFT"])

In [145]:
by_year.apply(corr_aapl_msft)

2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

<h3>Group-Wise Linear Regression</h3>

In [146]:
def regress(data, yvar=None, xvars=None):
    Y = data[yvar]
    X = data[xvars]
    X["intercept"] = 1
    result = sm.OLS(Y, X).fit()
    return result.params

In [147]:
by_year.apply(regress, yvar="AAPL",
              xvars=["SPX"]
             )

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514

In [148]:
# duncan_prestige = sm.datasets.get_rdataset("Duncan", "carData")

In [149]:
# duncan_prestige.data

<h3>Group Transforms and "Unwrapped" GroupBys</h3>

In [178]:
df = pd.DataFrame(
    {"key":['a', 'b', 'c']*4,
     "value": np.arange(12.)
    })

In [179]:
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [180]:
g = df.groupby("key")['value']

In [181]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [182]:
# Producing a series with the same shape as df['value']
def get_mean(group):
    return group.mean()

In [183]:
g.transform(get_mean)

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [184]:
# transform with a function
def times_half(group):
    return group*0.5

In [185]:
g.transform(times_half)

0     0.0
1     0.5
2     1.0
3     1.5
4     2.0
5     2.5
6     3.0
7     3.5
8     4.0
9     4.5
10    5.0
11    5.5
Name: value, dtype: float64

In [186]:
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [187]:
# ranking with trandform
def get_ranks(group):
    return group.rank(ascending=False)

In [188]:
g.transform(get_ranks)

0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [189]:
g.apply(get_ranks)

key
a    0     4.0
     3     3.0
     6     2.0
     9     1.0
b    1     4.0
     4     3.0
     7     2.0
     10    1.0
c    2     4.0
     5     3.0
     8     2.0
     11    1.0
Name: value, dtype: float64

In [191]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [192]:
# Normalize
def normalize(x):
    return (x-x.mean())/x.std()

In [193]:
%timeit g.transform(normalize)

1.23 ms  54.2 s per loop (mean  std. dev. of 7 runs, 1,000 loops each)

In [194]:
# inbuilt aggregation functions are faster than the general apply functions
%timeit (df['value']-g.transform('mean'))/g.transform('std')

366 s  4.46 s per loop (mean  std. dev. of 7 runs, 1,000 loops each)

In [195]:
# More examples
df = pd.DataFrame({"A": range(3),
                   "B": range(1,4)
                  })

In [196]:
df

   A  B
0  0  1
1  1  2
2  2  3

In [197]:
# transform returns a dataframe of the same shape along the chosen axis.
df.transform(lambda x: np.sqrt(x))

          A         B
0  0.000000  1.000000
1  1.000000  1.414214
2  1.414214  1.732051

In [198]:
s = pd.Series(np.random.standard_normal(12))

In [199]:
s

0    -0.595186
1     0.440403
2     0.128550
3     0.285105
4    -0.074269
5     0.200063
6    -1.736111
7    -1.579084
8     0.177341
9    -0.537618
10   -0.828196
11    1.250481
dtype: float64

In [200]:
s.transform([np.sqrt, np.exp])

        sqrt       exp
0        NaN  0.551460
1   0.663628  1.553333
2   0.358538  1.137178
3   0.533952  1.329901
4        NaN  0.928422
5   0.447285  1.221480
6        NaN  0.176204
7        NaN  0.206164
8   0.421118  1.194038
9        NaN  0.584138
10       NaN  0.436837
11  1.118249  3.492023

In [201]:
# Here, apply and transform return the same results
s.apply([np.sqrt, np.exp])

        sqrt       exp
0        NaN  0.551460
1   0.663628  1.553333
2   0.358538  1.137178
3   0.533952  1.329901
4        NaN  0.928422
5   0.447285  1.221480
6        NaN  0.176204
7        NaN  0.206164
8   0.421118  1.194038
9        NaN  0.584138
10       NaN  0.436837
11  1.118249  3.492023