In [1]:
import pandas as pd
import numpy as np

<h3>Date and Time Data Types and Tools</h3>

In [2]:
from datetime import datetime
from datetime import timedelta

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2024, 5, 27, 17, 32, 35, 894611)

In [5]:
now.year, now.month, now.day, now.hour, now.minute

(2024, 5, 27, 17, 32)

In [6]:
now.year

2024

In [7]:
# delta
delta = datetime(2024, 5, 21) - datetime(2016, 8, 26, 8, 54)
delta

datetime.timedelta(days=2824, seconds=54360)

In [8]:
# numerical evaluations
start = datetime(2024, 1, 1)
start + timedelta(3000)

datetime.datetime(2032, 3, 19, 0, 0)

<h4>Converting between String and Datetime</h4>

In [9]:
stamp = datetime(2024, 5, 22)

In [10]:
str(stamp)

'2024-05-22 00:00:00'

In [11]:
# Conversion to a specified string format
stamp.strftime("%Y-%B-%d-%u-%A-%p")

'2024-May-22-3-Wednesday-AM'

In [12]:
value = "2024-12-03"

In [13]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2024, 12, 3, 0, 0)

In [14]:
# converting a list of string dates to datetime format
datestrs = ["7/6/2025", "8/6/2025"]
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2025, 7, 6, 0, 0), datetime.datetime(2025, 8, 6, 0, 0)]

In [15]:
# pandas to_datetime
datestrs = ["2011-07-06 12:00:00", "2025-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2025-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [16]:
# dataframe to datetime
df = pd.DataFrame(
    {"year": [2025, 2024, 2023],
     "month": [2, 4, 8],
     "day": [5, 4, 5]
    })

In [17]:
df

   year  month  day
0  2025      2    5
1  2024      4    4
2  2023      8    5

In [18]:
pd.to_datetime(df)

0   2025-02-05
1   2024-04-04
2   2023-08-05
dtype: datetime64[ns]

In [19]:
datestr = ["2025-07-06 12:00:00",
           "2034-08-04 13:45:34"]

In [20]:
# Missing values, Not a Time values are also accepted
idx = pd.to_datetime(datestrs + [None])

In [21]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2025-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
# indexing idx
idx[2]

NaT

In [23]:
pd.isna(idx)

array([False, False,  True])

<h4>Time Series Basics</h4>

In [24]:
# time series
dates = [datetime(2024, 6, 2),
        datetime(2025, 10, 21),
        datetime(2024, 4, 12),
        datetime(2023, 10, 5),
        datetime(2016, 11, 3),
        datetime(2017, 3, 15),
        datetime(2019, 6, 3),
        datetime(2020, 5, 8),
       ]

In [25]:
ts =pd.Series(np.random.standard_normal(8),
              index=dates,
             )

In [26]:
ts

2024-06-02    0.450528
2025-10-21    0.359891
2024-04-12    1.193709
2023-10-05    0.490781
2016-11-03    0.250793
2017-03-15    0.873909
2019-06-03   -0.691032
2020-05-08   -1.849546
dtype: float64

In [27]:
ts + ts[::3]

2016-11-03         NaN
2017-03-15         NaN
2019-06-03   -1.382064
2020-05-08         NaN
2023-10-05    0.981562
2024-04-12         NaN
2024-06-02    0.901057
2025-10-21         NaN
dtype: float64

In [28]:
ts[::3]

2024-06-02    0.450528
2023-10-05    0.490781
2019-06-03   -0.691032
dtype: float64

<h4>indexing, Selecting and Subsetting</h4>

In [29]:
# same as indexing a series
stamp = ts.index[2]

In [30]:
stamp

Timestamp('2024-04-12 00:00:00')

In [31]:
ts.iat[0]

0.4505282964335032

In [32]:
# indexing by year
longer_ts = pd.Series(np.random.standard_normal(2000),
                      index=pd.date_range("2024-05-22",
                                          periods=2000))

In [33]:
longer_ts["2024"]

2024-05-22   -0.753419
2024-05-23    0.776092
2024-05-24   -0.383127
2024-05-25   -0.260700
2024-05-26   -1.366571
                ...
2024-12-27   -1.145450
2024-12-28   -0.038751
2024-12-29   -0.164154
2024-12-30    0.029697
2024-12-31   -1.799255
Freq: D, Length: 224, dtype: float64

In [34]:
# selecting by year-month
longer_ts["2024-06"]

2024-06-01    2.382009
2024-06-02   -0.487731
2024-06-03   -1.909007
2024-06-04   -0.277586
2024-06-05   -1.365260
2024-06-06   -1.456114
2024-06-07   -0.004897
2024-06-08   -0.838732
2024-06-09   -0.451148
2024-06-10   -0.566145
2024-06-11    0.018208
2024-06-12    0.283633
2024-06-13   -1.272135
2024-06-14   -1.450102
2024-06-15    0.396611
2024-06-16   -1.711663
2024-06-17   -0.046787
2024-06-18    1.054742
2024-06-19   -1.001719
2024-06-20   -1.204891
2024-06-21   -0.087550
2024-06-22   -1.568551
2024-06-23   -1.216916
2024-06-24   -0.070893
2024-06-25   -0.243814
2024-06-26   -0.006406
2024-06-27   -0.306942
2024-06-28   -1.220248
2024-06-29   -1.218247
2024-06-30   -0.144441
Freq: D, dtype: float64

In [35]:
# Slicing by datetime
longer_ts[datetime(2024,5,22):
datetime(2024,8,1)
]

2024-05-22   -0.753419
2024-05-23    0.776092
2024-05-24   -0.383127
2024-05-25   -0.260700
2024-05-26   -1.366571
                ...
2024-07-28   -0.074740
2024-07-29   -0.860009
2024-07-30   -0.125028
2024-07-31   -1.238754
2024-08-01    0.203017
Freq: D, Length: 72, dtype: float64

In [36]:
# Slicing with a timestamp not contained in the ts
longer_ts[datetime(2016, 8, 26):
datetime(2024, 8, 26)
]

2024-05-22   -0.753419
2024-05-23    0.776092
2024-05-24   -0.383127
2024-05-25   -0.260700
2024-05-26   -1.366571
                ...
2024-08-22   -0.896615
2024-08-23   -0.491388
2024-08-24   -1.850316
2024-08-25   -2.147933
2024-08-26    0.094357
Freq: D, Length: 97, dtype: float64

In [37]:
longer_ts

2024-05-22   -0.753419
2024-05-23    0.776092
2024-05-24   -0.383127
2024-05-25   -0.260700
2024-05-26   -1.366571
                ...
2029-11-07    1.161627
2029-11-08   -1.333966
2029-11-09   -1.191551
2029-11-10    0.228826
2029-11-11    1.188115
Freq: D, Length: 2000, dtype: float64

In [38]:
# truncating after a specific date
longer_ts.truncate(after="2025-05-22")

2024-05-22   -0.753419
2024-05-23    0.776092
2024-05-24   -0.383127
2024-05-25   -0.260700
2024-05-26   -1.366571
                ...
2025-05-18    1.917179
2025-05-19   -0.423513
2025-05-20    2.020339
2025-05-21   -0.143510
2025-05-22   -1.230635
Freq: D, Length: 366, dtype: float64

In [39]:
dates = pd.date_range("2024-01-01",
                      periods=100,
                      freq="W-WED"
                     )

In [40]:
long_df = pd.DataFrame(np.random.standard_normal((100,4)),
                       index=dates,
                       columns=["Iganga", "Jinja", "Kampala", "Busia"])

In [41]:
long_df.loc["2024"]

              Iganga     Jinja   Kampala     Busia
2024-01-03 -1.157808 -1.344954 -0.661260  0.834984
2024-01-10  0.897395 -0.883187  0.826258 -1.489637
2024-01-17 -1.388741 -0.324957 -0.291536  0.755411
2024-01-24 -1.492639  0.786782 -2.536496  0.449052
2024-01-31 -1.522917 -0.661596 -0.588867  0.706394
2024-02-07 -0.361825 -0.870297 -1.264667 -0.692081
2024-02-14  0.209115  1.050023  0.905605  0.047084
2024-02-21  0.024690 -0.624714  0.810970  0.141676
2024-02-28  0.191376 -0.670568 -0.538142  0.579139
2024-03-06  1.524450 -1.219024 -0.705989  1.639100
2024-03-13  1.137526  0.899165  0.647933  1.161931
2024-03-20  1.238313 -1.698348 -1.166409 -0.034870
2024-03-27  0.161569 -0.773222 -0.655539  0.227583
2024-04-03  0.197894  0.006398  1.428537  1.031115
2024-04-10  0.286020 -1.029897  0.428064  1.311743
2024-04-17 -0.011140  1.178600 -0.302996  1.176698
2024-04-24  0.850388 -0.757745  1.088772 -0.431255
2024-05-01  1.077506  1.072561 -0.903137 -0.839289
2024-05-08  0.929877 -0.897833  0.808527  0.688851
2024-05-15 -0.612602  1.948182 -1.614807  0.424272
2024-05-22  1.536801 -0.225296 -1.799674 -0.996756
2024-05-29 -0.826314 -0.748410 -0.043597 -2.177076
2024-06-05 -0.630683 -0.394586  0.111638  0.315408
2024-06-12  1.269259 -0.344165 -0.045967 -0.621199
2024-06-19  0.650694  0.634722 -0.021045  0.010136
2024-06-26 -1.087261  0.172335 -0.853071 -0.552865
2024-07-03 -1.298818  0.867480 -0.895282 -0.137606
2024-07-10 -1.565904  0.323533 -0.010012 -1.250180
2024-07-17  1.411566 -0.916169  0.471333 -0.140930
2024-07-24  0.004998 -2.278010 -1.215486 -0.195217
2024-07-31  0.587815  0.087921  0.235015 -0.185062
2024-08-07  0.463706  0.831331 -0.107123 -1.487962
2024-08-14  1.333021  0.339313 -0.053469  1.011149
2024-08-21 -1.037094 -2.418644  0.747970  0.202082
2024-08-28 -0.110454 -0.669954 -0.971936  0.028251
2024-09-04  0.524930 -0.843672  1.246725  1.594257
2024-09-11 -0.744638 -1.629208 -1.172800  0.187677
2024-09-18 -0.617740  0.550683  0.268275  1.020861
2024-09-25  0.306679  1.437831 -0.338047  1.223768
2024-10-02 -0.477968  0.358008  1.059973 -1.412731
2024-10-09 -1.015074 -1.374739  0.203019  0.200189
2024-10-16  0.194727 -0.163980 -0.157672  0.779778
2024-10-23 -0.220335 -1.084702 -1.008443 -0.565312
2024-10-30 -0.789515  0.797027 -0.040445  1.118814
2024-11-06 -0.884905 -0.612397 -1.567548  0.596869
2024-11-13  0.875217  0.116696 -0.197096 -1.634690
2024-11-20 -0.986261  0.671079  2.720097 -0.227553
2024-11-27  1.534192  0.465496  0.390614 -1.468716
2024-12-04 -0.784895 -1.300974  0.521111  2.543228
2024-12-11  0.446839 -0.129116  0.064144  1.667340
2024-12-18  0.363326 -0.541551 -0.314683 -0.746546
2024-12-25  0.395284 -0.817265 -0.481326 -0.249357

<h4>Time Series with Duplicates</h4>

In [42]:
dates = pd.DatetimeIndex(["2000-01-01",
                          "2000-01-02",
                          "2000-01-02",
                          "2000-01-02",
                          "2000-01-03"])

In [43]:
dup_ts = pd.Series(np.arange(5),
                   index=dates)

In [44]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [45]:
dup_ts["2000-01-03"]

4

In [46]:
dup_ts["2000-01-02"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [47]:
# Aggregating
grouped = dup_ts.groupby(level=0)

In [48]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [49]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

<h4>Date Ranges, Frequencies and Shifting</h4>

In [50]:
ts

2024-06-02    0.450528
2025-10-21    0.359891
2024-04-12    1.193709
2023-10-05    0.490781
2016-11-03    0.250793
2017-03-15    0.873909
2019-06-03   -0.691032
2020-05-08   -1.849546
dtype: float64

In [51]:
resampler = ts.resample("D")

In [52]:
resampler

<h4>Generating Date Ranges</h4>

In [53]:
index = pd.date_range("2024-05-01",
                      "2024-12-31")

In [54]:
index

DatetimeIndex(['2024-05-01', '2024-05-02', '2024-05-03', '2024-05-04',
               '2024-05-05', '2024-05-06', '2024-05-07', '2024-05-08',
               '2024-05-09', '2024-05-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=245, freq='D')

In [55]:
# using start date, end date
pd.date_range(start="2024-05-25", periods=10)

DatetimeIndex(['2024-05-25', '2024-05-26', '2024-05-27', '2024-05-28',
               '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-01',
               '2024-06-02', '2024-06-03'],
              dtype='datetime64[ns]', freq='D')

In [56]:
# using end
pd.date_range(end="2024-12-31",
              periods=200,
             tz='Africa/Kampala',
             freq="MS",
              inclusive="both",
             )

DatetimeIndex(['2008-05-01 00:00:00+03:00', '2008-06-01 00:00:00+03:00',
               '2008-07-01 00:00:00+03:00', '2008-08-01 00:00:00+03:00',
               '2008-09-01 00:00:00+03:00', '2008-10-01 00:00:00+03:00',
               '2008-11-01 00:00:00+03:00', '2008-12-01 00:00:00+03:00',
               '2009-01-01 00:00:00+03:00', '2009-02-01 00:00:00+03:00',
               ...
               '2024-03-01 00:00:00+03:00', '2024-04-01 00:00:00+03:00',
               '2024-05-01 00:00:00+03:00', '2024-06-01 00:00:00+03:00',
               '2024-07-01 00:00:00+03:00', '2024-08-01 00:00:00+03:00',
               '2024-09-01 00:00:00+03:00', '2024-10-01 00:00:00+03:00',
               '2024-11-01 00:00:00+03:00', '2024-12-01 00:00:00+03:00'],
              dtype='datetime64[ns, Africa/Kampala]', length=200, freq='MS')

In [57]:
import pytz

In [58]:
# time zone samples
pytz.all_timezones[:50]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome']

In [59]:
# using localize
pd.date_range(
    start=pd.to_datetime("1/1/2024", dayfirst=True).tz_localize("Africa/Kampala"),
    end=pd.to_datetime("31/12/2025", dayfirst=True).tz_localize("Africa/Kampala"),
    )

DatetimeIndex(['2024-01-01 00:00:00+03:00', '2024-01-02 00:00:00+03:00',
               '2024-01-03 00:00:00+03:00', '2024-01-04 00:00:00+03:00',
               '2024-01-05 00:00:00+03:00', '2024-01-06 00:00:00+03:00',
               '2024-01-07 00:00:00+03:00', '2024-01-08 00:00:00+03:00',
               '2024-01-09 00:00:00+03:00', '2024-01-10 00:00:00+03:00',
               ...
               '2025-12-22 00:00:00+03:00', '2025-12-23 00:00:00+03:00',
               '2025-12-24 00:00:00+03:00', '2025-12-25 00:00:00+03:00',
               '2025-12-26 00:00:00+03:00', '2025-12-27 00:00:00+03:00',
               '2025-12-28 00:00:00+03:00', '2025-12-29 00:00:00+03:00',
               '2025-12-30 00:00:00+03:00', '2025-12-31 00:00:00+03:00'],
              dtype='datetime64[ns, Africa/Kampala]', length=731, freq='D')

In [60]:
pd.date_range(start="1/1/2024",
              periods=5,
              freq="3ME"
             )

DatetimeIndex(['2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31'],
              dtype='datetime64[ns]', freq='3ME')

In [61]:
# specifing unit
pd.date_range(start="2017-01-01",
              periods=10,
              freq="100YS",
              unit='s'
             )

DatetimeIndex(['2017-01-01', '2117-01-01', '2217-01-01', '2317-01-01',
               '2417-01-01', '2517-01-01', '2617-01-01', '2717-01-01',
               '2817-01-01', '2917-01-01'],
              dtype='datetime64[s]', freq='100YS-JAN')

In [62]:
# Normalizing datetime
pd.date_range("2024-05-02 12:54:21",
              periods=5,
              normalize=True
             )

DatetimeIndex(['2024-05-02', '2024-05-03', '2024-05-04', '2024-05-05',
               '2024-05-06'],
              dtype='datetime64[ns]', freq='D')

<h4>Frequencies and Date Offsets</h4>

In [63]:
pd.date_range("2025-02-01",
              "2025-05-02 23:03:02",
              freq="4h"
             )

DatetimeIndex(['2025-02-01 00:00:00', '2025-02-01 04:00:00',
               '2025-02-01 08:00:00', '2025-02-01 12:00:00',
               '2025-02-01 16:00:00', '2025-02-01 20:00:00',
               '2025-02-02 00:00:00', '2025-02-02 04:00:00',
               '2025-02-02 08:00:00', '2025-02-02 12:00:00',
               ...
               '2025-05-01 08:00:00', '2025-05-01 12:00:00',
               '2025-05-01 16:00:00', '2025-05-01 20:00:00',
               '2025-05-02 00:00:00', '2025-05-02 04:00:00',
               '2025-05-02 08:00:00', '2025-05-02 12:00:00',
               '2025-05-02 16:00:00', '2025-05-02 20:00:00'],
              dtype='datetime64[ns]', length=546, freq='4h')

In [64]:
pd.date_range(
    "2000-01-01",
    periods=10,
    freq="1h30min3s",
)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:03',
               '2000-01-01 03:00:06', '2000-01-01 04:30:09',
               '2000-01-01 06:00:12', '2000-01-01 07:30:15',
               '2000-01-01 09:00:18', '2000-01-01 10:30:21',
               '2000-01-01 12:00:24', '2000-01-01 13:30:27'],
              dtype='datetime64[ns]', freq='5403s')

<h5>Week of month</h5>

In [65]:
monthly_meetups = pd.date_range(
    "2024-06-01",
    "2024-12-31",
    freq="WOM-3SAT"
)

In [66]:
monthly_meetups

DatetimeIndex(['2024-06-15', '2024-07-20', '2024-08-17', '2024-09-21',
               '2024-10-19', '2024-11-16', '2024-12-21'],
              dtype='datetime64[ns]', freq='WOM-3SAT')

<h4>Shifting (Leading and Lagging) Data</h4>

In [67]:
ts = pd.Series(
    np.random.standard_normal(10),
    index=pd.date_range(start="2030-01-01",
                        periods=10,
                        freq="ME",
                       )
)

In [68]:
(-1.491246--1.609596)/(-1.609596)

-0.07352776721612128

In [69]:
ts

2030-01-31   -0.299606
2030-02-28    0.371762
2030-03-31    0.749979
2030-04-30   -0.571573
2030-05-31   -0.017023
2030-06-30   -0.733255
2030-07-31   -2.114687
2030-08-31    0.674341
2030-09-30   -0.805257
2030-10-31    0.600851
Freq: ME, dtype: float64

In [70]:
ts.shift(2)

2030-01-31         NaN
2030-02-28         NaN
2030-03-31   -0.299606
2030-04-30    0.371762
2030-05-31    0.749979
2030-06-30   -0.571573
2030-07-31   -0.017023
2030-08-31   -0.733255
2030-09-30   -2.114687
2030-10-31    0.674341
Freq: ME, dtype: float64

In [71]:
ts.shift(-2)

2030-01-31    0.749979
2030-02-28   -0.571573
2030-03-31   -0.017023
2030-04-30   -0.733255
2030-05-31   -2.114687
2030-06-30    0.674341
2030-07-31   -0.805257
2030-08-31    0.600851
2030-09-30         NaN
2030-10-31         NaN
Freq: ME, dtype: float64

In [72]:
# Percentage change
(ts-ts.shift(1))/ts

2030-01-31          NaN
2030-02-28     1.805910
2030-03-31     0.504303
2030-04-30     2.312132
2030-05-31   -32.576301
2030-06-30     0.976784
2030-07-31     0.653256
2030-08-31     4.135931
2030-09-30     1.837423
2030-10-31     2.340193
Freq: ME, dtype: float64

In [73]:
# Shifting index two
ts.shift(2,
         freq="ME",
        )

2030-03-31   -0.299606
2030-04-30    0.371762
2030-05-31    0.749979
2030-06-30   -0.571573
2030-07-31   -0.017023
2030-08-31   -0.733255
2030-09-30   -2.114687
2030-10-31    0.674341
2030-11-30   -0.805257
2030-12-31    0.600851
Freq: ME, dtype: float64

In [74]:
ts.shift(
    3,
    freq="ME",
)

2030-04-30   -0.299606
2030-05-31    0.371762
2030-06-30    0.749979
2030-07-31   -0.571573
2030-08-31   -0.017023
2030-09-30   -0.733255
2030-10-31   -2.114687
2030-11-30    0.674341
2030-12-31   -0.805257
2031-01-31    0.600851
Freq: ME, dtype: float64

In [75]:
ts.shift(
    3,
    freq="D",
)

2030-02-03   -0.299606
2030-03-03    0.371762
2030-04-03    0.749979
2030-05-03   -0.571573
2030-06-03   -0.017023
2030-07-03   -0.733255
2030-08-03   -2.114687
2030-09-03    0.674341
2030-10-03   -0.805257
2030-11-03    0.600851
dtype: float64

In [76]:
ts.shift(
    1,
    freq="90min",
)

2030-01-31 01:30:00   -0.299606
2030-02-28 01:30:00    0.371762
2030-03-31 01:30:00    0.749979
2030-04-30 01:30:00   -0.571573
2030-05-31 01:30:00   -0.017023
2030-06-30 01:30:00   -0.733255
2030-07-31 01:30:00   -2.114687
2030-08-31 01:30:00    0.674341
2030-09-30 01:30:00   -0.805257
2030-10-31 01:30:00    0.600851
dtype: float64

In [111]:
from pandas.tseries.offsets import Day, MonthEnd, Hour

In [78]:
# Using rollback and rollforward
now = datetime(2024,5,26)

In [79]:
now

datetime.datetime(2024, 5, 26, 0, 0)

In [80]:
# Shifting to the end of month
now + MonthEnd()

Timestamp('2024-05-31 00:00:00')

In [81]:
now + MonthEnd(3)

Timestamp('2024-07-31 00:00:00')

In [82]:
offset = MonthEnd()

In [83]:
offset.rollback(now)

Timestamp('2024-04-30 00:00:00')

In [84]:
offset.rollforward(now)

Timestamp('2024-05-31 00:00:00')

In [85]:
now

datetime.datetime(2024, 5, 26, 0, 0)

In [86]:
# using offset creatively

In [87]:
ts.groupby(MonthEnd().rollforward).mean()

2030-01-31   -0.299606
2030-02-28    0.371762
2030-03-31    0.749979
2030-04-30   -0.571573
2030-05-31   -0.017023
2030-06-30   -0.733255
2030-07-31   -2.114687
2030-08-31    0.674341
2030-09-30   -0.805257
2030-10-31    0.600851
dtype: float64

In [88]:
# Using resample
ts.resample("ME").mean()

2030-01-31   -0.299606
2030-02-28    0.371762
2030-03-31    0.749979
2030-04-30   -0.571573
2030-05-31   -0.017023
2030-06-30   -0.733255
2030-07-31   -2.114687
2030-08-31    0.674341
2030-09-30   -0.805257
2030-10-31    0.600851
Freq: ME, dtype: float64

<h4>Time Zone Localization and Conversion</h4>

In [89]:
pytz.common_timezones[:5]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara']

In [90]:
# Timezone objects
ugandaTime = pytz.timezone("Africa/Kampala")

In [91]:
ugandaTime

In [92]:
dates = pd.date_range(
    "2024-05-26 19:23",
    periods=10,
    tz="Africa/Kampala",
)

In [93]:
dates

DatetimeIndex(['2024-05-26 19:23:00+03:00', '2024-05-27 19:23:00+03:00',
               '2024-05-28 19:23:00+03:00', '2024-05-29 19:23:00+03:00',
               '2024-05-30 19:23:00+03:00', '2024-05-31 19:23:00+03:00',
               '2024-06-01 19:23:00+03:00', '2024-06-02 19:23:00+03:00',
               '2024-06-03 19:23:00+03:00', '2024-06-04 19:23:00+03:00'],
              dtype='datetime64[ns, Africa/Kampala]', freq='D')

In [94]:
# time series are time zone naive 
ts = pd.Series(
    np.random.standard_normal(len(dates)),
    index=dates,
)

In [95]:
ts

2024-05-26 19:23:00+03:00   -0.464259
2024-05-27 19:23:00+03:00    0.020038
2024-05-28 19:23:00+03:00   -0.450068
2024-05-29 19:23:00+03:00    0.648730
2024-05-30 19:23:00+03:00   -0.614174
2024-05-31 19:23:00+03:00    0.209043
2024-06-01 19:23:00+03:00    0.208970
2024-06-02 19:23:00+03:00   -0.041804
2024-06-03 19:23:00+03:00   -0.771145
2024-06-04 19:23:00+03:00    0.491530
Freq: D, dtype: float64

In [96]:
# printing time zone
print(ts.index.tz)

Africa/Kampala

In [97]:
# Generating datetime ranges with a tz attribute
dates = pd.date_range(
    "2024-05-26 19:23",
    periods=10,
    tz="Africa/Kampala",
)
dates

DatetimeIndex(['2024-05-26 19:23:00+03:00', '2024-05-27 19:23:00+03:00',
               '2024-05-28 19:23:00+03:00', '2024-05-29 19:23:00+03:00',
               '2024-05-30 19:23:00+03:00', '2024-05-31 19:23:00+03:00',
               '2024-06-01 19:23:00+03:00', '2024-06-02 19:23:00+03:00',
               '2024-06-03 19:23:00+03:00', '2024-06-04 19:23:00+03:00'],
              dtype='datetime64[ns, Africa/Kampala]', freq='D')

In [98]:
# conversion
ts_utc = ts.tz_convert("utc")
ts_utc

2024-05-26 16:23:00+00:00   -0.464259
2024-05-27 16:23:00+00:00    0.020038
2024-05-28 16:23:00+00:00   -0.450068
2024-05-29 16:23:00+00:00    0.648730
2024-05-30 16:23:00+00:00   -0.614174
2024-05-31 16:23:00+00:00    0.209043
2024-06-01 16:23:00+00:00    0.208970
2024-06-02 16:23:00+00:00   -0.041804
2024-06-03 16:23:00+00:00   -0.771145
2024-06-04 16:23:00+00:00    0.491530
Freq: D, dtype: float64

In [99]:
ts_nairobi = ts_utc.tz_convert("Africa/Nairobi")
ts_nairobi

2024-05-26 19:23:00+03:00   -0.464259
2024-05-27 19:23:00+03:00    0.020038
2024-05-28 19:23:00+03:00   -0.450068
2024-05-29 19:23:00+03:00    0.648730
2024-05-30 19:23:00+03:00   -0.614174
2024-05-31 19:23:00+03:00    0.209043
2024-06-01 19:23:00+03:00    0.208970
2024-06-02 19:23:00+03:00   -0.041804
2024-06-03 19:23:00+03:00   -0.771145
2024-06-04 19:23:00+03:00    0.491530
Freq: D, dtype: float64

In [100]:
ts_cairo = ts_nairobi.tz_convert("Africa/Cairo")
ts_cairo

2024-05-26 19:23:00+03:00   -0.464259
2024-05-27 19:23:00+03:00    0.020038
2024-05-28 19:23:00+03:00   -0.450068
2024-05-29 19:23:00+03:00    0.648730
2024-05-30 19:23:00+03:00   -0.614174
2024-05-31 19:23:00+03:00    0.209043
2024-06-01 19:23:00+03:00    0.208970
2024-06-02 19:23:00+03:00   -0.041804
2024-06-03 19:23:00+03:00   -0.771145
2024-06-04 19:23:00+03:00    0.491530
Freq: D, dtype: float64

In [101]:
ts_cairo.tz_convert("Africa/Kampala")

2024-05-26 19:23:00+03:00   -0.464259
2024-05-27 19:23:00+03:00    0.020038
2024-05-28 19:23:00+03:00   -0.450068
2024-05-29 19:23:00+03:00    0.648730
2024-05-30 19:23:00+03:00   -0.614174
2024-05-31 19:23:00+03:00    0.209043
2024-06-01 19:23:00+03:00    0.208970
2024-06-02 19:23:00+03:00   -0.041804
2024-06-03 19:23:00+03:00   -0.771145
2024-06-04 19:23:00+03:00    0.491530
Freq: D, dtype: float64

<h4>Operations with Time Zone-Aware Timestamp Objects</h4>

In [102]:
stamp = pd.Timestamp("2024-05-27 17:32:04")
stamp

Timestamp('2024-05-27 17:32:04')

In [103]:
stamp_utc = stamp.tz_localize("utc")
stamp_utc

Timestamp('2024-05-27 17:32:04+0000', tz='UTC')

In [104]:
# using tz in definition
stamp_kampala = pd.Timestamp(
    "2024-05-27 17:48:49",
    tz="Africa/Kampala",
)
stamp_kampala

Timestamp('2024-05-27 17:48:49+0300', tz='Africa/Kampala')

In [108]:
# timestamps store utc value since the Unix epoch
stamp_kampala.value

1716821329000000000

In [107]:
stamp_utc.value

1716831124000000000

In [115]:
# Daylight Saving Transition
stamp = pd.Timestamp(
    "2012-03-11 01:30",
    tz="US/Eastern",
)
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [116]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')