In [1]:
import pandas as pd
import numpy as np

<h3>Date and Time Data Types and Tools</h3>

In [2]:
from datetime import datetime
from datetime import timedelta

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2024, 5, 24, 20, 57, 23, 800372)

In [5]:
now.year, now.month, now.day, now.hour, now.minute

(2024, 5, 24, 20, 57)

In [6]:
now.year

2024

In [7]:
# delta
delta = datetime(2024, 5, 21) - datetime(2016, 8, 26, 8, 54)
delta

datetime.timedelta(days=2824, seconds=54360)

In [8]:
# numerical evaluations
start = datetime(2024, 1, 1)
start + timedelta(3000)

datetime.datetime(2032, 3, 19, 0, 0)

<h4>Converting between String and Datetime</h4>

In [9]:
stamp = datetime(2024, 5, 22)

In [10]:
str(stamp)

'2024-05-22 00:00:00'

In [11]:
# Conversion to a specified string format
stamp.strftime("%Y-%B-%d-%u-%A-%p")

'2024-May-22-3-Wednesday-AM'

In [12]:
value = "2024-12-03"

In [13]:
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2024, 12, 3, 0, 0)

In [14]:
# converting a list of string dates to datetime format
datestrs = ["7/6/2025", "8/6/2025"]
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2025, 7, 6, 0, 0), datetime.datetime(2025, 8, 6, 0, 0)]

In [15]:
# pandas to_datetime
datestrs = ["2011-07-06 12:00:00", "2025-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2025-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [16]:
# dataframe to datetime
df = pd.DataFrame(
    {"year": [2025, 2024, 2023],
     "month": [2, 4, 8],
     "day": [5, 4, 5]
    })

In [17]:
df

   year  month  day
0  2025      2    5
1  2024      4    4
2  2023      8    5

In [18]:
pd.to_datetime(df)

0   2025-02-05
1   2024-04-04
2   2023-08-05
dtype: datetime64[ns]

In [19]:
datestr = ["2025-07-06 12:00:00",
           "2034-08-04 13:45:34"]

In [20]:
# Missing values, Not a Time values are also accepted
idx = pd.to_datetime(datestrs + [None])

In [21]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2025-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
# indexing idx
idx[2]

NaT

In [23]:
pd.isna(idx)

array([False, False,  True])

<h4>Time Series Basics</h4>

In [24]:
# time series
dates = [datetime(2024, 6, 2),
        datetime(2025, 10, 21),
        datetime(2024, 4, 12),
        datetime(2023, 10, 5),
        datetime(2016, 11, 3),
        datetime(2017, 3, 15),
        datetime(2019, 6, 3),
        datetime(2020, 5, 8),
       ]

In [25]:
ts =pd.Series(np.random.standard_normal(8),
              index=dates,
             )

In [26]:
ts

2024-06-02   -1.907460
2025-10-21    1.242059
2024-04-12    0.153079
2023-10-05   -0.140760
2016-11-03   -1.813603
2017-03-15   -1.782100
2019-06-03    0.123575
2020-05-08   -0.196932
dtype: float64

In [27]:
ts + ts[::3]

2016-11-03         NaN
2017-03-15         NaN
2019-06-03    0.247149
2020-05-08         NaN
2023-10-05   -0.281520
2024-04-12         NaN
2024-06-02   -3.814920
2025-10-21         NaN
dtype: float64

In [28]:
ts[::3]

2024-06-02   -1.907460
2023-10-05   -0.140760
2019-06-03    0.123575
dtype: float64

<h4>indexing, Selecting and Subsetting</h4>

In [29]:
# same as indexing a series
stamp = ts.index[2]

In [30]:
stamp

Timestamp('2024-04-12 00:00:00')

In [31]:
ts.iat[0]

-1.9074598881909928

In [32]:
# indexing by year
longer_ts = pd.Series(np.random.standard_normal(2000),
                      index=pd.date_range("2024-05-22",
                                          periods=2000))

In [33]:
longer_ts["2024"]

2024-05-22    0.562633
2024-05-23   -0.511549
2024-05-24   -1.149589
2024-05-25    1.450739
2024-05-26   -2.185633
                ...
2024-12-27   -0.364000
2024-12-28    0.740191
2024-12-29    1.479559
2024-12-30   -0.464937
2024-12-31    0.285559
Freq: D, Length: 224, dtype: float64

In [34]:
# selecting by year-month
longer_ts["2024-06"]

2024-06-01   -1.983586
2024-06-02   -0.341954
2024-06-03   -1.115531
2024-06-04   -0.270397
2024-06-05   -0.634207
2024-06-06    0.763721
2024-06-07   -0.648671
2024-06-08    0.778864
2024-06-09   -0.647468
2024-06-10    1.523331
2024-06-11    1.001525
2024-06-12   -0.316663
2024-06-13   -1.036294
2024-06-14    0.510056
2024-06-15   -0.859481
2024-06-16    0.082898
2024-06-17   -0.747292
2024-06-18   -0.494076
2024-06-19   -0.776281
2024-06-20   -0.457237
2024-06-21   -0.893683
2024-06-22   -1.899987
2024-06-23    0.166169
2024-06-24    1.486154
2024-06-25    1.804960
2024-06-26    0.501699
2024-06-27   -0.331011
2024-06-28    1.686135
2024-06-29    0.475103
2024-06-30    1.238859
Freq: D, dtype: float64

In [35]:
# Slicing by datetime
longer_ts[datetime(2024,5,22):
datetime(2024,8,1)
]

2024-05-22    0.562633
2024-05-23   -0.511549
2024-05-24   -1.149589
2024-05-25    1.450739
2024-05-26   -2.185633
                ...
2024-07-28    1.991890
2024-07-29    0.146082
2024-07-30   -0.696762
2024-07-31    0.239638
2024-08-01   -1.428441
Freq: D, Length: 72, dtype: float64

In [36]:
# Slicing with a timestamp not contained in the ts
longer_ts[datetime(2016, 8, 26):
datetime(2024, 8, 26)
]

2024-05-22    0.562633
2024-05-23   -0.511549
2024-05-24   -1.149589
2024-05-25    1.450739
2024-05-26   -2.185633
                ...
2024-08-22   -1.193076
2024-08-23   -1.663185
2024-08-24   -2.846291
2024-08-25    1.931000
2024-08-26   -1.531571
Freq: D, Length: 97, dtype: float64

In [37]:
longer_ts

2024-05-22    0.562633
2024-05-23   -0.511549
2024-05-24   -1.149589
2024-05-25    1.450739
2024-05-26   -2.185633
                ...
2029-11-07   -0.393881
2029-11-08    1.478520
2029-11-09    2.067537
2029-11-10   -0.778811
2029-11-11   -1.220269
Freq: D, Length: 2000, dtype: float64

In [38]:
# truncating after a specific date
longer_ts.truncate(after="2025-05-22")

2024-05-22    0.562633
2024-05-23   -0.511549
2024-05-24   -1.149589
2024-05-25    1.450739
2024-05-26   -2.185633
                ...
2025-05-18   -0.686895
2025-05-19    1.650481
2025-05-20   -0.059498
2025-05-21   -0.828109
2025-05-22   -0.659059
Freq: D, Length: 366, dtype: float64

In [39]:
dates = pd.date_range("2024-01-01",
                      periods=100,
                      freq="W-WED"
                     )

In [40]:
long_df = pd.DataFrame(np.random.standard_normal((100,4)),
                       index=dates,
                       columns=["Iganga", "Jinja", "Kampala", "Busia"])

In [41]:
long_df.loc["2024"]

              Iganga     Jinja   Kampala     Busia
2024-01-03  0.322392 -0.110770 -1.280119 -0.326149
2024-01-10 -1.931068  1.018015 -0.253723 -0.867754
2024-01-17  0.368902 -0.178827  0.830081 -2.120323
2024-01-24 -1.507462  0.047836  1.473136 -0.581152
2024-01-31  0.834570 -1.317898  0.653624 -0.383802
2024-02-07  3.168183  0.368093 -0.008496 -0.860533
2024-02-14  0.743216  0.896738  0.808411  0.100841
2024-02-21 -0.915516  1.154637 -1.309985 -1.840142
2024-02-28  0.513743 -0.372263 -0.624624  0.853757
2024-03-06 -0.144768 -1.020474  1.423435 -1.973936
2024-03-13  0.375124 -0.614636  0.759321  1.231116
2024-03-20  0.888144  1.478901  0.436534  1.213646
2024-03-27 -0.390764 -0.162193 -0.676093  1.390906
2024-04-03 -0.558900 -0.087402 -1.267236  1.475343
2024-04-10  0.749762 -0.742548 -0.034129 -0.233894
2024-04-17  1.457526 -0.010074  0.535088  0.668940
2024-04-24  0.904921  1.210811 -0.937247 -0.618198
2024-05-01  0.367432  2.076840 -0.310763 -1.662632
2024-05-08 -1.639751  0.145180 -1.460240  0.955159
2024-05-15 -0.187516  1.080605 -1.092464 -0.725591
2024-05-22 -0.222002 -1.446316 -1.223110  0.035606
2024-05-29 -1.006106 -0.539024 -1.484775 -0.430310
2024-06-05 -0.594168 -1.019033  0.905552  1.047505
2024-06-12 -0.239384 -0.498162 -0.554526 -0.041469
2024-06-19 -0.695358  1.122666  0.617397  0.561346
2024-06-26  0.956705  0.381951  0.024654  1.724765
2024-07-03 -0.054985 -0.279053 -0.715809 -0.994776
2024-07-10  2.896013 -2.598797 -1.380792  0.039627
2024-07-17 -1.016378 -0.994139 -2.451513 -0.186784
2024-07-24  0.375735  1.705667  2.299000  1.824952
2024-07-31  1.420039  0.141438 -1.668688  0.854653
2024-08-07  0.644348 -1.412310  0.272718  0.408608
2024-08-14 -0.109950  0.631284  1.684585  0.734150
2024-08-21 -0.747142  1.172049  0.152889  0.922240
2024-08-28  2.062395 -0.152955  1.310729  1.756397
2024-09-04 -1.051665 -0.497601  1.306591  0.216989
2024-09-11  1.284849  0.209678  0.553133  0.552408
2024-09-18  1.906582  0.793219 -0.071661 -0.281815
2024-09-25 -1.381565  1.566550 -1.048014 -0.822456
2024-10-02  0.679637 -0.481411 -1.707138  2.038814
2024-10-09 -0.125890 -0.630372  0.220838  0.032484
2024-10-16  1.668745 -1.308273  1.851859  0.435083
2024-10-23 -1.293962  0.092866  1.455645 -0.700899
2024-10-30 -1.504353  0.849819  2.136290 -1.153801
2024-11-06  0.155817  0.526098 -0.402799 -0.417795
2024-11-13 -0.407955  0.399457  1.161205  0.259230
2024-11-20  0.997780  0.900005  1.432396 -0.591979
2024-11-27  0.257339 -0.940325  0.017044  1.057983
2024-12-04 -1.587702 -0.311002 -0.114668  0.281763
2024-12-11 -0.469901 -0.417471 -0.742918 -0.412764
2024-12-18 -2.608947 -2.045535  0.565609 -0.371561
2024-12-25  0.774778 -0.708435  0.897890  0.093544

<h4>Time Series with Duplicates</h4>

In [42]:
dates = pd.DatetimeIndex(["2000-01-01",
                          "2000-01-02",
                          "2000-01-02",
                          "2000-01-02",
                          "2000-01-03"])

In [43]:
dup_ts = pd.Series(np.arange(5),
                   index=dates)

In [44]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [45]:
dup_ts["2000-01-03"]

4

In [46]:
dup_ts["2000-01-02"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [47]:
# Aggregating
grouped = dup_ts.groupby(level=0)

In [48]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [49]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

<h4>Date Ranges, Frequencies and Shifting</h4>

In [50]:
ts

2024-06-02   -1.907460
2025-10-21    1.242059
2024-04-12    0.153079
2023-10-05   -0.140760
2016-11-03   -1.813603
2017-03-15   -1.782100
2019-06-03    0.123575
2020-05-08   -0.196932
dtype: float64

In [51]:
resampler = ts.resample("D")

In [52]:
resampler

<h4>Generating Date Ranges</h4>

In [53]:
index = pd.date_range("2024-05-01",
                      "2024-12-31")

In [54]:
index

DatetimeIndex(['2024-05-01', '2024-05-02', '2024-05-03', '2024-05-04',
               '2024-05-05', '2024-05-06', '2024-05-07', '2024-05-08',
               '2024-05-09', '2024-05-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=245, freq='D')

In [58]:
# using start date, end date
pd.date_range(start="2024-05-25", periods=10)

DatetimeIndex(['2024-05-25', '2024-05-26', '2024-05-27', '2024-05-28',
               '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-01',
               '2024-06-02', '2024-06-03'],
              dtype='datetime64[ns]', freq='D')

In [63]:
# using end
pd.date_range(end="2024-12-31",
              periods=200,
             tz='Africa/Kampala',
             freq="MS",
              inclusive="both",
             )

DatetimeIndex(['2008-05-01 00:00:00+03:00', '2008-06-01 00:00:00+03:00',
               '2008-07-01 00:00:00+03:00', '2008-08-01 00:00:00+03:00',
               '2008-09-01 00:00:00+03:00', '2008-10-01 00:00:00+03:00',
               '2008-11-01 00:00:00+03:00', '2008-12-01 00:00:00+03:00',
               '2009-01-01 00:00:00+03:00', '2009-02-01 00:00:00+03:00',
               ...
               '2024-03-01 00:00:00+03:00', '2024-04-01 00:00:00+03:00',
               '2024-05-01 00:00:00+03:00', '2024-06-01 00:00:00+03:00',
               '2024-07-01 00:00:00+03:00', '2024-08-01 00:00:00+03:00',
               '2024-09-01 00:00:00+03:00', '2024-10-01 00:00:00+03:00',
               '2024-11-01 00:00:00+03:00', '2024-12-01 00:00:00+03:00'],
              dtype='datetime64[ns, Africa/Kampala]', length=200, freq='MS')

In [61]:
import pytz

In [66]:
# time zone samples
pytz.all_timezones[:50]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome']

In [80]:
# using localize
pd.date_range(
    start=pd.to_datetime("1/1/2024", dayfirst=True).tz_localize("Africa/Kampala"),
    end=pd.to_datetime("31/12/2025", dayfirst=True).tz_localize("Africa/Kampala"),
    )

DatetimeIndex(['2024-01-01 00:00:00+03:00', '2024-01-02 00:00:00+03:00',
               '2024-01-03 00:00:00+03:00', '2024-01-04 00:00:00+03:00',
               '2024-01-05 00:00:00+03:00', '2024-01-06 00:00:00+03:00',
               '2024-01-07 00:00:00+03:00', '2024-01-08 00:00:00+03:00',
               '2024-01-09 00:00:00+03:00', '2024-01-10 00:00:00+03:00',
               ...
               '2025-12-22 00:00:00+03:00', '2025-12-23 00:00:00+03:00',
               '2025-12-24 00:00:00+03:00', '2025-12-25 00:00:00+03:00',
               '2025-12-26 00:00:00+03:00', '2025-12-27 00:00:00+03:00',
               '2025-12-28 00:00:00+03:00', '2025-12-29 00:00:00+03:00',
               '2025-12-30 00:00:00+03:00', '2025-12-31 00:00:00+03:00'],
              dtype='datetime64[ns, Africa/Kampala]', length=731, freq='D')

In [81]:
pd.date_range(start="1/1/2024",
              periods=5,
              freq="3ME"
             )

DatetimeIndex(['2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31'],
              dtype='datetime64[ns]', freq='3ME')

In [91]:
# specifing unit
pd.date_range(start="2017-01-01",
              periods=10,
              freq="100YS",
              unit='s'
             )

DatetimeIndex(['2017-01-01', '2117-01-01', '2217-01-01', '2317-01-01',
               '2417-01-01', '2517-01-01', '2617-01-01', '2717-01-01',
               '2817-01-01', '2917-01-01'],
              dtype='datetime64[s]', freq='100YS-JAN')

In [95]:
# Normalizing datetime
pd.date_range("2024-05-02 12:54:21",
              periods=5,
              normalize=True
             )

DatetimeIndex(['2024-05-02', '2024-05-03', '2024-05-04', '2024-05-05',
               '2024-05-06'],
              dtype='datetime64[ns]', freq='D')

<h4>Frequencies and Date Offsets</h4>

In [97]:
pd.date_range("2025-02-01",
              "2025-05-02 23:03:02",
              freq="4h"
             )

DatetimeIndex(['2025-02-01 00:00:00', '2025-02-01 04:00:00',
               '2025-02-01 08:00:00', '2025-02-01 12:00:00',
               '2025-02-01 16:00:00', '2025-02-01 20:00:00',
               '2025-02-02 00:00:00', '2025-02-02 04:00:00',
               '2025-02-02 08:00:00', '2025-02-02 12:00:00',
               ...
               '2025-05-01 08:00:00', '2025-05-01 12:00:00',
               '2025-05-01 16:00:00', '2025-05-01 20:00:00',
               '2025-05-02 00:00:00', '2025-05-02 04:00:00',
               '2025-05-02 08:00:00', '2025-05-02 12:00:00',
               '2025-05-02 16:00:00', '2025-05-02 20:00:00'],
              dtype='datetime64[ns]', length=546, freq='4h')

In [99]:
pd.date_range(
    "2000-01-01",
    periods=10,
    freq="1h30min3s",
)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:03',
               '2000-01-01 03:00:06', '2000-01-01 04:30:09',
               '2000-01-01 06:00:12', '2000-01-01 07:30:15',
               '2000-01-01 09:00:18', '2000-01-01 10:30:21',
               '2000-01-01 12:00:24', '2000-01-01 13:30:27'],
              dtype='datetime64[ns]', freq='5403s')

<h5>Week of month</h5>

In [100]:
monthly_meetups = pd.date_range(
    "2024-06-01",
    "2024-12-31",
    freq="WOM-3SAT"
)

In [101]:
monthly_meetups

DatetimeIndex(['2024-06-15', '2024-07-20', '2024-08-17', '2024-09-21',
               '2024-10-19', '2024-11-16', '2024-12-21'],
              dtype='datetime64[ns]', freq='WOM-3SAT')