In [2]:
from customFunctions import readSavedData
import pandas as pd
import numpy as np
import yaml

In [3]:
with open('../Notebooks/preprocessingConfig.yml', 'r') as file:
    config = yaml.safe_load(file)

In [4]:
filename = config['general']['saved_file']

In [5]:
df = pd.read_csv('../Data/Private.csv',
                 # index_col=False,
                )

In [29]:
# Sort by Total weight
df.sort_values(by=['TOTAL WEIGHT'],
                    ignore_index=True,
                    ascending=True,
                    kind='mergesort',
                   )

def getSchoolIndex(StudentIndex):
    schoolIndex = StudentIndex[:5]
    return schoolIndex

In [21]:
# sort by course
df.sort_values(by=['COURSE CODE'],
               kind='mergesort',
               ascending=True,
               ignore_index=True,
              ).head(50)

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
5,23APF1501202078128326,U2373/501,LUWAGA TONNY,M,2018.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),38.4
6,23APF1139056282132364,U0856/511,NAMAGEMBE MARTINA,F,2022.0,25.0,KIBOGA,ACC,BSC. Accounting (EVE),38.2
7,23APF101396019107326,U2929/521,KALUNGI TITUS,M,2022.0,75.0,MITYANA,ACC,BSC. Accounting (EVE),38.1
8,23APF515017899120808,U1609/550,KIZITO PATRICK,M,2011.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),37.9
9,23APF1672224247102423,U1224/882,NDYOMUHIRWA CHRISTIAN,M,2022.0,50.0,RUKUNGIRI,ACC,BSC. Accounting (EVE),37.9
10,23APF202185286140690,U1350/503,GWOKYALYA RESTY,F,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),37.8
11,23APF231194390150185,U0086/599,WAISWA CEASER,M,2009.0,17.0,KAMULI,ACC,BSC. Accounting (EVE),37.0
12,23APF174935849136324,U0923/523,NABUUMA MAJOREEN,F,2017.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),36.5
13,23APF324272143128932,U2789/821,TAMALE COLIN,M,2022.0,91.0,GOMBA,ACC,BSC. Accounting (EVE),35.8
14,23APF231927019128941,U0960/506,LUUTU DOUGLAS,M,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),35.8
15,23APF1362423415106885,U0459/684,KASANGAKI MARIAM BINTA,F,2022.0,13.0,KABAROLE,ACC,BSC. Accounting (EVE),35.5
16,23APF1368966146127414,U1611/947,NANSUBUGA LYDIA,F,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),35.3
17,23APF1031507983139846,U3219/507,NANDAGIRE SCOVIA,F,2022.0,49.0,RAKAI,ACC,BSC. Accounting (EVE),34.6
18,23APF980625096133316,U0737/531,MUDOBYA CHRISTINE,F,2007.0,10.0,IGANGA,ACC,BSC. Accounting (EVE),34.6
19,23APF154566486115108,U0036/560,ASHABA PERUTH,F,2020.0,101.0,LWENGO,ACC,BSC. Accounting (EVE),34.4
20,23APF283201719136962,U1979/584,MIREMBE SHALOM NAMYALO,F,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),34.3
21,23APF957749380107698,U2381/539,KISEMBO ELIJAH,M,2022.0,9.0,HOIMA,ACC,BSC. Accounting (EVE),34.1
22,23APF1091499022125514,U0200/522,LUYIGA T. CATHERINE,F,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),33.8
23,23APF1158623449102037,U3082/603,MUGISA DERRICK,M,2022.0,102.0,KAGADI,ACC,BSC. Accounting (EVE),33.5
24,23APF1057280688118519,U0027/750,WANGOTA BRIAN,M,2022.0,11.0,JINJA,ACC,BSC. Accounting (EVE),33.3
25,23APF104197063663745,U2789/553,MWEBESA SOLOMON ARTHUR,M,2013.0,30.0,KYENJOJO,ACC,BSC. Accounting (EVE),33.0
26,23APF16043054134531,U2474/892,MUHAIRWE JOEL,M,2022.0,118.0,BUNYANGABU,ACC,BSC. Accounting (EVE),32.8
27,23APF436324879132722,U2839/522,TUMUSIIME PATRICIA,F,2022.0,9.0,HOIMA,ACC,BSC. Accounting (EVE),32.5
28,23APF1080023620127280,U2144/516,KABARUNGI EMILLY,F,2022.0,18.0,KAMWENGE,ACC,BSC. Accounting (EVE),32.4
29,23APF157015655125355,U1542/582,WAKIBUGO IAN,M,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),32.0
30,23APF141959743797295,U1451/517,NAIGAMBI ALI,M,2020.0,11.0,JINJA,ACC,BSC. Accounting (EVE),31.5
31,23APF751191108106210,U2789/560,NALWEYISO DAISY,F,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),31.4
32,23APF724414868141141,U3219/508,NAMBAYO KATHY,F,2022.0,77.0,BUDAKA,ACC,BSC. Accounting (EVE),31.3
33,23APF1413319323135980,U1969/524,KAKOOZA MOHMMAD,M,2022.0,88.0,BUTAMBALA,ACC,BSC. Accounting (EVE),31.2
34,23APF593373474116716,U0859/554,KIVEBULAAYA LIVINGSTONE,M,2022.0,41.0,MUBENDE,ACC,BSC. Accounting (EVE),31.1
35,23APF75774350148691,U0459/630,KIJJIDE AFIZI MUHAMAD,M,2022.0,88.0,BUTAMBALA,ACC,BSC. Accounting (EVE),31.1
36,23APF238774767111982,U2962/615,BALYOKWAIBWE EMMANUEL,M,2022.0,90.0,BUYENDE,ACC,BSC. Accounting (EVE),31.1
37,23APF785739568144218,U0760/553,SUNDAY EMMANUEL,M,2022.0,18.0,KAMWENGE,ACC,BSC. Accounting (EVE),31.0
38,23APF269087811114307,U3941/514,LUKYAMUZI JUDE THADDEUS,M,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),31.0
39,23APF810803954100945,U0053/824,ATEGEKA ROBERT,M,2009.0,9.0,HOIMA,ACC,BSC. Accounting (EVE),30.9
40,23APF69842964149134,U0065/671,KAWUNGEZI MWESIGWA SIMEON,M,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),30.4
41,23APF1094990594129842,U0194/504,BBUMBA CYRUS,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),30.4
42,23APF271115874132692,U1879/641,NAKIYEMBA PHIONA,F,2022.0,10.0,IGANGA,ACC,BSC. Accounting (EVE),30.3
43,23APF74069275788805,U0053/898,NSARASHA GEORGE SPENCER,M,2018.0,12.0,KABALE,ACC,BSC. Accounting (EVE),30.2
44,23APF935474430128208,U1542/574,NALUMANSI PATIENCE .D.,F,2022.0,32.0,LUWEERO,ACC,BSC. Accounting (EVE),30.2
45,23APF1496502224140063,U0052/570,KATO MATSIKO,M,2022.0,6.0,BUSHENYI,ACC,BSC. Accounting (EVE),30.1
46,23APF602826709105772,U2431/568,MALE JOHN,M,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),29.5
47,23APF566135453148449,U0645/531,NANTALE ESTHER,F,2022.0,55.0,WAKISO,ACC,BSC. Accounting (EVE),29.5
48,23APF1518329823115184,U0050/620,AWYAT MONICA GLORIA,F,2022.0,54.0,TORORO,ACC,BSC. Accounting (EVE),29.3
49,23APF58408276899076,U2338/611,KAYONGO PATRICK,M,2022.0,16.0,KAMPALA,ACC,BSC. Accounting (EVE),29.1

In [31]:
df['INDEX NO'].apply(getSchoolIndex)

0        U0391
1        U1249
2        U0459
3        U1611
4        U0083
         ...
14910    U0017
14911    U0033
14912    U0077
14913    U0077
14914    U0017
Name: INDEX NO, Length: 14915, dtype: object

In [32]:
# Add school index to df
df.insert(1, "SCHOOL INDEX", df['INDEX NO'].apply(getSchoolIndex))

In [39]:
# Distribution by Schools
df['SCHOOL INDEX'].value_counts()

SCHOOL INDEX
U2789    284
U1224    238
U0896    183
U0763    166
U0053    152
        ...
U1337      1
U3242      1
U0987      1
U0439      1
U0892      1
Name: count, Length: 1365, dtype: int64

In [43]:
# Students from a school with School Index U0078'. This is Iganga High School: U0078, 
df[df['SCHOOL INDEX'] == 'U0017'].sort_values(by="TOTAL WEIGHT", ascending=False)

,APPLICATION NO,SCHOOL INDEX,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
14119,23APF1431768274140888,U0017,U0017/637,IKIRING PATRICIA,F,2022.0,29.0,KUMI,SOW,BACHELOR OF SOCIAL WORK,49.6
14137,23APF59554089107243,U0017,U0017/546,KIRABO DENIZ,F,2022.0,4.0,BUGIRI,SQS,BSC Quantity Surveying,48.8
3866,23APF950938163143107,U0017,U0017/678,WANGUBO MAIMUNA MUTESI,F,2022.0,55.0,WAKISO,BCA,BACHELOR OF CHINESE & ASIAN STUDIES,48.4
12447,23APF235352693145115,U0017,U0017/654,NABIRYE RESTY TINAH,F,2022.0,100.0,LUUKA,IST,B. INFORMATION SYSTEMS & TECHNOLOGY,47.2
3867,23APF1430543958148268,U0017,U0017/620,AKULLU SARAH,F,2022.0,76.0,OYAM,BCA,BACHELOR OF CHINESE & ASIAN STUDIES,47.2
...,...,...,...,...,...,...,...,...,...,...,...
5932,23APF383732361142513,U0017,U0017/584,NAMAGANDA PERSIS SARAH,F,2022.0,79.0,NAMUTUMBA,BJS,"BSC. ACCOUNTING, JINJA (DAY)",22.6
10018,23APF66985098145287,U0017,U0017/624,AMULEN CYNTHIA,F,2022.0,67.0,BUKEDEA,COB,B. COMMERCE (EVE),18.2
5904,23APF246648230138606,U0017,U0017/670,NANTAMBI VICTORIA,F,2022.0,4.0,BUGIRI,BJO,"B. COMMERCE, JINJA (DAY)",17.7
10039,23APF7902698130457,U0017,U0017/676,WAMBUYA ESTHER CARO,F,2022.0,36.0,MBALE,COB,B. COMMERCE (EVE),16.5
10242,23APF738022091113672,U0017,U0017/652,MWEBAZA CAROLINE,F,2022.0,12.0,KABALE,COJ,B.Commerce (Jinja),13.3

In [8]:
df[df["APPLICATION NO"].duplicated()]

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
12766,23APF992513978128612,U0178/548,NAHWERA DOREEN,F,2022.0,18.0,KAMWENGE,LIS,B.Library & Infor.Science,29.2

In [9]:
# Students admitted to two courses
df[df['INDEX NO'] == 'U0178/548']

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
11743,23APF992513978128612,U0178/548,NAHWERA DOREEN,F,2022.0,18.0,KAMWENGE,EDA,Bachelor of Arts with Education,29.2
12766,23APF992513978128612,U0178/548,NAHWERA DOREEN,F,2022.0,18.0,KAMWENGE,LIS,B.Library & Infor.Science,29.2

In [10]:
# Describe data 
df.describe()

          UACE YEAR          CODE  TOTAL WEIGHT
count  14915.000000  14915.000000  14915.000000
mean    2021.574187     46.417499     31.401495
std        1.911034     30.508257      7.820673
min     1995.000000      1.000000      8.900000
25%     2022.000000     18.000000     25.700000
50%     2022.000000     42.000000     31.300000
75%     2022.000000     65.000000     37.100000
max     2022.000000    123.000000     53.900000

In [11]:
dfdesc = df.describe()

In [12]:
AverageWt = dfdesc.loc['mean']['TOTAL WEIGHT']

In [13]:
AverageWt

31.40149513912169

In [14]:
# Admissions with min UACE year
df[df['UACE YEAR'] == df['UACE YEAR'].min()]

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
1916,23APF1071633136149141,U0055/582,KIYEMBA HENRY,M,1995.0,42.0,MUKONO,BBA,Bachelor of Business Administration (EVE),25.9
12650,23APF5536474177057,U0212/870,NABULINDO JANE KWOBA,F,1995.0,7.0,BUSIA,LGM,B.Leadership and Governance (EVE),17.4

In [16]:
# Unique admission years
df['UACE YEAR'].unique()

array([2022., 2018., 2011., 2009., 2017., 2007., 2020., 2013., 2019.,
       2015., 2016., 2008., 2012., 2010., 2003., 2014., 2006., 1996.,
       2005., 2004., 2000., 1995., 2002., 2001., 1999.])

In [19]:
df['DISTRICT'].unique()

array(['MUKONO', 'MPIGI', 'KASESE', 'MASAKA', 'IBANDA', 'WAKISO',
       'KIBOGA', 'MITYANA', 'KAMPALA', 'RUKUNGIRI', 'KAMULI', 'GOMBA',
       'KABAROLE', 'RAKAI', 'IGANGA', 'LWENGO', 'HOIMA', 'KAGADI',
       'JINJA', 'KYENJOJO', 'BUNYANGABU', 'KAMWENGE', 'BUDAKA',
       'BUTAMBALA', 'MUBENDE', 'BUYENDE', 'KABALE', 'LUWEERO', 'BUSHENYI',
       'TORORO', 'NEBBI', 'BUSIA', 'SEMBABULE', 'SHEEMA', 'BUKWO',
       'KANUNGU', 'MASINDI', 'LIRA', 'KYANKWANZI', 'BUIKWE', 'MITOOMA',
       'MBALE', 'MOYO', 'NAMUTUMBA', 'MBARARA', 'KALIRO', 'PALLISA',
       'KYEGEGWA', 'MOROTO', 'RUBANDA', 'SOROTI', 'KISORO', 'KIBUKU',
       'KAYUNGA', 'RUKIGA', 'NTUNGAMO', 'GULU', 'BUKEDEA', 'ADJUMANI',
       'BUGIRI', 'KOLE', 'ISINGIRO', 'BUTALEJA', 'MAYUGE', 'KABERAMAIDO',
       'ABIM', 'BUKOMANSIMBI', 'KYOTERA', 'AGAGO', 'NAKASONGOLA',
       'SIRONKO', 'NAKASEKE', 'BUDUDA', 'KIRUHURA', 'NGORA', 'KUMI',
       'ARUA', 'LYANTONDE', 'NAPAK', 'MANAFWA', 'PAKWACH', 'NWOYA',
       'KATAKWI', 'AMURIA', 'BUNDIBUGYO', 'MARACHA', 'KIBAALE', 'YUMBE',
       'KALUNGU', 'DOKOLO', 'KAPCHORWA', 'NAMISINDWA', 'APAC', 'ALEBTONG',
       'LAMWO', 'KAKUMIRO', 'BULAMBULI', 'ZOMBO', 'RUBIRIZI', 'KITGUM',
       'SERERE', 'NTOROKO', 'KWEEN', 'NAMAYINGO', 'BUHWEJU', 'PADER',
       'OYAM', 'LUUKA', 'AMOLATAR', 'BULIISA', 'AMURU', 'NAKAPIRIPIRIT',
       'KIRYANDONGO', 'KOTIDO', 'OTUKE', 'KOBOKO', 'AMUDAT', 'BUTEBO',
       'OMORO', 'Non Ugandan', 'KALANGALA', 'KAABONG', 'BUVUMA'],
      dtype=object)