In [47]:
import numpy as np
import tabula
import pandas as pd

In [48]:
makData = pd.read_csv("preprocessed/finalDataV1.csv", index_col=0)

In [49]:
makData

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022,42,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022,40,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022,21,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022,33,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022,65,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022,52,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022,6,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022,71,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022,9,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022,21,KASESE,ADM,Bachelor of Business Administration,42.6

In [50]:
makData = makData[makData["Total Weight"] != "Tot_wt"]

In [51]:
makData = makData.astype({"Total Weight": 'float', "Index No": "string"})

In [52]:
# Save df
makData.to_csv("preprocessed/finalDfV2.csv")

In [53]:
makData = makData.dropna()

In [54]:
makData["Total Weight"]

0      42.2
1      41.1
2      40.6
3      38.8
4      38.4
       ...
222    42.7
223    42.6
224    42.6
225    42.6
226    42.6
Name: Total Weight, Length: 223, dtype: float64

In [55]:
makData["Total Weight"].tail(75)

148    16.0
149    15.7
154    47.2
155    46.0
156    41.4
       ...
222    42.7
223    42.6
224    42.6
225    42.6
226    42.6
Name: Total Weight, Length: 75, dtype: float64

In [56]:
# Computing average weight for each sex
makData["Total Weight"].groupby(makData['GENDER']).mean()

GENDER
F    32.398246
M    28.722936
Name: Total Weight, dtype: float64

In [57]:
# Statistics about schools, schools can be identified by index numbers
# Write a function that extracts school index numbers from student index.
def schoolIndex(index):
    return index[:6]

In [58]:
# Return admissions by ditrict and year of entry.
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
                           )['Index No'].count().head(50)

DISTRICT      UACE YEAR  GENDER
ABIM          2022       M         1
ADJUMANI      2022       F         1
AGAGO         2022       M         1
BUDAKA        2022       F         1
                         M         1
BUGIRI        2022       F         2
BUIKWE        2022       F         1
                         M         2
BUKEDEA       2011       M         1
BUKOMANSIMBI  2022       M         1
BUKWO         2022       M         1
BUNYANGABU    2022       M         1
BUSHENYI      2022       F         1
                         M         2
BUSIA         2020       M         1
              2022       M         2
BUTALEJA      2022       F         1
BUTAMBALA     2022       F         1
                         M         2
BUYENDE       2022       M         1
GOMBA         2022       M         2
GULU          2022       F         1
HOIMA         2009       M         1
              2022       F         2
                         M         5
IBANDA        2022       F         4
                         M         1
IGANGA        2007       F         1
              2022       F         2
                         M         2
ISINGIRO      2022       F         1
JINJA         2020       M         1
              2022       F         4
                         M         3
KABALE        2018       M         1
              2022       F         2
                         M         1
KABAROLE      2015       M         1
              2022       F         2
                         M         1
KABERAMAIDO   2022       F         1
KAGADI        2022       M         1
KALIRO        2022       F         2
                         M         1
KAMPALA       2011       M         1
              2020       M         1
              2022       F         5
                         M         8
KAMULI        2009       M         1
              2022       F         1
Name: Index No, dtype: int64

In [59]:
# 
regions = {"Eastern": ['Amuria', 'Budaka', 'Bududa', 'Bugiri', 'Bukedea', 'Bukwa', 'Bulambuli',
                      'Busia', 'Butalega', 'Buyende', 'Iganga', 'Jinja', 'Kaberamaido', 'Kaliro',
                      'Kapchorwa', 'Katakwi', 'Kibuku', 'Kumi', 'Kween', 'Luuka', 'Manafwa',
                       'Mayuge', 'Mbale', 'Namayingo', 'Namutumba', 'Ngora', 'Pallisa', 'Serere',
                      'Sironko', 'Soroti', 'Tororo'],
          'Central': ['Buikwe', 'Bukomansimbi', 'Butambala', 'Buvuma', 'Gomba', 'Kalangala', 'Kalungu',
                     'Kampala', 'Kayunga', 'Kiboga', 'Kyankwazi', 'Luwero', 'Lwengo', 'Lyantonde',
                     'Masaka', 'Mityana', 'Mpigi', 'Mubende', 'Mukono', 'Nakaseke', 'Nakasongola',
                     'Rakai', 'Sembabule', 'Wakiso'],
          'Northern': ['Abim', 'Adjumani', 'Agago', 'Alebtong', 'Amolator', 'Amudat', 'Amuru', 'Apac',
                      'Arua', 'Dokolo', 'Gulu', 'Kaabong', 'Kitgum', 'Koboko', 'Kole', 'Kotido', 
                      'Lamwo', 'Lira', 'Maracha', 'Moroto', 'Moyo', 'Nakapiripiriti', 'Napak', 'Nebbi',
                      'Nwoya', 'Otuke', 'Oyam', 'Pader', 'Yumbe', 'Zombe'],
          'Western': ['Buhweju', 'Bulisa', 'Bundibugyo', 'Bushenyi', 'Hoima', 'Ibanda', 'Isingiro',
                     'Kabale', 'Kabarole', 'Kamwenge', 'Kanungu', 'Kasese', 'Kibaale', 'kiruhura', 'Kiryandongo',
                     'Kisoro', 'Kyengegwa', 'Masindi', 'Mbarara', 'Mitooma', 'Ntoroko', 'Ntungamo', 'Ribirizi',
                     'Rukungiri', 'Sheema']}
for key, value in regions.items():
    for i in range(len(value)):
        value[i] = value[i].upper()

In [60]:
regions

{'Eastern': ['AMURIA',
  'BUDAKA',
  'BUDUDA',
  'BUGIRI',
  'BUKEDEA',
  'BUKWA',
  'BULAMBULI',
  'BUSIA',
  'BUTALEGA',
  'BUYENDE',
  'IGANGA',
  'JINJA',
  'KABERAMAIDO',
  'KALIRO',
  'KAPCHORWA',
  'KATAKWI',
  'KIBUKU',
  'KUMI',
  'KWEEN',
  'LUUKA',
  'MANAFWA',
  'MAYUGE',
  'MBALE',
  'NAMAYINGO',
  'NAMUTUMBA',
  'NGORA',
  'PALLISA',
  'SERERE',
  'SIRONKO',
  'SOROTI',
  'TORORO'],
 'Central': ['BUIKWE',
  'BUKOMANSIMBI',
  'BUTAMBALA',
  'BUVUMA',
  'GOMBA',
  'KALANGALA',
  'KALUNGU',
  'KAMPALA',
  'KAYUNGA',
  'KIBOGA',
  'KYANKWAZI',
  'LUWERO',
  'LWENGO',
  'LYANTONDE',
  'MASAKA',
  'MITYANA',
  'MPIGI',
  'MUBENDE',
  'MUKONO',
  'NAKASEKE',
  'NAKASONGOLA',
  'RAKAI',
  'SEMBABULE',
  'WAKISO'],
 'Northern': ['ABIM',
  'ADJUMANI',
  'AGAGO',
  'ALEBTONG',
  'AMOLATOR',
  'AMUDAT',
  'AMURU',
  'APAC',
  'ARUA',
  'DOKOLO',
  'GULU',
  'KAABONG',
  'KITGUM',
  'KOBOKO',
  'KOLE',
  'KOTIDO',
  'LAMWO',
  'LIRA',
  'MARACHA',
  'MOROTO',
  'MOYO',
  'NAKAPIRIPIRITI',
  'NAPAK',
  'NEBBI',
  'NWOYA',
  'OTUKE',
  'OYAM',
  'PADER',
  'YUMBE',
  'ZOMBE'],
 'Western': ['BUHWEJU',
  'BULISA',
  'BUNDIBUGYO',
  'BUSHENYI',
  'HOIMA',
  'IBANDA',
  'ISINGIRO',
  'KABALE',
  'KABAROLE',
  'KAMWENGE',
  'KANUNGU',
  'KASESE',
  'KIBAALE',
  'KIRUHURA',
  'KIRYANDONGO',
  'KISORO',
  'KYENGEGWA',
  'MASINDI',
  'MBARARA',
  'MITOOMA',
  'NTOROKO',
  'NTUNGAMO',
  'RIBIRIZI',
  'RUKUNGIRI',
  'SHEEMA']}

In [61]:
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
                           )['Index No'].count().head(50)

DISTRICT      UACE YEAR  GENDER
ABIM          2022       M         1
ADJUMANI      2022       F         1
AGAGO         2022       M         1
BUDAKA        2022       F         1
                         M         1
BUGIRI        2022       F         2
BUIKWE        2022       F         1
                         M         2
BUKEDEA       2011       M         1
BUKOMANSIMBI  2022       M         1
BUKWO         2022       M         1
BUNYANGABU    2022       M         1
BUSHENYI      2022       F         1
                         M         2
BUSIA         2020       M         1
              2022       M         2
BUTALEJA      2022       F         1
BUTAMBALA     2022       F         1
                         M         2
BUYENDE       2022       M         1
GOMBA         2022       M         2
GULU          2022       F         1
HOIMA         2009       M         1
              2022       F         2
                         M         5
IBANDA        2022       F         4
                         M         1
IGANGA        2007       F         1
              2022       F         2
                         M         2
ISINGIRO      2022       F         1
JINJA         2020       M         1
              2022       F         4
                         M         3
KABALE        2018       M         1
              2022       F         2
                         M         1
KABAROLE      2015       M         1
              2022       F         2
                         M         1
KABERAMAIDO   2022       F         1
KAGADI        2022       M         1
KALIRO        2022       F         2
                         M         1
KAMPALA       2011       M         1
              2020       M         1
              2022       F         5
                         M         8
KAMULI        2009       M         1
              2022       F         1
Name: Index No, dtype: int64

In [62]:
lst = [1, 2, 3, 1, 2, 3]
s = pd.Series([1, 2, 3, 10, 20, 30], lst)
grouped = s.groupby(level=0)

In [63]:
grouped.first()

1    1
2    2
3    3
dtype: int64

In [64]:
# Sorting process consumes processor resources, for potential speedup, 
# the sorting option can be disabled.
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
#                 as_index=False
                           )['Index No'].last()

DISTRICT  UACE YEAR  GENDER
ABIM      2022       M         U0572/506
ADJUMANI  2022       F         U1104/600
AGAGO     2022       M         U1224/898
BUDAKA    2022       F         U3219/508
                     M         U2244/525
                                 ...
WAKISO    2017       F         U0923/523
          2018       M         U2373/501
          2020       F         U0780/559
          2022       F         U1224/830
                     M         U0034/519
Name: Index No, Length: 122, dtype: string

In [65]:
# Getting admitted Students from IGANGA district
makData.groupby(["DISTRICT"]).get_group('IGANGA')

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
18,23APF980625096133316,U0737/531,MUDOBYA CHRISTINE,F,2007,10,IGANGA,ACC,BSC. Accounting (EVE),34.6
43,23APF271115874132692,U1879/641,NAKIYEMBA PHIONA,F,2022,10,IGANGA,ACC,BSC. Accounting (EVE),30.3
56,23APF825010272123233,U0061/552,MUTESI SHADIA,F,2022,10,IGANGA,ACC,BSC. Accounting (EVE),28.6
90,23APF1502921010146109,U1525/532,KASADHA NATHAN,M,2022,10,IGANGA,ACC,BSC. Accounting (EVE),25.0
128,23APF6816076136686,U0812/509,KASADHA AUSI,M,2022,10,IGANGA,ACC,BSC. Accounting (EVE),19.9

In [66]:
# This returns unique year counts for each district
makData.groupby("DISTRICT")['UACE YEAR'].nunique()

DISTRICT
ABIM        1
ADJUMANI    1
AGAGO       1
BUDAKA      1
BUGIRI      1
           ..
SHEEMA      1
SIRONKO     1
SOROTI      1
TORORO      1
WAKISO      5
Name: UACE YEAR, Length: 73, dtype: int64

In [67]:
makData.groupby(['DISTRICT', 'GENDER', 'UACE YEAR']
#                 ,as_index=False
               )['UACE YEAR'].agg('count')

DISTRICT  GENDER  UACE YEAR
ABIM      M       2022          1
ADJUMANI  F       2022          1
AGAGO     M       2022          1
BUDAKA    F       2022          1
          M       2022          1
                               ..
WAKISO    F       2020          1
                  2022         20
          M       2016          1
                  2018          1
                  2022         11
Name: UACE YEAR, Length: 122, dtype: int64

In [68]:
def get_school_indexNo(studentIndex):
    return str(studentIndex)[:5]

In [69]:
# This adds a column named 'School Index' computed from student Index Number
makData['School Index'] = makData['Index No'].apply(get_school_indexNo)

In [70]:
# Group by district, school Index, UACE year, Gender and return count for data
makData.groupby(['DISTRICT', 'School Index', 'UACE YEAR', 'GENDER'])['GENDER'].count().tail(35)

DISTRICT  School Index  UACE YEAR  GENDER
TORORO    U0956         2022       F         1
          U1104         2022       F         1
          U1915         2022       M         1
WAKISO    U0013         2022       F         1
          U0030         2022       F         1
          U0034         2022       M         1
          U0053         2022       M         1
          U0060         2022       F         2
          U0190         2022       M         1
          U0200         2022       F         1
          U0334         2022       F         1
          U0458         2022       F         1
          U0645         2022       F         1
          U0714         2022       F         1
          U0780         2020       F         1
          U0852         2022       M         3
          U0857         2022       F         1
          U0884         2022       M         1
          U0923         2017       F         1
          U1144         2022       F         1
          U1224         2022       F         1
          U1249         2016       M         1
          U1501         2022       F         1
          U1542         2022       M         1
          U1783         2022       F         1
          U1979         2022       F         1
          U2177         2022       M         1
          U2236         2022       F         1
          U2245         2022       F         1
          U2373         2018       M         1
          U2431         2022       M         1
          U2546         2022       F         1
          U2789         2022       F         1
          U3002         2022       F         1
          U3681         2022       M         1
Name: GENDER, dtype: int64

In [71]:
# Regions
def get_region(district):
    for regions_names, districts in regions.items():
        if district in regions[regions_names]:
            return regions_names

In [72]:
# Data table with regions
makData['REGION'] = makData['DISTRICT'].apply(get_region)

In [73]:
makData.groupby(['REGION', 'DISTRICT', 'School Index', 'GENDER'])['NAME'].count()

REGION   DISTRICT      School Index  GENDER
Central  BUIKWE        U0174         M         2
                       U1535         F         1
         BUKOMANSIMBI  U0959         M         1
         BUTAMBALA     U0077         F         1
                       U0459         M         1
                                              ..
Western  RUKUNGIRI     U2929         M         1
         SHEEMA        U0140         F         1
                       U0245         F         1
                       U0896         F         1
                       U2055         M         1
Name: NAME, Length: 201, dtype: int64

In [74]:
# counts of admissions per region
makData.groupby('REGION')['DISTRICT'].count()

REGION
Central     95
Eastern     49
Northern    10
Western     52
Name: DISTRICT, dtype: int64

In [75]:
# mean weight per course
makData.groupby(['COURSE NAME'])['Total Weight'].agg('mean')

COURSE NAME
B.Business Administration(Jinja)       28.560000
BSC. Accounting (EVE)                  27.035333
Bachelor of Business Administration    44.467442
Name: Total Weight, dtype: float64

In [76]:
grouped = makData.groupby(['REGION', 'DISTRICT'])['Total Weight']

In [77]:
# iterating over groups
for name, group in makData[[
                            'REGION',
                            'DISTRICT',
                            'School Index',
                            'GENDER']].groupby('REGION'
#                                                , as_index=False
                                              ):
    print(name)
    print(group)

Central
      REGION  DISTRICT School Index GENDER
0    Central    MUKONO        U0391      M
1    Central     MPIGI        U1249      M
3    Central    MASAKA        U1611      F
5    Central    WAKISO        U2373      M
6    Central    KIBOGA        U0856      F
..       ...       ...          ...    ...
213  Central   MITYANA        U2929      F
218  Central    WAKISO        U0034      M
219  Central  NAKASEKE        U3217      F
220  Central    WAKISO        U2546      F
221  Central    WAKISO        U1224      F

[95 rows x 4 columns]
Eastern
      REGION     DISTRICT School Index GENDER
18   Eastern       IGANGA        U0737      F
24   Eastern        JINJA        U0027      M
30   Eastern        JINJA        U1451      M
32   Eastern       BUDAKA        U3219      F
36   Eastern      BUYENDE        U2962      M
43   Eastern       IGANGA        U1879      F
49   Eastern       TORORO        U0050      F
51   Eastern       TORORO        U1915      M
54   Eastern        BUSIA        U1380      M
55   Eastern        JINJA        U2728      M
56   Eastern       IGANGA        U0061      F
81   Eastern        BUSIA        U1612      M
83   Eastern        MBALE        U0096      M
84   Eastern       TORORO        U0956      F
86   Eastern        MBALE        U0046      F
89   Eastern    NAMUTUMBA        U0256      M
90   Eastern       IGANGA        U1525      M
93   Eastern       KALIRO        U0960      M
95   Eastern      PALLISA        U3740      F
103  Eastern       BUDAKA        U2244      M
107  Eastern       SOROTI        U0055      M
110  Eastern       TORORO        U0742      M
113  Eastern       KIBUKU        U1611      M
114  Eastern       TORORO        U1104      F
116  Eastern       TORORO        U0042      M
121  Eastern       KIBUKU        U1140      F
125  Eastern       TORORO        U0055      F
128  Eastern       IGANGA        U0812      M
139  Eastern      BUKEDEA        U0417      M
142  Eastern       SOROTI        U3541      M
147  Eastern       SOROTI        U0515      F
148  Eastern       BUGIRI        U0739      F
159  Eastern        JINJA        U0198      F
160  Eastern       KALIRO        U2016      F
161  Eastern        MBALE        U0192      F
164  Eastern        JINJA        U2236      F
169  Eastern       BUGIRI        U0025      F
170  Eastern       MAYUGE        U0167      M
173  Eastern  KABERAMAIDO        U1104      F
174  Eastern    NAMUTUMBA        U2371      F
176  Eastern      PALLISA        U1694      F
178  Eastern        BUSIA        U1971      M
180  Eastern        JINJA        U2663      F
182  Eastern        JINJA        U0018      M
188  Eastern        JINJA        U0752      F
214  Eastern       SOROTI        U3297      F
216  Eastern      SIRONKO        U0017      F
222  Eastern      SIRONKO        U2789      M
224  Eastern       KALIRO        U4144      F
Northern
       REGION  DISTRICT School Index GENDER
53   Northern     NEBBI        U0030      M
71   Northern      LIRA        U0072      M
87   Northern      MOYO        U0263      M
105  Northern    MOROTO        U0739      F
126  Northern      GULU        U2474      F
140  Northern      LIRA        U0060      F
145  Northern  ADJUMANI        U1104      F
149  Northern      KOLE        U1104      M
183  Northern      ABIM        U0572      M
195  Northern     AGAGO        U1224      M
Western
      REGION   DISTRICT School Index GENDER
2    Western     KASESE        U0459      F
4    Western     IBANDA        U0083      F
9    Western  RUKUNGIRI        U1224      M
15   Western   KABAROLE        U0459      F
21   Western      HOIMA        U2381      M
27   Western      HOIMA        U2839      F
28   Western   KAMWENGE        U2144      F
37   Western   KAMWENGE        U0760      M
39   Western      HOIMA        U0053      M
44   Western     KABALE        U0053      M
46   Western   BUSHENYI        U0052      M
62   Western     SHEEMA        U2055      M
65   Western   KABAROLE        U0848      M
67   Western    KANUNGU        U0492      F
68   Western    MASINDI        U0645      F
77   Western    MITOOMA        U0564      F
78   Western     SHEEMA        U0896      F
79   Western     IBANDA        U0681      F
91   Western    MBARARA        U1656      M
92   Western     IBANDA        U2061      M
99   Western     SHEEMA        U0245      F
100  Western    MBARARA        U0539      M
108  Western     KASESE        U3694      F
111  Western     KISORO        U0582      F
112  Western    MBARARA        U1825      F
115  Western     KASESE        U1867      F
122  Western      HOIMA        U0036      M
123  Western     KASESE        U0744      M
124  Western   NTUNGAMO        U0367      F
127  Western    MITOOMA        U0082      M
136  Western     SHEEMA        U0140      F
141  Western      HOIMA        U1974      M
143  Western   NTUNGAMO        U0387      M
144  Western      HOIMA        U0691      M
155  Western     IBANDA        U1609      F
158  Western    MBARARA        U2929      M
162  Western     IBANDA        U1661      F
163  Western   ISINGIRO        U1682      F
171  Western     KABALE        U1443      M
179  Western   BUSHENYI        U0346      M
181  Western    KANUNGU        U0080      F
184  Western  RUKUNGIRI        U2929      M
192  Western      HOIMA        U1148      M
193  Western   KABAROLE        U0391      F
196  Western     KABALE        U0525      F
209  Western    MBARARA        U0083      F
210  Western     KASESE        U3263      F
215  Western     KABALE        U0763      F
217  Western   KABAROLE        U2338      M
223  Western   BUSHENYI        U0009      F
225  Western      HOIMA        U0060      F
226  Western     KASESE        U0083      F

In [78]:
grouped.describe()

                      count       mean        std   min     25%    50%  \
REGION  DISTRICT
Central BUIKWE          3.0  32.633333   9.242474  27.0  27.300  27.60
        BUKOMANSIMBI    1.0  46.700000        NaN  46.7  46.700  46.70
        BUTAMBALA       3.0  35.333333   7.245918  31.1  31.150  31.20
        GOMBA           2.0  27.850000  11.242998  19.9  23.875  27.85
        KAMPALA        15.0  29.406667   7.775829  16.7  23.850  29.10
...                     ...        ...        ...   ...     ...    ...
Western MBARARA         5.0  30.580000   9.528221  22.4  24.100  24.90
        MITOOMA         2.0  23.250000   4.596194  20.0  21.625  23.25
        NTUNGAMO        2.0  19.150000   1.767767  17.9  18.525  19.15
        RUKUNGIRI       2.0  44.150000   8.838835  37.9  41.025  44.15
        SHEEMA          4.0  24.500000   3.836665  19.3  22.900  25.30

                         75%   max
REGION  DISTRICT
Central BUIKWE        35.450  43.3
        BUKOMANSIMBI  46.700  46.7
        BUTAMBALA     37.450  43.7
        GOMBA         31.825  35.8
        KAMPALA       35.550  43.3
...                      ...   ...
Western MBARARA       38.000  43.5
        MITOOMA       24.875  26.5
        NTUNGAMO      19.775  20.4
        RUKUNGIRI     47.275  50.4
        SHEEMA        26.900  28.1

[61 rows x 8 columns]

In [79]:
# Top 10 student with highest total weight
def top(df, n=10, column='Total Weight'):
    return df.sort_values(column,
                         ascending=False)[:n]

In [80]:
# Returns the top 10 students with the highest total weight.
# Further analysis can be done to find statistics for this analysis.
top10 = top(makData, n=10)

In [81]:
top10

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight,School Index,REGION
184,23APF1151679609140229,U2929/517,NASASIRA MANZI ELISHAMA,M,2022,50,RUKUNGIRI,ADM,Bachelor of Business Administration,50.4,U2929,Western
185,23APF364716610133620,U3297/560,NAHURIRA PHIONAH,F,2022,51,SEMBABULE,ADM,Bachelor of Business Administration,50.1,U3297,Central
186,23APF578322034125667,U0060/527,NABUNYA DESIRE,F,2022,55,WAKISO,ADM,Bachelor of Business Administration,47.7,U0060,Central
187,23APF1473406434111376,U0013/551,NAKACHWA RACHEAL NALUBEGA,F,2022,55,WAKISO,ADM,Bachelor of Business Administration,47.6,U0013,Central
188,23APF755418932138919,U0752/505,MAGOBA IMMACULATE,F,2022,11,JINJA,ADM,Bachelor of Business Administration,47.5,U0752,Eastern
154,23APF161477980127627,U0857/653,GWOKYALYA KEZIA BEATRICE,F,2022,55,WAKISO,ADJ,B.Business Administration(Jinja),47.2,U0857,Central
189,23APF257886745142336,U0959/503,SSANSA MARK,M,2022,86,BUKOMANSIMBI,ADM,Bachelor of Business Administration,46.7,U0959,Central
190,23APF1187018402140623,U0030/574,NAMWANI KWAGALA DORCUS,F,2022,55,WAKISO,ADM,Bachelor of Business Administration,46.4,U0030,Central
191,23APF1560811000107227,U3297/527,NAMUGENYI PATRICIA,F,2022,33,MASAKA,ADM,Bachelor of Business Administration,46.3,U3297,Central
192,23APF535462915141443,U1148/586,MIGISA WILLIAM,M,2022,9,HOIMA,ADM,Bachelor of Business Administration,46.2,U1148,Western

In [82]:
# Top 10 distribution by Region, District and Gender
top10.groupby(['REGION', 'DISTRICT', 'GENDER'])['Total Weight'].count()

REGION   DISTRICT      GENDER
Central  BUKOMANSIMBI  M         1
         MASAKA        F         1
         SEMBABULE     F         1
         WAKISO        F         4
Eastern  JINJA         F         1
Western  HOIMA         M         1
         RUKUNGIRI     M         1
Name: Total Weight, dtype: int64

In [83]:
makData.iloc[190]

Form ID                       23APF1298287659100127
Index No                                  U0061/597
NAME                                 NAMUJJU SHAMIM
GENDER                                            F
UACE YEAR                                      2022
CODE                                            120
DISTRICT                                    KYOTERA
COURSE CODE                                     ADM
COURSE NAME     Bachelor of Business Administration
Total Weight                                   45.7
School Index                                  U0061
REGION                                         None
Name: 194, dtype: object

In [84]:
# last 10 students admitted by total weight
def last(df, n, column='Total Weight'):
    return df.sort_values(column,
                         ascending=True)[:n]

In [85]:
last10 = last(makData, n=10)

In [86]:
# This informs hidden patterns in socio-economic lives of people
# from this regions
last10.groupby(by=['REGION'])['NAME'].count()

REGION
Central     1
Eastern     4
Northern    3
Western     2
Name: NAME, dtype: int64

In [87]:
last10.groupby(['REGION', 'DISTRICT'])['Total Weight'].count()

REGION    DISTRICT
Central   KAMPALA     1
Eastern   BUGIRI      1
          JINJA       1
          SOROTI      2
Northern  ABIM        1
          ADJUMANI    1
          KOLE        1
Western   HOIMA       1
          NTUNGAMO    1
Name: Total Weight, dtype: int64

In [93]:
# Quartiles
# Quartiles are data categories thus data can be categorized
# using quartiles
quartiles = pd.cut(makData['Total Weight'],
                   4,
                   labels=["Very Low", "Low", "High", "Very High"])

In [94]:
quartiles

0      Very High
1           High
2           High
3           High
4           High
         ...
222    Very High
223    Very High
224    Very High
225    Very High
226    Very High
Name: Total Weight, Length: 223, dtype: category
Categories (4, object): ['Very Low' < 'Low' < 'High' < 'Very High']

In [95]:
# Grouping by quartiles
makData.groupby(quartiles)['Total Weight'].agg(["min", "max", "mean", "count"])

               min   max       mean  count
Total Weight
Very Low      14.3  23.3  20.147170     53
Low           23.5  32.3  27.511111     90
High          32.4  41.1  36.106061     33
Very High     41.4  50.4  44.444681     47

In [98]:
quartiles2 = pd.qcut(makData['Total Weight'],
                     4,
                     labels=False)

In [99]:
makData.groupby(quartiles2)['NAME'].count()

Total Weight
0    57
1    55
2    55
3    56
Name: NAME, dtype: int64