In [66]:
import numpy as np
import tabula
import pandas as pd

In [67]:
makData = pd.read_csv("preprocessed/finalDataV1.csv", index_col=0)

In [68]:
makData

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022,42,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022,40,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022,21,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022,33,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022,65,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022,52,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022,6,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022,71,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022,9,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022,21,KASESE,ADM,Bachelor of Business Administration,42.6

In [69]:
makData = makData[makData["Total Weight"] != "Tot_wt"]

In [70]:
makData = makData.astype({"Total Weight": 'float'})

In [71]:
makData["Total Weight"]

0      42.2
1      41.1
2      40.6
3      38.8
4      38.4
       ...
222    42.7
223    42.6
224    42.6
225    42.6
226    42.6
Name: Total Weight, Length: 226, dtype: float64

In [72]:
makData["Total Weight"].groupby(makData['GENDER']).mean()

GENDER
F    32.398246
M    28.722936
Name: Total Weight, dtype: float64