In [1]:
import numpy as np
import tabula
import pandas as pd

In [2]:
makData = pd.read_csv("preprocessed/finalDataV1.csv", index_col=0)

In [3]:
makData

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022,42,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022,40,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022,21,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022,33,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022,65,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022,52,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022,6,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022,71,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022,9,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022,21,KASESE,ADM,Bachelor of Business Administration,42.6

In [4]:
makData = makData[makData["Total Weight"] != "Tot_wt"]

In [5]:
makData = makData.astype({"Total Weight": 'float', "Index No": "string"})

In [6]:
# Save df
makData.to_csv("preprocessed/finalDfV2.csv")

In [7]:
makData = makData.dropna()

In [8]:
makData["Total Weight"]

0      42.2
1      41.1
2      40.6
3      38.8
4      38.4
       ...
222    42.7
223    42.6
224    42.6
225    42.6
226    42.6
Name: Total Weight, Length: 223, dtype: float64

In [9]:
makData["Total Weight"].tail(75)

148    16.0
149    15.7
154    47.2
155    46.0
156    41.4
       ...
222    42.7
223    42.6
224    42.6
225    42.6
226    42.6
Name: Total Weight, Length: 75, dtype: float64

In [10]:
# Computing average weight for each sex
makData["Total Weight"].groupby(makData['GENDER']).mean()

GENDER
F    32.398246
M    28.722936
Name: Total Weight, dtype: float64

In [11]:
# Statistics about schools, schools can be identified by index numbers
# Write a function that extracts school index numbers from student index.
def schoolIndex(index):
    return index[:6]

In [12]:
# Return admissions by ditrict and year of entry.
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
                           )['Index No'].count().head(50)

DISTRICT      UACE YEAR  GENDER
ABIM          2022       M         1
ADJUMANI      2022       F         1
AGAGO         2022       M         1
BUDAKA        2022       F         1
                         M         1
BUGIRI        2022       F         2
BUIKWE        2022       F         1
                         M         2
BUKEDEA       2011       M         1
BUKOMANSIMBI  2022       M         1
BUKWO         2022       M         1
BUNYANGABU    2022       M         1
BUSHENYI      2022       F         1
                         M         2
BUSIA         2020       M         1
              2022       M         2
BUTALEJA      2022       F         1
BUTAMBALA     2022       F         1
                         M         2
BUYENDE       2022       M         1
GOMBA         2022       M         2
GULU          2022       F         1
HOIMA         2009       M         1
              2022       F         2
                         M         5
IBANDA        2022       F         4
                         M         1
IGANGA        2007       F         1
              2022       F         2
                         M         2
ISINGIRO      2022       F         1
JINJA         2020       M         1
              2022       F         4
                         M         3
KABALE        2018       M         1
              2022       F         2
                         M         1
KABAROLE      2015       M         1
              2022       F         2
                         M         1
KABERAMAIDO   2022       F         1
KAGADI        2022       M         1
KALIRO        2022       F         2
                         M         1
KAMPALA       2011       M         1
              2020       M         1
              2022       F         5
                         M         8
KAMULI        2009       M         1
              2022       F         1
Name: Index No, dtype: int64

In [13]:
# 
regions = {"Eastern": ['Amuria', 'Budaka', 'Bududa', 'Bugiri', 'Bukedea', 'Bukwa', 'Bulambuli',
                      'Busia', 'Butalega', 'Buyende', 'Iganga', 'Jinja', 'Kaberamaido', 'Kaliro',
                      'Kapchorwa', 'Katakwi', 'Kibuku', 'Kumi', 'Kween', 'Luuka', 'Manafwa',
                       'Mayuge', 'Mbale', 'Namayingo', 'Namutumba', 'Ngora', 'Pallisa', 'Serere',
                      'Sironko', 'Soroti', 'Tororo'],
          'Central': ['Buikwe', 'Bukomansibi', 'Butambala', 'Buvuma', 'Gomba', 'Kalangala', 'Kalungu',
                     'Kampala', 'Kayunga', 'Kiboga', 'Kyankwazi', 'Luwero', 'Lwengo', 'Lyantonde',
                     'Masaka', 'Mityana', 'Mpigi', 'Mubende', 'Mukono', 'Nakaseke', 'Nakasongola',
                     'Rakai', 'Sembabule', 'Wakiso'],
          'Northern': ['Abim', 'Adjumani', 'Agago', 'Alebtong', 'Amolator', 'Amudat', 'Amuru', 'Apac',
                      'Arua', 'Dokolo', 'Gulu', 'Kaabong', 'Kitgum', 'Koboko', 'Kole', 'Kotido', 
                      'Lamwo', 'Lira', 'Maracha', 'Moroto', 'Moyo', 'Nakapiripiriti', 'Napak', 'Nebbi',
                      'Nwoya', 'Otuke', 'Oyam', 'Pader', 'Yumbe', 'Zombe'],
          'Western': ['Buhweju', 'Bulisa', 'Bundibugyo', 'Bushenyi', 'Hoima', 'Ibanda', 'Isingiro',
                     'Kabale', 'Kabarole', 'Kamwenge', 'Kanungu', 'Kasese', 'Kibaale', 'kiruhura', 'Kiryandongo',
                     'Kisoro', 'Kyengegwa', 'Masindi', 'Mbarara', 'Mitooma', 'Ntoroko', 'Ntungamo', 'Ribirizi',
                     'Rukungiri', 'Sheema']}
for key, value in regions.items():
    for i in range(len(value)):
        value[i] = value[i].upper()

In [14]:
regions

{'Eastern': ['AMURIA',
  'BUDAKA',
  'BUDUDA',
  'BUGIRI',
  'BUKEDEA',
  'BUKWA',
  'BULAMBULI',
  'BUSIA',
  'BUTALEGA',
  'BUYENDE',
  'IGANGA',
  'JINJA',
  'KABERAMAIDO',
  'KALIRO',
  'KAPCHORWA',
  'KATAKWI',
  'KIBUKU',
  'KUMI',
  'KWEEN',
  'LUUKA',
  'MANAFWA',
  'MAYUGE',
  'MBALE',
  'NAMAYINGO',
  'NAMUTUMBA',
  'NGORA',
  'PALLISA',
  'SERERE',
  'SIRONKO',
  'SOROTI',
  'TORORO'],
 'Central': ['BUIKWE',
  'BUKOMANSIBI',
  'BUTAMBALA',
  'BUVUMA',
  'GOMBA',
  'KALANGALA',
  'KALUNGU',
  'KAMPALA',
  'KAYUNGA',
  'KIBOGA',
  'KYANKWAZI',
  'LUWERO',
  'LWENGO',
  'LYANTONDE',
  'MASAKA',
  'MITYANA',
  'MPIGI',
  'MUBENDE',
  'MUKONO',
  'NAKASEKE',
  'NAKASONGOLA',
  'RAKAI',
  'SEMBABULE',
  'WAKISO'],
 'Northern': ['ABIM',
  'ADJUMANI',
  'AGAGO',
  'ALEBTONG',
  'AMOLATOR',
  'AMUDAT',
  'AMURU',
  'APAC',
  'ARUA',
  'DOKOLO',
  'GULU',
  'KAABONG',
  'KITGUM',
  'KOBOKO',
  'KOLE',
  'KOTIDO',
  'LAMWO',
  'LIRA',
  'MARACHA',
  'MOROTO',
  'MOYO',
  'NAKAPIRIPIRITI',
  'NAPAK',
  'NEBBI',
  'NWOYA',
  'OTUKE',
  'OYAM',
  'PADER',
  'YUMBE',
  'ZOMBE'],
 'Western': ['BUHWEJU',
  'BULISA',
  'BUNDIBUGYO',
  'BUSHENYI',
  'HOIMA',
  'IBANDA',
  'ISINGIRO',
  'KABALE',
  'KABAROLE',
  'KAMWENGE',
  'KANUNGU',
  'KASESE',
  'KIBAALE',
  'KIRUHURA',
  'KIRYANDONGO',
  'KISORO',
  'KYENGEGWA',
  'MASINDI',
  'MBARARA',
  'MITOOMA',
  'NTOROKO',
  'NTUNGAMO',
  'RIBIRIZI',
  'RUKUNGIRI',
  'SHEEMA']}

In [15]:
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
                           )['Index No'].count().head(50)

DISTRICT      UACE YEAR  GENDER
ABIM          2022       M         1
ADJUMANI      2022       F         1
AGAGO         2022       M         1
BUDAKA        2022       F         1
                         M         1
BUGIRI        2022       F         2
BUIKWE        2022       F         1
                         M         2
BUKEDEA       2011       M         1
BUKOMANSIMBI  2022       M         1
BUKWO         2022       M         1
BUNYANGABU    2022       M         1
BUSHENYI      2022       F         1
                         M         2
BUSIA         2020       M         1
              2022       M         2
BUTALEJA      2022       F         1
BUTAMBALA     2022       F         1
                         M         2
BUYENDE       2022       M         1
GOMBA         2022       M         2
GULU          2022       F         1
HOIMA         2009       M         1
              2022       F         2
                         M         5
IBANDA        2022       F         4
                         M         1
IGANGA        2007       F         1
              2022       F         2
                         M         2
ISINGIRO      2022       F         1
JINJA         2020       M         1
              2022       F         4
                         M         3
KABALE        2018       M         1
              2022       F         2
                         M         1
KABAROLE      2015       M         1
              2022       F         2
                         M         1
KABERAMAIDO   2022       F         1
KAGADI        2022       M         1
KALIRO        2022       F         2
                         M         1
KAMPALA       2011       M         1
              2020       M         1
              2022       F         5
                         M         8
KAMULI        2009       M         1
              2022       F         1
Name: Index No, dtype: int64

In [16]:
lst = [1, 2, 3, 1, 2, 3]
s = pd.Series([1, 2, 3, 10, 20, 30], lst)
grouped = s.groupby(level=0)

In [17]:
grouped.first()

1    1
2    2
3    3
dtype: int64

In [24]:
# Sorting process consumes processor resources, for potential speedup, 
# the sorting option can be disabled.
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
#                 as_index=False
                           )['Index No'].last()

DISTRICT  UACE YEAR  GENDER
ABIM      2022       M         U0572/506
ADJUMANI  2022       F         U1104/600
AGAGO     2022       M         U1224/898
BUDAKA    2022       F         U3219/508
                     M         U2244/525
                                 ...
WAKISO    2017       F         U0923/523
          2018       M         U2373/501
          2020       F         U0780/559
          2022       F         U1224/830
                     M         U0034/519
Name: Index No, Length: 122, dtype: string

In [29]:
# Getting admitted Students from IGANGA district
makData.groupby(["DISTRICT"]).get_group('IGANGA')

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
18,23APF980625096133316,U0737/531,MUDOBYA CHRISTINE,F,2007,10,IGANGA,ACC,BSC. Accounting (EVE),34.6
43,23APF271115874132692,U1879/641,NAKIYEMBA PHIONA,F,2022,10,IGANGA,ACC,BSC. Accounting (EVE),30.3
56,23APF825010272123233,U0061/552,MUTESI SHADIA,F,2022,10,IGANGA,ACC,BSC. Accounting (EVE),28.6
90,23APF1502921010146109,U1525/532,KASADHA NATHAN,M,2022,10,IGANGA,ACC,BSC. Accounting (EVE),25.0
128,23APF6816076136686,U0812/509,KASADHA AUSI,M,2022,10,IGANGA,ACC,BSC. Accounting (EVE),19.9

In [20]:
makData.groupby('DISTRICT').groups

{'ABIM': [183], 'ADJUMANI': [145], 'AGAGO': [195], 'BUDAKA': [32, 103], 'BUGIRI': [148, 169], 'BUIKWE': [73, 166, 211], 'BUKEDEA': [139], 'BUKOMANSIMBI': [189], 'BUKWO': [64], 'BUNYANGABU': [26], 'BUSHENYI': [46, 179, 223], 'BUSIA': [54, 81, 178], 'BUTALEJA': [167], 'BUTAMBALA': [33, 35, 204], 'BUYENDE': [36], 'GOMBA': [13, 129], 'GULU': [126], 'HOIMA': [21, 27, 39, 122, 141, 144, 192, 225], 'IBANDA': [4, 79, 92, 155, 162], 'IGANGA': [18, 43, 56, 90, 128], 'ISINGIRO': [163], 'JINJA': [24, 30, 55, 159, 164, 180, 182, 188], 'KABALE': [44, 171, 196, 215], 'KABAROLE': [15, 65, 193, 217], 'KABERAMAIDO': [173], 'KAGADI': [23], 'KALIRO': [93, 160, 224], 'KAMPALA': [8, 10, 14, 16, 31, 41, 50, 57, 63, 80, 119, 131, 135, 146, 212], 'KAMULI': [11, 59], 'KAMWENGE': [28, 37], 'KANUNGU': [67, 181], 'KASESE': [2, 108, 115, 123, 210, 226], 'KAYUNGA': [117], 'KIBOGA': [6, 156], 'KIBUKU': [113, 121], 'KISORO': [111], 'KOLE': [149], 'KYANKWANZI': [72], 'KYEGEGWA': [104], 'KYENJOJO': [25], 'KYOTERA': [194], 'LIRA': [71, 140], 'LUWEERO': [45, 70, 133, 168, 200], 'LWENGO': [19, 94], 'LYANTONDE': [137], 'MASAKA': [3, 38, 52, 75, 97, 120, 132, 157, 191, 202], 'MASINDI': [68], 'MAYUGE': [170], 'MBALE': [83, 86, 161], 'MBARARA': [91, 100, 112, 158, 209], 'MITOOMA': [77, 127], 'MITYANA': [7, 69, 98, 197, 213], 'MOROTO': [105], 'MOYO': [87], 'MPIGI': [1], 'MUBENDE': [34], 'MUKONO': [0, 40, 42, 96, 134, 172, 205], 'NAKASEKE': [219], 'NAKASONGOLA': [208], 'NAMUTUMBA': [89, 174], 'NEBBI': [53], 'NTUNGAMO': [124, 143], 'PALLISA': [95, 176], 'RAKAI': [17, 61], 'RUBANDA': [106], 'RUKIGA': [118], 'RUKUNGIRI': [9, 184], 'SEMBABULE': [58, 185], 'SHEEMA': [62, 78, 99, 136], 'SIRONKO': [216, 222], 'SOROTI': [107, 142, 147, 214], 'TORORO': [49, 51, 84, 110, 114, 116, 125], 'WAKISO': [5, 12, 20, 22, 29, 47, 48, 60, 66, 74, 76, 82, 85, 88, 101, 102, 109, 130, 138, 154, 165, 175, 177, 186, 187, 190, 198, 199, 201, 203, 206, 207, 218, 220, 221]}

In [28]:
# This returns unique year counts for each district
makData.groupby("DISTRICT")['UACE YEAR'].nunique()

DISTRICT
ABIM        1
ADJUMANI    1
AGAGO       1
BUDAKA      1
BUGIRI      1
           ..
SHEEMA      1
SIRONKO     1
SOROTI      1
TORORO      1
WAKISO      5
Name: UACE YEAR, Length: 73, dtype: int64

In [40]:
makData.groupby(['DISTRICT', 'GENDER', 'UACE YEAR']
#                 ,as_index=False
               )['UACE YEAR'].agg('count')

DISTRICT  GENDER  UACE YEAR
ABIM      M       2022          1
ADJUMANI  F       2022          1
AGAGO     M       2022          1
BUDAKA    F       2022          1
          M       2022          1
                               ..
WAKISO    F       2020          1
                  2022         20
          M       2016          1
                  2018          1
                  2022         11
Name: UACE YEAR, Length: 122, dtype: int64

In [44]:
makData.groupby('DISTRICT')[['Index No']].agg(lambda x: x)

TypeError: NDFrame.last() missing 1 required positional argument: 'offset'