In [102]:
import numpy as np
import tabula
import pandas as pd

In [103]:
makData = pd.read_csv("preprocessed/finalDataV1.csv", index_col=0)

In [104]:
makData

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022,42,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022,40,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022,21,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022,33,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022,65,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022,52,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022,6,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022,71,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022,9,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022,21,KASESE,ADM,Bachelor of Business Administration,42.6

In [105]:
makData = makData[makData["Total Weight"] != "Tot_wt"]

In [106]:
makData = makData.astype({"Total Weight": 'float', "Index No": "string"})

In [107]:
# Save df
makData.to_csv("preprocessed/finalDfV2.csv")

In [108]:
makData = makData.dropna()

In [109]:
makData["Total Weight"]

0      42.2
1      41.1
2      40.6
3      38.8
4      38.4
       ...
222    42.7
223    42.6
224    42.6
225    42.6
226    42.6
Name: Total Weight, Length: 223, dtype: float64

In [110]:
makData["Total Weight"].tail(75)

148    16.0
149    15.7
154    47.2
155    46.0
156    41.4
       ...
222    42.7
223    42.6
224    42.6
225    42.6
226    42.6
Name: Total Weight, Length: 75, dtype: float64

In [111]:
# Computing average weight for each sex
makData["Total Weight"].groupby(makData['GENDER']).mean()

GENDER
F    32.398246
M    28.722936
Name: Total Weight, dtype: float64

In [112]:
# Statistics about schools, schools can be identified by index numbers
# Write a function that extracts school index numbers from student index.
def schoolIndex(index):
    return index[:6]

In [113]:
# Return admissions by ditrict and year of entry.
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
                           )['Index No'].count().head(50)

DISTRICT      UACE YEAR  GENDER
ABIM          2022       M         1
ADJUMANI      2022       F         1
AGAGO         2022       M         1
BUDAKA        2022       F         1
                         M         1
BUGIRI        2022       F         2
BUIKWE        2022       F         1
                         M         2
BUKEDEA       2011       M         1
BUKOMANSIMBI  2022       M         1
BUKWO         2022       M         1
BUNYANGABU    2022       M         1
BUSHENYI      2022       F         1
                         M         2
BUSIA         2020       M         1
              2022       M         2
BUTALEJA      2022       F         1
BUTAMBALA     2022       F         1
                         M         2
BUYENDE       2022       M         1
GOMBA         2022       M         2
GULU          2022       F         1
HOIMA         2009       M         1
              2022       F         2
                         M         5
IBANDA        2022       F         4
                         M         1
IGANGA        2007       F         1
              2022       F         2
                         M         2
ISINGIRO      2022       F         1
JINJA         2020       M         1
              2022       F         4
                         M         3
KABALE        2018       M         1
              2022       F         2
                         M         1
KABAROLE      2015       M         1
              2022       F         2
                         M         1
KABERAMAIDO   2022       F         1
KAGADI        2022       M         1
KALIRO        2022       F         2
                         M         1
KAMPALA       2011       M         1
              2020       M         1
              2022       F         5
                         M         8
KAMULI        2009       M         1
              2022       F         1
Name: Index No, dtype: int64

In [114]:
# 
regions = {"Eastern": ['Amuria', 'Budaka', 'Bududa', 'Bugiri', 'Bukedea', 'Bukwa', 'Bulambuli',
                      'Busia', 'Butalega', 'Buyende', 'Iganga', 'Jinja', 'Kaberamaido', 'Kaliro',
                      'Kapchorwa', 'Katakwi', 'Kibuku', 'Kumi', 'Kween', 'Luuka', 'Manafwa',
                       'Mayuge', 'Mbale', 'Namayingo', 'Namutumba', 'Ngora', 'Pallisa', 'Serere',
                      'Sironko', 'Soroti', 'Tororo'],
          'Central': ['Buikwe', 'Bukomansibi', 'Butambala', 'Buvuma', 'Gomba', 'Kalangala', 'Kalungu',
                     'Kampala', 'Kayunga', 'Kiboga', 'Kyankwazi', 'Luwero', 'Lwengo', 'Lyantonde',
                     'Masaka', 'Mityana', 'Mpigi', 'Mubende', 'Mukono', 'Nakaseke', 'Nakasongola',
                     'Rakai', 'Sembabule', 'Wakiso'],
          'Northern': ['Abim', 'Adjumani', 'Agago', 'Alebtong', 'Amolator', 'Amudat', 'Amuru', 'Apac',
                      'Arua', 'Dokolo', 'Gulu', 'Kaabong', 'Kitgum', 'Koboko', 'Kole', 'Kotido', 
                      'Lamwo', 'Lira', 'Maracha', 'Moroto', 'Moyo', 'Nakapiripiriti', 'Napak', 'Nebbi',
                      'Nwoya', 'Otuke', 'Oyam', 'Pader', 'Yumbe', 'Zombe'],
          'Western': ['Buhweju', 'Bulisa', 'Bundibugyo', 'Bushenyi', 'Hoima', 'Ibanda', 'Isingiro',
                     'Kabale', 'Kabarole', 'Kamwenge', 'Kanungu', 'Kasese', 'Kibaale', 'kiruhura', 'Kiryandongo',
                     'Kisoro', 'Kyengegwa', 'Masindi', 'Mbarara', 'Mitooma', 'Ntoroko', 'Ntungamo', 'Ribirizi',
                     'Rukungiri', 'Sheema']}
for key, value in regions.items():
    for i in range(len(value)):
        value[i] = value[i].upper()

In [115]:
regions

{'Eastern': ['AMURIA',
  'BUDAKA',
  'BUDUDA',
  'BUGIRI',
  'BUKEDEA',
  'BUKWA',
  'BULAMBULI',
  'BUSIA',
  'BUTALEGA',
  'BUYENDE',
  'IGANGA',
  'JINJA',
  'KABERAMAIDO',
  'KALIRO',
  'KAPCHORWA',
  'KATAKWI',
  'KIBUKU',
  'KUMI',
  'KWEEN',
  'LUUKA',
  'MANAFWA',
  'MAYUGE',
  'MBALE',
  'NAMAYINGO',
  'NAMUTUMBA',
  'NGORA',
  'PALLISA',
  'SERERE',
  'SIRONKO',
  'SOROTI',
  'TORORO'],
 'Central': ['BUIKWE',
  'BUKOMANSIBI',
  'BUTAMBALA',
  'BUVUMA',
  'GOMBA',
  'KALANGALA',
  'KALUNGU',
  'KAMPALA',
  'KAYUNGA',
  'KIBOGA',
  'KYANKWAZI',
  'LUWERO',
  'LWENGO',
  'LYANTONDE',
  'MASAKA',
  'MITYANA',
  'MPIGI',
  'MUBENDE',
  'MUKONO',
  'NAKASEKE',
  'NAKASONGOLA',
  'RAKAI',
  'SEMBABULE',
  'WAKISO'],
 'Northern': ['ABIM',
  'ADJUMANI',
  'AGAGO',
  'ALEBTONG',
  'AMOLATOR',
  'AMUDAT',
  'AMURU',
  'APAC',
  'ARUA',
  'DOKOLO',
  'GULU',
  'KAABONG',
  'KITGUM',
  'KOBOKO',
  'KOLE',
  'KOTIDO',
  'LAMWO',
  'LIRA',
  'MARACHA',
  'MOROTO',
  'MOYO',
  'NAKAPIRIPIRITI',
  'NAPAK',
  'NEBBI',
  'NWOYA',
  'OTUKE',
  'OYAM',
  'PADER',
  'YUMBE',
  'ZOMBE'],
 'Western': ['BUHWEJU',
  'BULISA',
  'BUNDIBUGYO',
  'BUSHENYI',
  'HOIMA',
  'IBANDA',
  'ISINGIRO',
  'KABALE',
  'KABAROLE',
  'KAMWENGE',
  'KANUNGU',
  'KASESE',
  'KIBAALE',
  'KIRUHURA',
  'KIRYANDONGO',
  'KISORO',
  'KYENGEGWA',
  'MASINDI',
  'MBARARA',
  'MITOOMA',
  'NTOROKO',
  'NTUNGAMO',
  'RIBIRIZI',
  'RUKUNGIRI',
  'SHEEMA']}

In [116]:
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
                           )['Index No'].count().head(50)

DISTRICT      UACE YEAR  GENDER
ABIM          2022       M         1
ADJUMANI      2022       F         1
AGAGO         2022       M         1
BUDAKA        2022       F         1
                         M         1
BUGIRI        2022       F         2
BUIKWE        2022       F         1
                         M         2
BUKEDEA       2011       M         1
BUKOMANSIMBI  2022       M         1
BUKWO         2022       M         1
BUNYANGABU    2022       M         1
BUSHENYI      2022       F         1
                         M         2
BUSIA         2020       M         1
              2022       M         2
BUTALEJA      2022       F         1
BUTAMBALA     2022       F         1
                         M         2
BUYENDE       2022       M         1
GOMBA         2022       M         2
GULU          2022       F         1
HOIMA         2009       M         1
              2022       F         2
                         M         5
IBANDA        2022       F         4
                         M         1
IGANGA        2007       F         1
              2022       F         2
                         M         2
ISINGIRO      2022       F         1
JINJA         2020       M         1
              2022       F         4
                         M         3
KABALE        2018       M         1
              2022       F         2
                         M         1
KABAROLE      2015       M         1
              2022       F         2
                         M         1
KABERAMAIDO   2022       F         1
KAGADI        2022       M         1
KALIRO        2022       F         2
                         M         1
KAMPALA       2011       M         1
              2020       M         1
              2022       F         5
                         M         8
KAMULI        2009       M         1
              2022       F         1
Name: Index No, dtype: int64

In [117]:
lst = [1, 2, 3, 1, 2, 3]
s = pd.Series([1, 2, 3, 10, 20, 30], lst)
grouped = s.groupby(level=0)

In [118]:
grouped.first()

1    1
2    2
3    3
dtype: int64

In [119]:
# Sorting process consumes processor resources, for potential speedup, 
# the sorting option can be disabled.
makData.groupby(['DISTRICT', 'UACE YEAR', 'GENDER'],
                sort=True,
#               axis="columns"
#                 as_index=False
                           )['Index No'].last()

DISTRICT  UACE YEAR  GENDER
ABIM      2022       M         U0572/506
ADJUMANI  2022       F         U1104/600
AGAGO     2022       M         U1224/898
BUDAKA    2022       F         U3219/508
                     M         U2244/525
                                 ...
WAKISO    2017       F         U0923/523
          2018       M         U2373/501
          2020       F         U0780/559
          2022       F         U1224/830
                     M         U0034/519
Name: Index No, Length: 122, dtype: string

In [120]:
# Getting admitted Students from IGANGA district
makData.groupby(["DISTRICT"]).get_group('IGANGA')

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
18,23APF980625096133316,U0737/531,MUDOBYA CHRISTINE,F,2007,10,IGANGA,ACC,BSC. Accounting (EVE),34.6
43,23APF271115874132692,U1879/641,NAKIYEMBA PHIONA,F,2022,10,IGANGA,ACC,BSC. Accounting (EVE),30.3
56,23APF825010272123233,U0061/552,MUTESI SHADIA,F,2022,10,IGANGA,ACC,BSC. Accounting (EVE),28.6
90,23APF1502921010146109,U1525/532,KASADHA NATHAN,M,2022,10,IGANGA,ACC,BSC. Accounting (EVE),25.0
128,23APF6816076136686,U0812/509,KASADHA AUSI,M,2022,10,IGANGA,ACC,BSC. Accounting (EVE),19.9

In [122]:
# This returns unique year counts for each district
makData.groupby("DISTRICT")['UACE YEAR'].nunique()

DISTRICT
ABIM        1
ADJUMANI    1
AGAGO       1
BUDAKA      1
BUGIRI      1
           ..
SHEEMA      1
SIRONKO     1
SOROTI      1
TORORO      1
WAKISO      5
Name: UACE YEAR, Length: 73, dtype: int64

In [123]:
makData.groupby(['DISTRICT', 'GENDER', 'UACE YEAR']
#                 ,as_index=False
               )['UACE YEAR'].agg('count')

DISTRICT  GENDER  UACE YEAR
ABIM      M       2022          1
ADJUMANI  F       2022          1
AGAGO     M       2022          1
BUDAKA    F       2022          1
          M       2022          1
                               ..
WAKISO    F       2020          1
                  2022         20
          M       2016          1
                  2018          1
                  2022         11
Name: UACE YEAR, Length: 122, dtype: int64

In [124]:
def get_school_indexNo(studentIndex):
    return str(studentIndex)[:5]

In [212]:
# This adds a column named 'School Index' computed from student Index Number
makData['School Index'] = makData['Index No'].apply(get_school_indexNo)

In [254]:
# Group by district, school Index, UACE year, Gender and return count for data
makData.groupby(['DISTRICT', 'School Index', 'UACE YEAR', 'GENDER'])['GENDER'].count().tail(35)

DISTRICT  School Index  UACE YEAR  GENDER
TORORO    U0956         2022       F         1
          U1104         2022       F         1
          U1915         2022       M         1
WAKISO    U0013         2022       F         1
          U0030         2022       F         1
          U0034         2022       M         1
          U0053         2022       M         1
          U0060         2022       F         2
          U0190         2022       M         1
          U0200         2022       F         1
          U0334         2022       F         1
          U0458         2022       F         1
          U0645         2022       F         1
          U0714         2022       F         1
          U0780         2020       F         1
          U0852         2022       M         3
          U0857         2022       F         1
          U0884         2022       M         1
          U0923         2017       F         1
          U1144         2022       F         1
          U1224         2022       F         1
          U1249         2016       M         1
          U1501         2022       F         1
          U1542         2022       M         1
          U1783         2022       F         1
          U1979         2022       F         1
          U2177         2022       M         1
          U2236         2022       F         1
          U2245         2022       F         1
          U2373         2018       M         1
          U2431         2022       M         1
          U2546         2022       F         1
          U2789         2022       F         1
          U3002         2022       F         1
          U3681         2022       M         1
Name: GENDER, dtype: int64

In [314]:
# Regions
def get_region(district):
    for regions_names, districts in regions.items():
        if district in regions[regions_names]:
            return regions_names

In [321]:
# Data table with regions
makData['REGION'] = makData['DISTRICT'].apply(get_region)

In [353]:
makData.groupby(['REGION', 'DISTRICT', 'School Index', 'GENDER'])['NAME'].count()

REGION   DISTRICT   School Index  GENDER
Central  BUIKWE     U0174         M         2
                    U1535         F         1
         BUTAMBALA  U0077         F         1
                    U0459         M         1
                    U1969         M         1
                                           ..
Western  RUKUNGIRI  U2929         M         1
         SHEEMA     U0140         F         1
                    U0245         F         1
                    U0896         F         1
                    U2055         M         1
Name: NAME, Length: 200, dtype: int64

In [354]:
# counts of admissions per region
makData.groupby('REGION')['DISTRICT'].count()

REGION
Central     94
Eastern     49
Northern    10
Western     52
Name: DISTRICT, dtype: int64

In [367]:
# mean weight by district per course Name
makData.groupby(['REGION', 'DISTRICT', 'COURSE NAME'])['Total Weight'].agg('mean')

REGION   DISTRICT   COURSE NAME
Central  BUIKWE     B.Business Administration(Jinja)       27.60
                    BSC. Accounting (EVE)                  27.00
                    Bachelor of Business Administration    43.30
         BUTAMBALA  BSC. Accounting (EVE)                  31.15
                    Bachelor of Business Administration    43.70
                                                           ...
Western  MITOOMA    BSC. Accounting (EVE)                  23.25
         NTUNGAMO   BSC. Accounting (EVE)                  19.15
         RUKUNGIRI  BSC. Accounting (EVE)                  37.90
                    Bachelor of Business Administration    50.40
         SHEEMA     BSC. Accounting (EVE)                  24.50
Name: Total Weight, Length: 95, dtype: float64