In [10]:
import pandas as pd
import numpy as np
from random import randint
import yaml
import tabula

In [11]:
mak23 = tabula.read_pdf("examples/Mak2023-2024.pdf", pages="all")

D:\Novel\Data\Python\DataAnalysis\DataAnalysisVenv\Lib\site-packages\tabula\io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [13]:
with open('preprocessingConfig.yml', 'r') as file:
    config = yaml.safe_load(file)

In [14]:
columnNames = config['general']['columnNames']
columnNames2 = config['general']['columnNames2']

In [15]:
def instTest(x):
    try: 
        if isinstance(float(x), float):
            return True
    except ValueError:
        return False

In [16]:
# Function to extract data from data2
def dataProcess(n):
#     if n >= 1:
    studentData = data[n].split()
    # print("Student Data: ", studentData)
    index_no = studentData[0]
    name = " ".join(studentData[1:-7])[:-1]
    gender = studentData[-8][-1]
    UACE_YEAR = int(studentData[-7])
    DistrictCode = int(studentData[-6])
    District = studentData[-5]
    CourseCode = studentData[-4]
    Course = ' '.join(studentData[-3:])
    return [index_no, name, gender, UACE_YEAR,
            DistrictCode, District, CourseCode, Course]

# Get studentData
def getStudentData(data):
    studentList = []
    for x in range(len(data)):
    #     if i > 0:
        student = dataProcess(x)
        studentList.append(student)
    # print(studentList)
    return studentList

# final df
def getFinalDf(pdf_read):
    df = pd.DataFrame(columns=columnNames2, data=[])
    for i in range(len(pdf_read)):
        df = pd.concat([df, getDf(i)], ignore_index=True)
    return df

In [218]:
def getDf():
    # i = randint(0, len(mak23)-1)
    i = 0
    print(i)

    # First column is a common to all, drop it
    df = mak23[i]
    # print(df.head(5))
    
    columns = df.columns
    # print("columns: ", columns)
    df = df.drop(columns[0], axis=1)
    # print(df.head(10))

    # Drop columns with nan values
    print("columns before dropping nan-columns: ", df.shape[1])
    df = df.dropna(axis=1,
                   # thresh=3,
                   how="all",
                  )
    print("columns after dropping: ", df.shape[1])

    # drop rows with nan if they exist
    print("Rows before dropping: ", df.shape[0])
    df = df.dropna(axis=0,
                   # how="any",
                   thresh=3,
                  )

    # Drop rows for which Tot_wt is not float
    df = df[df[columns[-1]] != "Tot_wt"]
    print("Weights: ", df[columns[-1]])
    print(df.shape)
    columns = df.columns
    # print(columns)
    if len(columns) == 3:        
        
        # print(df.head(2))
        data = df[columns[1]].tolist()
        # if i == 0:
        #     data = data[1:]

        # print(data[:4])
        # data = df[columns.tolist()[1]].split()
        # print(df[df.columns[-1]])

        appData = df[df.columns[0]].tolist()
        Tot_weights = df[df.columns[-1]].tolist()
        # print("Length of Tot_weights: ", len(Tot_weights))
        # print("Samples of Tot_weights")
        # print(Tot_weights)
        
        temp = getStudentData(data)
        df = pd.DataFrame(columns=columnNames, data=temp)
        # print("Number of columns: ", df.shape)
        # print("Shape of temp: ", len(temp))
        # insert columns at last position
        df.insert(loc=len(df.columns),
                  column="TOTAL WEIGHT",
                  value=Tot_weights,
                 )
        df.insert(loc=0,
                  column="APPLICATION NO",
                  value=appData,
                 )
        # insert Appplication number column
        appNoData = mak23[i].loc[0]
        return df
    if len(df.columns) == 10:
        df = df[df[columns[-1]] != "Tot_wt"]
        # Rename columns
        columns = df.columns
        df = df.rename(columns={columns[x]:columnNames2[x] for x in range(len(columns))})
        return df

In [20]:
# getFinalDf(mak23)

In [219]:
getDf()

0
              Unnamed: 1                                 MAKERERE UIVERSITY  \
0                    NaN                   ACADEMIC REGISTRAR'S  DEPARTMENT
1                    NaN  ADMITTED APPLICANTS FOR PRIVATE SPONSORSHIP FO...
2                    NaN                              BSC. Accounting (EVE)
3                 formid  Index_no name gender uace_yr code District cou...
4                    NaN                                               code
5   23APF412304454141015  U0391/673 LUKABWE DOUGLAS MARKM 2022 42 MUKONO...
6   23APF345674424112360  U1249/532 LULE ISAACM 2022 40 MPIGI ACC BSC. A...
7  23APF1361730063122187  U0459/676 HAULAH SULAIT BIIRAF 2022 21 KASESE ...
8   23APF519647933132646  U1611/887 NAMBALYE EVELYNEF 2022 33 MASAKA ACC...
9  23APF1481620160129238  U0083/555 KEMIGISHA  RUSIAF 2022 65 IBANDA ACC...

  Unnamed: 2
0        NaN
1        NaN
2        NaN
3     Tot_wt
4        NaN
5       42.2
6       41.1
7       40.6
8       38.8
9       38.4

NameError: name 'data' is not defined